[2020-04-07 13:34] jeffbaumes opened #1 "Evaluate potential pilot metadata search backend"
Task to track progress of initial MVP backend for current pilot.

[2020-06-05 17:51] jeffbaumes opened #16 "Readme says python >=3.6 but error in 3.6"
I get this error running under Python 3.6

[code]

[2020-06-08 12:29] #16 closed

[2020-07-17 21:22] subdavis opened #42 "Set up linting and typescript build checks for client in CI"
If they fail, they'll break deployment, so they should probably be tested for PRs

Follow-on to #38

[2020-07-20 13:30] jeffbaumes opened #44 "Bottom of popout is unreachable"
I see the following when selecting a field near the bottom of the page

![image](https://user-images.githubusercontent.com/81305/87943083-87fc6d00-ca6b-11ea-8ce2-bbe05a2a3f82.png)

I cannot scroll to see lower in the popout. If I deselect then reselect the same field, it will appear fully on-screen as expected.

[2020-07-20 13:33] jeffbaumes opened #45 "Rename envo fields in UI"
In the UI these fields should use more user-friendly terms

* "env_broad_scale" -> "Environmental biome"
* "env_local_scale" -> "Environmental feature"
* "env_medium" -> "Environmental material"

[2020-07-20 13:35] jeffbaumes opened #46 "Rename Habitat to Environment"
Replace "Habitats" with "Environments" on the main page ("Explore Habitats") and search page ("Habitats" in "I am looking for..." area)

[2020-07-20 13:35] subdavis commented on #44
Yeah, I'm aware of this.  It happens because the content isn't loaded until after the v-menu is opened, so the menu doesn't know how large it will be.

To prefetch, you'd have to make an API call for each facet to the API every time the query changed, which

I think the solution is just to give them all a fixed height.  This will mess up the "description" type boxes where you have paragraphs of te

[2020-07-20 13:36] jeffbaumes opened #47 "Fix front page counts"
Fill in all missing statistics on main page.

[2020-07-20 13:37] jeffbaumes opened #48 "Fix map view to represent all data"
On main page and habitats/samples page, display summary of all data, not paginated data

[2020-07-20 13:38] jeffbaumes opened #49 "Fix sankey to represent all data"

[2020-07-20 13:38] subdavis commented on #47
See https://github.com/microbiomedata/nmdc-server/pull/41 -- this is how it currently looks.

[2020-07-20 13:38] jeffbaumes opened #50 "Fix pie charts to represent all data"

[2020-07-20 13:44] jeffbaumes opened #51 "Fix Study page"
Several of the pieces in the old pilot study page are broken in the new study page, including links to related objects.

Old:
![image](https://user-images.githubusercontent.com/81305/87944424-5e444580-ca6d-11ea-967a-cf6e9e531326.png)

New:
![image](https://user-images.githubusercontent.com/81305/87944519-7fa53180-ca6d-11ea-9dd9-a741fbb572ad.png)

[2020-07-20 13:47] jeffbaumes commented on #44
+1 to fixed height. Could you just have text remain 1 line and ellipsis for overflow so that the full paginated table always fits?

[2020-07-20 13:48] subdavis commented on #44
Yes.

[2020-07-20 13:52] jeffbaumes commented on #47
Excellent, missed that one. Do we have file size on data objects? If so, can we bring back the total size for the "Data" metric?

[2020-07-20 13:53] jeffbaumes commented on #46
Also the "Habitats" stat on the main page should be "Environments"

[2020-07-20 14:17] subdavis opened #53 "api/project/search 500 error"
## Request

[code]

## Response:

[code]

[2020-07-20 15:05] #53 closed

[2020-07-20 15:06] #44 closed

[2020-07-20 15:06] #45 closed

[2020-07-20 15:06] #46 closed

[2020-07-20 18:53] jeffbaumes opened #58 "Add profile pictures to db"

[2020-07-20 19:52] subdavis opened #59 "Reads QC, Metagenome Assembly, Metagenome Annotation 500"
Same error as before.   cc @jbeezley

I rebuilt and cleared existing docker volumes.

[code]

[code]

[2020-07-20 20:39] jbeezley commented on #59
Okay, I clearly need to some integration tests with the actual data.  Should be an easy fix.

[2020-07-20 20:47] #59 closed

[2020-07-20 21:15] subdavis opened #63 "Improper pairing of type and attribute for facet query causes 500"
Low priority

[code]

FWIW, this query was an accident, that pairing of type (metagenome_assemby) and attribute (omics_type) should never have happened.  However, I think this should be a client error rather than a 500.

[code]

[2020-07-20 21:40] #63 closed

[2020-07-21 16:41] #58 closed

[2020-07-21 20:09] subdavis commented on #47
done properly in #65

[2020-07-21 20:09] #47 closed

[2020-07-21 20:20] jeffbaumes opened #71 "Related item counts too high - should match number of results when clicked"
The following link shows a count of 7494 for related items, where there should be a single Metagenome and zero for other types. The button should not be displayed if there are no related items of that type.

http://lb.jbeezley.development.svc.spin.nersc.org/type/biosample/result?c%5B0%5D%5Bfield%5D=id&c%5B0%5D%5Bop%5D=%3D%3D&c%5B0%5D%5Bvalue%5D=gold%3AGb0108342&c%5B0%5D%5Btable%5D=biosample

![ima

[2020-07-21 20:26] #71 closed

[2020-07-22 12:36] jbeezley opened #74 "Allow querying on proxied fields"
Some fields in the database are actually proxies to other tables (e.g. principal investigator name and doi on the study).  Additional logic needs to be added to make these queryable.

[2020-07-22 12:39] subdavis opened #75 "Fix environment visualizations"
In progress

[2020-07-22 12:51] #75 closed

[2020-07-22 13:03] #51 closed

[2020-07-22 13:03] jbeezley opened #79 "Use server-side pagination for search results"

[2020-07-22 13:05] subdavis commented on #79
Agree, though may not get to this this today.

[2020-07-22 13:07] subdavis opened #80 "use api/:type/:id to fetch individual results"
Shouldn't be too hard, but I want to do it such that it works harmoniously with the current routing.

[2020-07-22 13:12] subdavis opened #81 "Add facet groupings to sidebar list"
Group the environment levels, maybe the locations, and everything else into 3 ordered groups.
This is only for the environment page, right @jeffbaumes ?

[2020-07-22 13:13] subdavis opened #82 "Add zeros to show facets with no results for the current condition query."
Show check boxes grayed out.

[2020-07-22 13:13] subdavis opened #83 "Date picker"
Add a date picker for date type facets.

[2020-07-22 13:17] jeffbaumes commented on #81
There are the 5 GOLD environment levels, 2 ENVO terms (the "environmental ..." ones), location related ones, then I'd put everything else into an Other. Not sure what you mean by 3 ordered groups.

[2020-07-22 13:18] jeffbaumes commented on #81
And yes, I don't know that there are any known good grouping ideas for the other types.

[2020-07-22 13:19] subdavis commented on #81
I just meant the groups I had enumerated.  Turns out there are 4 groups (your list) and that order matters (mostly GOLD levels).

[2020-07-22 13:22] jeffbaumes commented on #50
This is now working as expected, as are the bar charts right underneath them.

[2020-07-22 13:22] #50 closed

[2020-07-22 14:51] jeffbaumes opened #85 "Citations not appearing correctly, and title does not appear."
When I first navigate to Mary Firestone's study then go to James Stegen's study page, I get this, where the other publications shows one from Firestone and the citation area is empty.

![image](https://user-images.githubusercontent.com/81305/88191041-004c6500-cc09-11ea-8cd0-7404419659ef.png)

The old pilot had a citiation and two other publications:

![image](https://user-images.githubusercontent.

[2020-07-22 15:03] jbeezley commented on #85
The response to that study has three associated dois.  I'm not distinguishing between the main citation and other publications in the database.  It looks like it is always returning the main citation as the first element in the list, but I don't think that is a guarantee.

The title is in the response as `name`.  Should be an easy fix.

@subdavis I can take care of this.

[2020-07-22 15:14] jbeezley commented on #85
There is also the issue that the old values will appear briefly while the new values are fetched.  I suspect there is some sort standard way of dealing with this.

[2020-07-22 15:15] #85 closed

[2020-07-22 15:21] #49 closed

[2020-07-22 15:33] jeffbaumes opened #88 "Add total number of results text in sidebar"
Something like this would be fine

![image](https://user-images.githubusercontent.com/81305/88196052-be262200-cc0e-11ea-9a87-45f8b8bd8481.png)

I manually added this just before the separator to get this look

[code]

[2020-07-22 15:40] #83 closed

[2020-07-22 15:41] subdavis opened #90 "Refactor common functionality in DateFilter and FloatFilter"
Lot of overlap in these components that could be refactored.  I didn't do it yet because I want to allow for more flexibility after feedback.

[2020-07-22 16:12] #48 closed

[2020-07-22 16:28] jbeezley opened #93 "Add publication doi to the study model"
The study doi is currently listed in related publications.  There needs to be a way to distinguish the two for the web client to work properly.

[2020-07-22 17:45] #93 closed

[2020-07-22 18:20] #82 closed

[2020-07-22 19:15] jeffbaumes opened #98 "Clicking the select all/none button in popup window does not change query state"
For example, in this setup, searching for facet values and clicking the select all checkbox will not change the query state, while clicking a single box in the list will. I see this both when creating a new field query or editing a field query.

![image](https://user-images.githubusercontent.com/81305/88218495-233d4000-cc2e-11ea-9b8b-94c6787360ed.png)

[2020-07-22 19:19] jeffbaumes opened #99 "Increase omics type bar chart height so all labels appear"
Some omics types labels are hidden. The app only seems to hide labels when the window width is large due to a font size increase. Would also be good to add more right padding so the longest bar count is visible.

![image](https://user-images.githubusercontent.com/81305/88218797-8e871200-cc2e-11ea-8623-d9c033cd5b0e.png)

[2020-07-22 19:19] subdavis commented on #98
I left it alone because I wanted to ask if it made sense to have, the forgot about it.

The "select all" feature is sort of dangerous because it could add dozens of conditions, and the result would be no change.

Would it make more sense to just have a "clear" button to clear existing conditions, but remove the header checkbox?

[2020-07-22 19:22] jeffbaumes commented on #98
When I played with it, it appears the select all checkbox will actually only select or clear the current page (at most 10 items) and on a narrowed search like this it makes sense to select all since it won't be a no-op but will be selecting a subset of values.

[2020-07-22 19:25] jeffbaumes commented on #98
I agree that a true "select all" would be of questionable utility, but that is not what the header checkbox actually is apparently.

[2020-07-22 21:00] #88 closed

[2020-07-22 21:00] #98 closed

[2020-07-22 21:00] #99 closed

[2020-07-26 14:57] #74 closed

[2020-07-27 17:45] #81 closed

[2020-07-28 11:05] jbeezley opened #104 "Missing buttons on study info page"
<img width="1195" alt="Screen Shot 2020-07-28 at 7 03 25 AM" src="https://user-images.githubusercontent.com/31890/88657912-9a485d80-d0a0-11ea-9f35-7e1f770eef4e.png">

[2020-07-28 11:33] #104 closed

[2020-07-28 11:40] jbeezley opened #106 "Error thrown when clicking on envo term in biosample page"
[code]

Not sure what's going on here.  I think it would probably be best to show the actual envo term here, which is stored in the response as `env_broad_scale.data.label`.  Then the query can be submitted on the field `env_broad_scale`.

[2020-07-28 11:44] jbeezley opened #107 "Envo filtering dialog does not appear"
Thought this was working before... not sure when it broke.  When clicking on an Envo field, you get
[code]

[2020-07-28 13:15] jbeezley opened #110 "Add search by data object"
![data_objects1](https://user-images.githubusercontent.com/31890/88670197-c40a8000-d0b2-11ea-9578-d91687a487dd.png)
![dataobjects2](https://user-images.githubusercontent.com/31890/88670205-c4a31680-d0b2-11ea-81d4-e43b97f575eb.png)

[2020-07-28 14:29] #106 closed

[2020-07-28 14:29] #107 closed

[2020-07-28 15:15] jbeezley opened #112 "Remove faceting fields that have unique values"
E.g. anything like `name` or `description`.  We still want `principal_investigator_name`.

[2020-08-06 20:27] jeffbaumes opened #121 "Tree view for GOLD terms"
Should start with a mockup

[2020-08-06 20:29] jeffbaumes opened #122 "Tree view for ENVO terms"
Should start with a mockup (same as for #121), but there is also server side work to support pulling the ontology tree (full or dynamic if it's too big) from the server

[2020-08-06 20:29] jeffbaumes opened #123 "Remove GOLD bar and pie charts"
Sankey is more effective, and bars and pie charts are duplicative.

[2020-08-06 20:30] jeffbaumes opened #124 "Focus plus context for omics type bar chart"
Highlight selected data as partially filled bars but keep the context (possibly greyed out).

[2020-08-06 20:31] jeffbaumes opened #125 "Focus plus context for GOLD sankey"
Highlight selected data but keep the context (possibly greyed out).

[2020-08-06 20:31] jeffbaumes opened #126 "Pan/zoom for map view"

[2020-08-06 20:31] jeffbaumes opened #127 "Drag rectangle selection for map view"

[2020-08-06 20:32] jeffbaumes opened #128 "ORCID login"

[2020-08-06 20:33] jeffbaumes opened #129 "Advanced search page"
First requires an updated refined mockup and further feature discussion with NMDC team.

[2020-08-06 20:33] jeffbaumes opened #130 "API review for FAIR/SMART"

[2020-08-06 20:34] jeffbaumes opened #131 "Investigate histogram charts for other fields"
For example, collection date, QC values.

[2020-08-11 13:41] jeffbaumes opened #132 "Full page advanced search design"
Requires meeting to solidify desired feature set before finalizing a mockup and starting implementation.

[2020-08-11 13:44] jeffbaumes opened #133 "Histograms for more metadata fields"
Things like QC, collection date, etc. might benefit from custom visualizations a la [cBioPortal](https://www.cbioportal.org/study/summary?id=msk_impact_2017), though perhaps not so many vis to be too busy.

![image](https://user-images.githubusercontent.com/81305/89904670-356c2780-dbb7-11ea-9add-f77daf81ffac.png)

[2020-08-11 17:52] #129 closed

[2020-08-13 18:46] #123 closed

[2020-08-13 20:11] subdavis commented on #124
Turns out GCharts are pretty powerful and will do a lot of what we want.

![Screenshot from 2020-08-13 16-10-47](https://user-images.githubusercontent.com/4214172/90182193-95152f00-dd7f-11ea-8ece-91b640610097.png)

[2020-08-13 20:13] jeffbaumes opened #136 "Investigate caching DOI on ingest"
It is not performant to hit the DOI service every time, and it often does not appear for a few seconds.

[2020-08-13 20:15] jeffbaumes opened #137 "Add google analytics"

[2020-08-13 20:16] jeffbaumes opened #138 "Add error and performance instrumentation"
Look at honeycomb, launch darkly, sentry

[2020-08-13 20:18] subdavis commented on #124
Note that, without any conditions selected, you have the regular bars.  I switch to 100% width after conditions are added because the scaling makes it hard to see distinction across bars.

![Screenshot from 2020-08-13 16-16-54](https://user-images.githubusercontent.com/4214172/90182838-8bd89200-dd80-11ea-8e05-f28f080aac80.png)

[2020-08-13 20:36] jeffbaumes commented on #124
Could you show an example of a filter without changing to 100% width? Is it that you can't see small numbers of items filled in? The textual representation of the amount would seem to compensate for that. I'm not loving the fact that the same amount of ink does not mean the same amount of data across the bars in the vis.

[2020-08-13 20:37] jeffbaumes commented on #124
Maybe you are showing that :) Perhaps a "X / Y" label for showing X out of Y selected would alleviate the issue best.

[2020-08-13 20:40] subdavis commented on #124
Here's the same search with both modes:

![Screenshot from 2020-08-13 16-39-52](https://user-images.githubusercontent.com/4214172/90184812-b5df8380-dd83-11ea-810d-cc6e8dfc1e6e.png)
![Screenshot from 2020-08-13 16-40-05](https://user-images.githubusercontent.com/4214172/90184815-b6781a00-dd83-11ea-84aa-c6f63140bccf.png)

[2020-08-13 20:46] jeffbaumes commented on #124
This is probably a user group question, but I have a preference to normally scaled bars with a label along the lines of "3 / 8" for your example (and "0 / X" for the other bars).

Also, I think the unselected portion should be a lighter gray, maybe matching the country fill color on the map.

[2020-08-13 20:49] subdavis commented on #124
It's trivial to change, let's go with your preference for now.

[2020-08-14 17:09] #124 closed

[2020-08-17 18:36] subdavis commented on #112
did some of this, I'll do more.

[2020-08-18 11:59] subdavis opened #141 "Minor UI tweaks"
- [ ] Change chip box bg color
- [ ] Change chip to be outlined
- [ ] Make entire checkbox row clickable

[2020-08-19 17:46] #79 closed

[2020-08-19 17:49] subdavis commented on #90
Since I wrote these in TS, the options are either to bring in composition API and use composition functions or to ditch typescript and use mixins.  I'm not wiling to do either, so I'll leave them as is for now.

[2020-08-19 17:49] #90 closed

[2020-08-19 17:50] subdavis commented on #112
Turns out I did this already and forgot.

[2020-08-19 17:50] #112 closed

[2020-08-20 16:11] jbeezley commented on #128
Closed by #143

[2020-08-20 16:11] #128 closed

[2020-08-20 20:15] subdavis commented on #122
This seems to be lower priority while user feedback is gathered.   Un-assigning myself for now.

[2020-08-20 20:23] subdavis commented on #133
Collection date seems like it might be a decent place to start.   Depth might also be fun.

[2020-08-20 20:39] #121 closed

[2020-08-24 18:42] jeffbaumes opened #148 "Have a page for logged-in user's studies"
Match the ORCID of the logged in user.

[2020-08-24 18:48] jeffbaumes opened #149 "Login through UI"
Standard upper-left login/username display, logout option.

[2020-08-24 18:56] jeffbaumes opened #150 "Server side support for hierarchy queries"

[2020-08-27 15:28] subdavis commented on #149
closed in #152

[2020-08-27 15:28] #149 closed

[2020-08-27 15:34] #141 closed

[2020-08-31 18:53] jeffbaumes opened #154 "Use DB migrations instead of full ingest on deploy"
Use upsert instead of create

[2020-09-02 21:35] cmungall opened #156 "populating envo_ancestor"
`populate_envo` builds the initial edge list, and restricts to is_a - I recommend also including part_of (BFO:000050)

Also I may be misreading but it looks like `populate_envo_ancestor` uses recursion without memoization which may be inefficient... this is the code we use for relation-aware ontology graph traversal: https://github.com/biolink/ontobio/blob/54a7fe404bf396dacd8f8913e61da3966c8612fc/

[2020-09-08 18:56] jbeezley opened #159 "FacetChart removes query conditions on omics_type"
I don't know if this is intentional or not, but it seems counter-intuitive that when you filter on a specific omics_type, the bar chart shows results containing other types.

E.g.

http://lb.nmdc-dev.development.svc.spin.nersc.org/type/project/search?c%5B0%5D%5Btable%5D=project&c%5B0%5D%5Bfield%5D=omics_type&c%5B0%5D%5Bop%5D=%3D%3D&c%5B0%5D%5Bvalue%5D=Lipidomics

[2020-09-09 15:24] jeffbaumes opened #163 "Add binning for faceted endpoint for continuous values"
For e.g. dates and numerics

[2020-09-10 18:49] subdavis commented on #133
Dates done in #164

[2020-09-11 17:06] jeffbaumes commented on #159
The chart is supposed to show grey bars for unselected data, and show the selected counts instead of the total. The environments bar chart does this (see below for example) but it looks like this one doesn't. @subdavis could you investigate?

http://lb.nmdc-dev.development.svc.spin.nersc.org/type/biosample/search?c%5B0%5D%5Bfield%5D=omics_type&c%5B0%5D%5Bop%5D=%3D%3D&c%5B0%5D%5Bvalue%5D=Proteomics

[2020-09-11 17:24] #159 closed

[2020-09-11 17:24] jeffbaumes commented on #159
Ah, yep, makes sense, thanks for fixing.

[2020-09-11 17:35] jeffbaumes opened #166 "Collection date should be officially in the DB schema as a date"

[2020-09-12 18:12] #166 closed

[2020-09-14 18:41] jeffbaumes commented on #150
Fixed in #162

[2020-09-14 18:41] #150 closed

[2020-09-14 18:42] jeffbaumes opened #168 "Use new tree endpoint from client"

[2020-09-14 18:51] jeffbaumes opened #169 "Add "Output read bases" histogram for Reads QC data"
This would be an example of a numeric histogram

[2020-09-18 15:30] #154 closed

[2020-09-23 20:17] subdavis opened #172 "Date Histogram Options are bad"
* GCharts doesn't have a good date histogram.
* I tried to use https://github.com/oguzhaninan/vue-histogram-slider, but it's horribly buggy.  I managed to get it to render, but all the interactions are perilous.

![Screenshot from 2020-09-23 16-14-59](https://user-images.githubusercontent.com/4214172/94064629-f6d1ab80-fdb7-11ea-9b02-7d6fe6b07161.png)

Click-and-drag to zoom was added in a recent v

[2020-09-24 15:14] jeffbaumes commented on #172
Thanks for trying to find something else. At this point I agree we probably want to do something custom D3.

[2020-09-24 18:59] jeffbaumes opened #173 "Add "integer" to numeric types."
I get `Unknown entity type for metagenome_assembly: num_input_reads: integer` when trying to edit a num_input_reads filter. Looks like it is integer type, but the numeric type check only checks against `['float', 'number', 'string']` in ConditionChips.vue.

[2020-09-25 17:56] #172 closed

[2020-09-25 18:13] #173 closed

[2020-09-25 18:15] #169 closed

[2020-09-25 18:47] jeffbaumes opened #178 "Should say "update filter" when editing an existing filter"
Currently it says "Add Filter"

![Screenshot from 2020-09-25 14-45-30](https://user-images.githubusercontent.com/81305/94304741-07ac2980-ff3e-11ea-9c8c-9fcc3a4dda5e.png)

[2020-09-28 18:33] #1 closed

[2020-10-16 13:13] subdavis opened #181 "Usability feedback action items."
# Priority: high

- [x] Toggle selects for filtering for all appropriate graphics.
- [x] Animations when filters change
- [x] Info/Guide tooltips on some visual elements (Sankey, bar, range selector)

# Priority: lower

Mostly because these would involve forking an upstream library, so the implications for cost/benefit for longer-term maintenance are different.  I'll take a look at the options of

[2020-10-16 14:39] faiza-a commented on #181
@subdavis Looks good, thanks!
and yes I agree filters look fine as is. Moving it on top won't be a good idea.
Also I will see if i can find some ideas for the filter change animation.

[2020-10-19 16:36] jeffbaumes commented on #181
Thanks for putting this together. I'm good with moving forward with the high priority items.

[2020-12-02 22:33] jeffbaumes opened #188 "Check whether there is a valid GOLD link on omics processing"
http://lb.nmdc-dev.development.svc.spin.nersc.org/type/project/result?c%5B0%5D%5Bfield%5D=id&c%5B0%5D%5Bop%5D=%3D%3D&c%5B0%5D%5Bvalue%5D=emsl%3A499400&c%5B0%5D%5Btable%5D=project

Click on “Open in GOLD”. There is a null value error.

Perhaps gray out the link, or fix the value if it should be available.

[2021-01-13 20:19] subdavis opened #190 "Discussion of Hierarchical Search"
I sat down to draft an API, and I couldn't shake the feeling that a bit more clarity was needed.

-----------

After giving this some more thought, I really can't get my head around the idea of combining Studies, Samples, and Omics Types into a single search interface.  You end up needing tabs because there are too many concepts on the page at once.

* I do not understand if this combined view is

[2021-01-13 21:03] jbeezley commented on #190
IMO, this is key:

More generally, the search result type is mixed in with filtering condition UI.  We should find a way to make one part of the UI deciding what you are looking for, and another part providing the filtering conditions.  This will actually match better the way the backend is structured anyway.  There are tables that contain filterable conditions that can't be the target of a search

[2021-01-13 21:05] jbeezley commented on #190
One more thing, your drawing makes the search interface more explicit and less general.  E.g. we need to add UI code if a new attribute is added rather than just having it show up in the results. This is probably the direction we want to go anyway as we are finding that most of the attributes don't have any particular usefulness in search.

[2021-01-14 01:44] kfagnan commented on #190
Thanks, Brandon. It will be useful to talk through this at tomorrow's
meeting.

I agree that some of the understanding of the navigation and filters was
getting confused, however, I want to make the point prior to tomorrow's
meeting that the team is adding a lot of missing metadata right now that
will be available next week.

1) Each data object will have a sample associated with it (there will be

[2021-01-14 14:01] subdavis commented on #190
I didn't' realize there were comments on figma when I wrote this.  There are a lot of [modes of communication](https://xkcd.com/1254/)

I'll respond here because many of these are direct action items.

I took that sketch from miro and let it guide my proposal above.

Noted.  We can either put a table header "# samples found" at the top, or even rename the "environments" page to be "samples" maybe?

[2021-01-14 15:39] kfagnan commented on #190
On Thu, Jan 14, 2021 at 06:01 Brandon Davis <notifications@github.com>
wrote:

yes, were attempting to consolidate to slack, GitHub, and occasional
emails... not sure how that will succeed. Figma comments seemed to be the
easiest way to let the whole team provide feedback on the design.

Thanks for responding here, I’ll pull this up in the Aim 3 discussion today.

[2021-01-14 17:58] subdavis commented on #190
Here's a more explicit version:

Now, the filters are fixed.  You can filter whatever you want by any facet.

The results tabs have moved to the top (pretend all the chips are there, or maybe we leave the other 4 pages like they were, IDK how that fits into this).

So your filtering is now totally independent of your search results.

![Anotherone](https://user-images.githubusercontent.com/4214172/

[2021-01-15 18:22] dwinston commented on #190
@subdavis I love this. Filtering and Selection/Projection (what is retrieved and how it is displayed) are separated.

[2021-01-15 18:52] dwinston commented on #190
I wonder if this can be adjusted to accommodate consistent display of tabular results, but dynamic display of graphical filter affordances like the existing map/timeline graphical filters, but particular to a selected perspective (study, omics type, envionment, or function). Here's a quick sketch:

![image](https://user-images.githubusercontent.com/1497854/104766581-d350b900-5738-11eb-8a26-9b79c22

[2021-01-15 18:55] subdavis commented on #190
@dwinston this makes a lot of sense to me as long as there exists a consistent way to display results.  Which of the figma mockup result lists would you choose for the consistent results box?

[2021-01-15 19:19] kfagnan commented on #190
I think it was agreed in the meeting that the sample result list would be
used with the study filter. I'll call it option B since that's what Faiza
showed second.

On Fri, Jan 15, 2021 at 10:56 AM Brandon Davis <notifications@github.com>
wrote:

[2021-01-15 19:21] jeffbaumes commented on #190
Agreed @kfagnan. We want to begin implementation of Faiza's interactive prototype, except that instead of filter buttons per sample there is a study list above the sample list whose main feature is to show the name, PI, and a "filter by this study" button which will add that study's ID to the active search, which will in turn subset the samples shown.

Also, we do not need to show the link to GOLD

[2021-01-15 20:03] subdavis commented on #190
* Study-on-top (Option A) https://www.figma.com/file/PMh2xvausdMup3AQtL1mhj/Search-by-KO-Terms-UI?node-id=209%3A10
* Sample (option B) https://www.figma.com/file/PMh2xvausdMup3AQtL1mhj/Search-by-KO-Terms-UI?node-id=178%3A0

As Jeff points out, I believe the sample table will look like option B, and there will be another table or list for filtering studies.  Are we planning to do a mockup of that?

[2021-01-15 20:11] jeffbaumes commented on #190
My thinking is to go right to implementation of the study selection at this point and iterate afterward. A poor man's design (just a screenshot from the study result page):

![image](https://user-images.githubusercontent.com/81305/104773785-9807b780-5743-11eb-8a24-f204c211649b.png)

To the right on each study could be a button: [(filter icon) FILTER BY THIS STUDY].

[2021-01-15 20:46] jeffbaumes commented on #190
Simplest in my mind is a button that literally adds the study ID to the global search, thus when clicked the other studies go away. If a particular study ID is already in the global search, the button could read [CLEAR STUDY FILTER] which would as it suggests remove the study filter and all studies with results would appear again. There are many ways to allow this toggling, this is just one I coul

[2021-01-15 21:12] kfagnan commented on #190
Agree with Jeff's assessment (FWIW).

[2021-01-19 20:59] subdavis opened #191 "Function Search Page API"
## Query params

As before, everything that accepts a query will follow the same schema.  Here is a declaration of all the schemas.

New bits are maked `NEW`, and the old bits are kept for contextual relevence.

[code]

## Study API

I don't think the study list is filtered by the active query.  I believed that there would be aggregations of omics data at the study level, but I don't see that in o

[2021-01-19 21:14] jeffbaumes commented on #191
If it is an easy lift we may want to have some simple aggregations (# of samples that match the search, # of each omics type), but also ok for now to just have the study name and PI displayed.

[2021-01-19 21:16] jeffbaumes commented on #190
Faiza did a bit more work on what the study list could look like that is better than my rough idea, this should hopefully link to the specific mockup (Functions Screen iteration 3): https://www.figma.com/file/PMh2xvausdMup3AQtL1mhj/Search-by-KO-Terms-UI?node-id=248%3A18

[2021-01-19 21:18] subdavis commented on #191
Updated `StudySearchResults` to match.

[2021-01-19 22:25] kfagnan commented on #191
I think the aggregations of omics data at the study level came up in prior
discussions and will be valuable to the users. Agree that it can be added
later if it's too much right now.

On Tue, Jan 19, 2021 at 1:14 PM Jeff Baumes <notifications@github.com>
wrote:

[2021-01-19 23:04] kfagnan commented on #190
Thanks, Jeff and Faiza - this is a great iteration.

I got feedback from the team at today's implementation lead meeting.

There is consensus on checkboxes + "filter by these/this studies/study".

There is also consensus on the need for a the aggregated omics information
under studies. The ask if if you can take the tiles from the home page -
#studies, #metagenomes, #metaproteomes, etc and carry t

[2021-01-19 23:05] kfagnan commented on #191
Retraction - we will need the simple aggregations of omics data at the
study level to provide the statistics to help users navigate the data
portal - as discussed in the hierarchy issue.

On Tue, Jan 19, 2021 at 2:25 PM Kjiersten Fagnan <kirsten.fagnan@gmail.com>
wrote:

[2021-01-20 00:58] pvangay opened #192 "Results summary of samples x studies x omic types"
One thing that users have asked for and we still haven't quite provided is a way to summarize the relationships between samples and omic types (the homepage stats are great but do not provide insight into how all of the data are related). I mocked up an [upset plot](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4720993/) as I find that this representation is much cleaner than my janky idea of a ven

[2021-01-20 01:17] kfagnan commented on #192
@subdavis @jeffbaumes @dehays @jbeezley check out this new summary view that Pajau has put together. Would it be possible to have a summary plot like this?

[2021-01-20 18:29] jeffbaumes commented on #192
I like this idea and have worked with Upset plots in the past. Let's get the general summary info in there (@kfagnan mentioned this in the hierarchy issue #190) and then see if we can further break things down with a visualization like this.

[2021-01-20 18:49] kfagnan commented on #192
Thanks for naming the plots. Agreed on the general aggregation summary info
and then moving in this direction.

On Wed, Jan 20, 2021 at 10:29 AM Jeff Baumes <notifications@github.com>
wrote:

[2021-01-21 19:24] jbeezley commented on #191
Just a few minor corrections now that I'm working on implementing this.
* `principal_investigator_name` is not a new attribute
* I'm 99% sure what you mean by `OmicsPipeline` is actually [`OmicsProcessing`](https://microbiomedata.github.io/nmdc-metadata/OmicsProcessing/) which in the api is `Project`.  (We should probably prioritize changing that once this sprint is done.)
* `OmicsDataObject` will

[2021-01-21 19:49] subdavis commented on #191
cool

Looks right to me

As long as it includes some version of those fields, that's fine.

It would be nice to not have the extra layer of api calls.

I was hoping for...

* 1 call to get the list of samples (including aggregations about their omics processing summaries)
* 1 additional call for each sample, which gives a list of all omics processing pipelines including all files for each.

So som

[2021-01-21 19:50] jeffbaumes commented on #191
@kfagnan mentioned the below on #190, so I believe the answer is that it is important to summarize the sample and omics types counts **taking into account the current search**, so denormalization would not be an option here:

[2021-01-26 16:31] jeffbaumes commented on #192
See #199 for a start of an implementation with example data.

[2021-01-29 18:53] jbeezley opened #213 "Simplify study search query"
Performing the aggregations inside the study search endpoint is extremely inefficient and is currently taking somewhere on the order of 10 seconds.  It will be much faster (on par with the other search endpoints) with either lateral joins or custom written raw sql.

[2021-02-03 19:23] jeffbaumes opened #220 "Enable file download from UI"

[2021-02-03 19:43] jeffbaumes opened #221 "Add units (cm) for depth and possibly other fields"

[2021-02-03 19:53] jeffbaumes opened #222 "Update visualization"
* Map
* Omics types
* Timeline
* UpSet chart (static data for now)

Put others off in another tab or tabs.

[2021-02-03 20:00] jeffbaumes opened #223 "Add all sample metadata to new UI page"
Except for "subsurface depth"

[2021-02-03 22:13] jeffbaumes opened #224 "Study landing page seems broken, always shows Stegen"
Seems to be hitting a "Principal Investigator not found" error, e.g. on this page

https://data.microbiomedata.org/type/study/result?c%5B0%5D%5Bfield%5D=id&c%5B0%5D%5Bop%5D=%3D%3D&c%5B0%5D%5Bvalue%5D=gold%3AGs0114663&c%5B0%5D%5Btable%5D=study

[2021-02-04 02:25] jbeezley commented on #224
I suspect this is due to the cached study result page.  When a new ingest happens the principal_investigator_id will change.  We can set a static id by providing it as a keyword argument [here](https://github.com/microbiomedata/nmdc-server/blob/master/nmdc_server/ingest/study.py#L31).

[2021-02-04 18:03] subdavis commented on #220
done in #226

Note that we don't seem to have data download urls right now, so they 404.

[2021-02-04 18:03] #220 closed

[2021-02-04 18:04] subdavis commented on #221
done in #225

[2021-02-04 18:04] #221 closed

[2021-02-04 18:05] subdavis commented on #223
Done in #225

[2021-02-04 18:05] #223 closed

[2021-02-04 21:20] jeffbaumes commented on #222
I think this one's done, thanks @subdavis

[2021-02-04 21:20] #222 closed

[2021-02-04 21:22] jeffbaumes opened #230 "Display raw input files"
For many of the omics_processing objects, there should be a raw file that is not listed as part of a workflow execution. We should have the API return these data objects in a dummy "Raw data" workflow execution.

[2021-02-04 21:24] jeffbaumes opened #231 "UpSet plot tweaks"
* Show counts next to bars
* Hover for full omics type (e.g. hover over "MB" to show "Metabolomics" as a tooltip)

[2021-02-04 21:25] jeffbaumes opened #232 "Update paired sample counts in UpSet"
Have counts accurately reflect current data

[2021-02-04 21:27] jeffbaumes commented on #231
@subdavis I had assigned this to me but if you get around to tackling this just let me know.

[2021-02-05 00:17] jbeezley commented on #220
Download urls are derived from the [data object id]( https://data.microbiomedata.org/docs#/data_object/download_data_object_api_data_object__data_object_id__download_get).  That endpoint should redirect.  If it 404's then it means a url was not given during the ingest.

[2021-02-05 00:19] jbeezley commented on #220
Nevermind, I see from the deployed site, you are getting the correct url.  I know some of the objects did have urls, but it seems many don't.

[2021-02-05 19:45] jeffbaumes opened #233 "Replace "Metagenome" with "Metatranscriptome" in metaT analysis workflow names"
This will eventually be fixed in the incoming JSON, but for now we should manually replace it in the UI.

[2021-02-05 19:47] jeffbaumes opened #234 "Group organic matter into a single button"
At least for now, aggregate all files from all organic matter omics_processing objects into a single list. Under the workflow column, we could place the omics_processing IDs or keep that column blank - whatever is convenient for now.

[2021-02-05 19:49] jeffbaumes opened #235 "Create mechanism for ingesting full KEGG annotation data"
This could be a manual post-process step for now.

[2021-02-05 19:50] jeffbaumes opened #236 "Hide lipidomics processing for now"
Since they will probably come back in the future with useful data attached, it is probably best to just filter them out of the UI for the time being instead of changing the DB or API.

[2021-02-08 19:22] #233 closed

[2021-02-08 19:22] #234 closed

[2021-02-08 19:22] #236 closed

[2021-02-08 19:49] jeffbaumes opened #238 "Add redirect URL for downloads, null otherwise"
So the client can hide nonfunctional download buttons

[2021-02-08 19:52] jeffbaumes opened #239 "Don't reset download log table on deploy"

[2021-02-09 15:06] jeffbaumes opened #241 "Remove lipidomics from bar chart"
Since it's being removed from the sample search results, probably makes sense to remove lipidomics from the bar chart as well.

[2021-02-09 15:10] subdavis commented on #241
Should we check on that?  We want to hide the download tab because there's nothing useful to download.

The search allows people to find samples where lipidomics has been run at all, which seems different to me.

Removing it is no problem, but everything we remove like that makes the UI less visually interesting.

[2021-02-09 19:31] jeffbaumes commented on #241
Just seems surprising to click on lipidomics and not see any lipidomics in the search results. I expect both this change and the change in the search results will get backed out in the future.

[2021-02-09 19:31] jeffbaumes commented on #241
This could wait until Thursday's meeting to discuss.

[2021-02-10 16:17] #238 closed

[2021-02-10 22:27] jeffbaumes opened #243 "Metatranscriptome and metaproteome data seems to mostly be missing"
Track down the source of this missing daata

[2021-02-10 22:27] jeffbaumes opened #244 "Sample count should be in the thousands"
We currently only see 158 in the portal, track down the missing data

[2021-02-10 22:29] jeffbaumes opened #245 "Improve download UI for non-logged-in user"
Indicate that a user needs to login to download. Perhaps disable download button with hover text saying "log in to download".

[2021-02-10 22:30] jeffbaumes opened #246 "Do not display download button when download url is not available"

[2021-02-10 22:34] jeffbaumes opened #247 "There should be five metagenomics workflow activities and some files are missing"
There should be a Reads workflow activity (and one other), and some files like "structural annotation GFF" seem to be missing. Does the server API or client somehow cut off these files? Are they being ingested properly from mongo?

[2021-02-10 22:43] jbeezley commented on #244
There are 954 in mongo.  I suspect it is going from 954 -> 158 due to the study filter we do on ingest.  So, maybe there is a bug there.

[2021-02-10 22:46] jbeezley commented on #247
There are definitely more than 10 files being returned by the biosample search endpoint.  I think the client is limiting them somewhere.

[2021-02-11 12:47] jbeezley commented on #244
According to David, 158 is approximately correct.

[2021-02-11 12:47] #244 closed

[2021-02-11 14:07] jeffbaumes commented on #230
Assigning @subdavis to add the client side support for this now that server-side is there. I originally thought to have the client see this as a workflow step from the server API (requiring no client change) but I like explicitly having it as the output of the project.

@subdavis please add this to the client as a data object row with the workflow step "Raw data".

[2021-02-11 19:13] #245 closed

[2021-02-11 19:13] #246 closed

[2021-02-11 19:14] subdavis commented on #247
Fixed in #249

[2021-02-11 19:14] #247 closed

[2021-02-11 19:14] subdavis commented on #243
Fixed in #249

[2021-02-11 19:56] jeffbaumes opened #252 "Make placeholder for download button to keep table row height consistent"
Pages of data objects end up being different sizes because of this, making the pagination buttons shift a bit so you need to move your mouse each time. Not high priority, but a bit annoying.

[2021-02-11 20:06] jeffbaumes commented on #243
I'm still seeing at least some empty (no data object) transcriptomes, reopening to track this

[2021-02-11 20:11] jbeezley commented on #243
I think there have been changes to the source data since we last ingested.  The ingestion no longer happens on deploy out of necessity.  I'll have the code to manually trigger an ingest ready soon, then we can check if they are still missing.

[2021-02-11 20:49] subdavis opened #253 "Do the values in this study list look correct?"
![Screenshot from 2021-02-11 15-49-13](https://user-images.githubusercontent.com/4214172/107697065-bf896b80-6c80-11eb-91de-5f3df54cf2c9.png)

[2021-02-11 21:27] jeffbaumes commented on #243
Ok it appears proteomics is there and transcriptome is there apart from URLs, so this particular issue is resolved now.

[2021-02-11 21:27] #243 closed

[2021-02-11 21:29] subdavis opened #254 "Progress Indicator in facet dialogs"

[2021-02-11 21:46] jeffbaumes commented on #253
@dehays could you verify that these new numbers make reasonable sense?

[2021-02-11 21:53] #239 closed

[2021-02-11 22:22] dehays commented on #253
I think that the metagenome annotations are double represented.  This is the Stegen study for which JGI sequenced 50 metagenomes (and 0 metatranscriptomes).  So the assemblies and readQC and metaG annotations would be 50:50:50.  (It is possible that we have both the old and the new (IMG) annotations activities.). MAGs at 50, also expected.  I'll look into why there are twice the expected number of

[2021-02-12 01:47] #254 closed

[2021-02-12 13:21] jeffbaumes commented on #252
Moving the pagination to the top would also help with it not popping up high on the last un-full page, is that an easy fix? I still think consistent row height is good to have for aesthetics regardless.

[2021-02-13 00:05] kfagnan opened #259 "Can size of text in sankey plot be increased."
![image](https://user-images.githubusercontent.com/1504015/107834721-e52f7700-6d4b-11eb-9cf1-4992670fb030.png)

Image shows text that some find too small to see in the sankey plot. Suggest increasing the size of the text.

Full comment
"Texts in the boxes are hard to read. And can we not use those big boxes? A pie chart may be more informative."

[2021-02-13 00:07] kfagnan opened #260 "Explain/define elements in upset plot"
![image](https://user-images.githubusercontent.com/1504015/107834812-3b9cb580-6d4c-11eb-917e-455cff74d59d.png)

Feedback:
* Need to explain what are "MB, MG, ..."

[2021-02-13 00:08] kfagnan opened #261 "Hide empty fields"
![image](https://user-images.githubusercontent.com/1504015/107834901-86b6c880-6d4c-11eb-8ed1-d8c74e9409a5.png)

Feedback:
from stegen page - can we hide fields that dont have values?

[2021-02-13 00:10] kfagnan opened #262 "Modify subsurface entry"
![image (1)](https://user-images.githubusercontent.com/1504015/107834953-b4037680-6d4c-11eb-984a-276cb99ba21f.png)

Feedback:
Subsurface depth - needs units, and to be specific - subsurface to what? soil, sediment, Mars?

This is another where I'm not sure if this can/should be addressed here or in another part of the system. @cmungall @wdduncan @dehays

[2021-02-13 00:14] kfagnan opened #263 "Navigation between sections is difficult/confusing"
This may already be a known issue or duplicate.

Feedback:
"when select "Gene function" the top L menu area disappears. ALso happens on PI pages, so hard to figure out how to get back."

[2021-02-13 00:16] kfagnan opened #264 "Empty metagenome assembly display"
![image (1)](https://user-images.githubusercontent.com/1504015/107835234-9a166380-6d4d-11eb-82ee-3a6b24b3226e.png)

See errors in the image.

[2021-02-13 00:18] kfagnan opened #265 "Should we keep the histograms on the analysis pages"
![image (1)](https://user-images.githubusercontent.com/1504015/107835292-d053e300-6d4d-11eb-89c5-e4e28dfc2990.png)

Feedback: What is the meaning of these plots?  Data available from NMDC metaG assemblies?  Usually users would not care about it. They want to know for specific studies, what the data distribution may look like.

I think we may need a session with the pipelines/workflows group to dec

[2021-02-13 00:20] kfagnan opened #266 "Change display names associated with metagenome assemblies"
![image (1)](https://user-images.githubusercontent.com/1504015/107835341-114bf780-6d4e-11eb-89a5-3171315118c8.png)

Feedback:
Not sure about the value of listing a collection fo assemblies with encrypted ID numbers.

Possibly linked to the tooltip issue - https://github.com/microbiomedata/nmdc-metadata/issues/262

[2021-02-13 00:21] subdavis commented on #263
The other parts of the application are essentially not supposed to be part of the current app.

The gene function search page replaces them, based on the feedback that searching between tabs and having to change tabs to get to filter conditions is too confusing.

The search conditions between the old pages and the new gene search page are not related, which is also confusing.

Should we disable al

[2021-02-13 00:30] cmungall commented on #262
Can I see the underlying json?

I don't see subsurface in the schema but depth and all like fields take a complex QuantityValue as range, which has a slot for units

https://microbiomedata.github.io/nmdc-metadata/depth/

[2021-02-13 00:31] kfagnan opened #267 "Create descriptive labels for sections on the data portal"
![image (1)](https://user-images.githubusercontent.com/1504015/107835836-b7e4c800-6d4f-11eb-8a0f-5159f03a5de2.png)

Feedback: Need more descriptive labels for the user. For example, "Git url" is actually the workflow used, including the version number. "Data Objects" is the term we used internally for communication. For end users, they will look for common words like "workflow results."

[2021-02-13 00:33] kfagnan opened #268 "Bug report - long bars with 0"
I think the shaded areas represent the total, but with 0 next to the end, it looks a bit strange. Maybe representing as a fraction 0/X would help show what is meant?

![image (1)](https://user-images.githubusercontent.com/1504015/107835904-fe3a2700-6d4f-11eb-8f27-a614695e5105.png)

Feedback:
Bug report.

Why the first "0" comes with such a long bar? Are the numbers correct?

[2021-02-13 00:35] kfagnan opened #269 "Change text for organic matter characterization"
I think there have been a few requests around this, tagging @corilo since I think he's the subject matter expert on how we should refer to this data.

![image (1)](https://user-images.githubusercontent.com/1504015/107835966-3f323b80-6d50-11eb-8b90-6054c2fc2d7d.png)

Feedback:
Can we just use "organic matter" instead of with the word "characterization" in the label? We can still show the long name

[2021-02-13 00:41] kfagnan opened #270 "Add links to documentation for different terms"
![NMDC Brainstorming - Frame 3](https://user-images.githubusercontent.com/1504015/107836165-fdee5b80-6d50-11eb-8153-579058d16396.jpg)

Not sure how to create links from the facets out to things like ENVO, but the image captures the feedback for discussion.

I think the basic challenge is - for folks who don't know what ENVO or other terms are, how can we provide a path for them to learn?

[2021-02-13 00:43] kfagnan opened #271 "Standardize terms, e.g. locations"
![image_1](https://user-images.githubusercontent.com/1504015/107836256-4d348c00-6d51-11eb-9937-accaccb586f2.png)

Feedback:
Is location going to be standardized at a certain level to prevent duplicates like Ohio and Ohio, USA?

[2021-02-13 00:45] kfagnan opened #272 "Clarify meaning of map objects"
![image (1)](https://user-images.githubusercontent.com/1504015/107836318-92f15480-6d51-11eb-9d6c-4136f41d79ec.png)

Feedback:
Can this be fill in with something more useful? is 48 the number of samples? maybe remove "color"?
Can there be a ? or help icon on the map to let people that they're able to click the points? or explaining that points correlate to sample size? what does the green color eve

[2021-02-13 00:47] kfagnan opened #273 "Update descriptions in study display"
![NMDC Brainstorming - Frame 4](https://user-images.githubusercontent.com/1504015/107836419-ed8ab080-6d51-11eb-8fbc-c4542211f132.jpg)

Content in the image.

[2021-02-13 00:49] kfagnan opened #274 "Update study view with additional column, description information"
![NMDC Brainstorming - Frame 5](https://user-images.githubusercontent.com/1504015/107836484-232f9980-6d52-11eb-86c0-f63613ccd51c.jpg)

Connects to - https://github.com/microbiomedata/nmdc-metadata/issues/262

Suggesting a column for the additional descriptions. See image.

[2021-02-13 00:52] kfagnan opened #275 "Change "Facet" label to "PI name""
![image (1)](https://user-images.githubusercontent.com/1504015/107836649-b668cf00-6d52-11eb-9c34-20eba56e7935.png)

Facet should be PI name.

[2021-02-13 00:54] kfagnan opened #276 "Update Item Attributes"
![NMDC Brainstorming - Frame 6](https://user-images.githubusercontent.com/1504015/107836698-e7490400-6d52-11eb-92c7-103738b92493.jpg)

See figure for details. Maybe some attributes can be removed.

[2021-02-13 01:53] corilo commented on #269
I  would keep it as natural organic matter,  which is the correct term for this type of analysis

[2021-02-15 14:56] jeffbaumes commented on #268
You are correct in the interpretation. Yes we could do 0 / X for clarity.

As for the long bar, there are many times more organic matter omics_processing than everything else, due to the fact that it is run on several subsamples (10-15 per sample) and each counts as an omics_processing.

[2021-02-15 16:44] jeffbaumes commented on #263
In one way or another, we should "fix the Frankenstein".

1. I think in order to fully realize the new UI, we need to change the main buttons from the main page to link to the new search page with different visualizations visible so they are "focused" on environments, omics types, gene function. The idea is to have all important search facets visible at all times in the sidebar, and all visualizat

[2021-02-15 16:46] jeffbaumes commented on #260
This is covered in #231 where we have the task "Hover for full omics type". Closing duplicate.

[2021-02-15 16:46] #260 closed

[2021-02-15 18:56] #231 closed

[2021-02-15 18:56] #232 closed

[2021-02-16 16:59] dwinston opened #285 "accommodate "KO:" prefix for KO term search"
For example, if I search for `KO:K19055`, I get 0 results (and I see a 500 error in the browser console), whereas if I put in `K19055`, I get 70 results. Given the formatting of Sam Purvine's spreadsheet of example KO terms (see aim3_integration slack channel) that include the `KO:` prefixes, I imagine many users may copy-paste prefixed KO terms into the search and assume there are no results, whe

[2021-02-16 17:41] subdavis commented on #285
Sure, this should be pretty easy to do.

[2021-02-16 20:36] subdavis opened #286 "DOI.org throwing CORS errors"
Looks like they've added CORS headers

This will supersede #136

[2021-02-16 21:18] dehays opened #287 "Fix capitalization on labels"
![image](https://user-images.githubusercontent.com/39346271/108122414-1adca480-7059-11eb-9824-c82a857d878e.png)

"Mags analysis" should be "MAGs analysis".
"Nom analysis" should be "NOM analysis"

FYI
MAG == Metagenome Assembled Genome
NOM == Natural Organic Matter

[2021-02-16 21:20] dehays opened #288 "Corrections to top page"
![image](https://user-images.githubusercontent.com/39346271/108122769-a48c7200-7059-11eb-98e3-a1bd9829138c.png)

Lipidomics - remove for GSP

Organic Matter Characterization  - change to Natural Organic Matter

[2021-02-17 14:06] subdavis commented on #270
@kfagnan could provide the exact links you want for each of these?

[2021-02-17 16:11] subdavis commented on #263
@kfagnan https://data.microbiomedata.org has been updated in accordance with #1, which I think provides a more concise and user friendly experience.  We aren't tied to this, just wanted to provide something concrete to demonstrate the idea.

Most relevant are the new tabs at the top of the page and the info buttons that link to the individual results pages.

[2021-02-17 17:13] dehays commented on #241
I am not seeing issues for removing "Lipidomics" from other pages (studies, etc.). Is that on your radar or should I add new issues?

[2021-02-17 17:16] subdavis commented on #241
All references to Lipidomics are being scrubbed.

[2021-02-17 17:18] dehays commented on #241
Thanks @subdavis

[2021-02-17 17:48] pvangay opened #290 "Study page buttons"
These buttons on the Stegen study page are clickable but don't do anything. Not sure what the original intention was?
![image](https://user-images.githubusercontent.com/7374085/108245263-ecb49e80-7104-11eb-85f8-50d5b3bbfe52.png)

The numbers on the study page also don't seem to quite match up with what's in the search results:
![image](https://user-images.githubusercontent.com/7374085/108246156-f5

[2021-02-17 18:03] subdavis commented on #290
Buttons are a known issue mentioned in #284, just wanted to get something up quick to help with #263 discussion.

Second issue may require @jbeezley to comment.

[2021-02-17 19:18] dwinston commented on #271
noting here that we could consider the CC-BY-4.0 [GeoNames](http://www.geonames.org/export/) dataset to get natural names for places near the lat_lon of each biosample and distinguish the "location" as a user-submitted description of the location. This issue may warrant a connected issue upstream in https://github.com/microbiomedata/nmdc-metadata. Interesting that GeoNames and GOLD both use five l

[2021-02-17 20:32] elishawc commented on #271
Aren't we supposed to be using GAZ ?

On Wed, Feb 17, 2021 at 11:18 AM Donny Winston <notifications@github.com>
wrote:

--
Elisha M Wood-Charlson, PhD (she/her)
KBase <https://kbase.us/> User Engagement Lead; @DOEKBase
<https://twitter.com/doekbase>
NMDC <http://microbiomedata.org/> Leadership Team; @microbiomedata
<https://twitter.com/MicrobiomeData>
Lawrence Berkeley National Laboratory
LinkedIn

[2021-02-17 20:43] wdduncan commented on #271
I don't think a decision was made regarding GAZ. We should discuss this on a call.

[2021-02-17 20:49] #273 closed

[2021-02-17 20:49] #274 closed

[2021-02-17 20:49] #276 closed

[2021-02-17 20:49] #287 closed

[2021-02-17 20:49] #288 closed

[2021-02-17 21:04] subdavis opened #292 "Various new bugs"
Since #284 a few things still don't work like they used to.

* #290 study page buttons don't do anything
* Ecosystem sankey clicking doesn't work anymore.

Possibly other things.

[2021-02-17 21:16] jeffbaumes commented on #224
@jbeezley ok to close?

[2021-02-17 21:17] jeffbaumes commented on #235
@jbeezley ok to close?

[2021-02-17 21:17] jeffbaumes commented on #213
@jbeezley ok to close?

[2021-02-17 21:20] jeffbaumes commented on #252
@subdavis is this still an issue or is this resolved?

[2021-02-17 21:23] subdavis commented on #252
There aren't missing downloads anymore, but I didn't fix it yet.

[2021-02-17 21:28] subdavis commented on #261
This was done in #237

[2021-02-17 21:28] #261 closed

[2021-02-17 21:28] jeffbaumes commented on #252
Since this is moot with no missing downloads, and I also realized rows can resize for other reasons (e.g. text overflow in a cell), I'll go ahead and close this one.

[2021-02-17 21:28] #252 closed

[2021-02-17 21:40] jeffbaumes opened #293 "Use right chevron ">" instead of info icon for details page of study/sample"
This just my opinion, but to me the info icon evokes a tooltip or popup instead of navigating to a details page.

[2021-02-17 21:42] subdavis commented on #293
I figured someone would have an opinion.  I used the info button because I happened to remember its `mdi-` name without having to check the site.

I'll change it.

[2021-02-17 21:58] #136 closed

[2021-02-17 21:59] jbeezley commented on #213
Fixed by #277

[2021-02-17 21:59] #213 closed

[2021-02-17 22:00] jbeezley commented on #235
Fixed by #277 and #278

[2021-02-17 22:00] #235 closed

[2021-02-17 22:00] jbeezley commented on #224
Fixed by #277

[2021-02-17 22:00] #224 closed

[2021-02-17 22:03] jbeezley commented on #191
This was implemented in #197 and #198

[2021-02-17 22:03] #191 closed

[2021-02-17 23:39] pvangay commented on #290
@subdavis Thanks. Second issue - I meant that the number of each omic type seems off (i.e. 42 metabolomics on the study page versus 34 metabolomics from the results page).

Also, the Wrighton study page shows that it has proteomic data when I'm pretty sure that dataset only has metaG
![Uploading image.png…]()

[2021-02-17 23:41] pvangay commented on #290
@subdavis Thanks. Second issue - I meant that the number of each omic type seems off (i.e. 42 metabolomics on the study page versus 34 metabolomics from the results page).

Also, the Wrighton study page shows that it has 40 proteomics when I'm pretty sure that dataset should only have metaG

[2021-02-18 03:38] jbeezley commented on #290
The backend is counting slightly different things.  The 42 is the number of omics_processings with `omics_type = Metabolomics`.  The 34 are the number of metabolomics analysis workflow executions associated with those omics_processings.  In other words, 8 omics_processings have no associated metabolomics analysis workflow executions.  These are:
[code]

@dehays Is this an error in the data?  If no

[2021-02-18 13:53] subdavis commented on #266
This page is gone, I'll close this for now.

[2021-02-18 13:53] #266 closed

[2021-02-18 13:53] subdavis commented on #265
This page is gone, so I'll close this for now.

[2021-02-18 13:54] subdavis commented on #264
This page is gone, so I'll close this for now.

[2021-02-18 13:54] #264 closed

[2021-02-18 13:54] #265 closed

[2021-02-18 17:08] dehays commented on #290
@pvangay As @jbeezley pointed out - you are comparing EMSL instrument / JGI sequencer runs with analysis workflow executions which don't necessarily need to match up BUT when they do not it is very suspicious.  Given the Stegen example above - I'd say it is strange beyond metabolomics (42 instrument runs vs 34 analysis execution) - JGI did sequencing for 50 metagenomes which aligns with 50 Read QC

[2021-02-18 18:31] dehays commented on #290
Ok - what I see in Mongo is that the number of metaG annotations displayed does not match what I see in Mongo, but the metaB analysis does.

@jbeezley for Stegen metaG annotations - I would expect to see 50 based on what I see in Mongo. Reloading your Postgres tables from dwinston_share.metagenome_annotation_activity_set should fix that.

I will investigate why we only have 34 metaB analysis metad

[2021-02-18 19:46] subdavis commented on #268
![Screenshot from 2021-02-18 11-07-55](https://user-images.githubusercontent.com/4214172/108412303-b441bd00-71f7-11eb-9f49-c17e08e283b9.png)
![Screenshot from 2021-02-18 11-07-00](https://user-images.githubusercontent.com/4214172/108412304-b4da5380-71f7-11eb-95ad-3b95ae777e02.png)

I tried both, and I found adding the totals to be "noisy".  It changed my ability to glance at the number to having t

[2021-02-18 19:46] #241 closed

[2021-02-18 19:46] #275 closed

[2021-02-18 19:46] #292 closed

[2021-02-18 19:46] #293 closed

[2021-02-18 19:49] #285 closed

[2021-02-18 20:11] dehays commented on #290
All of Yuri's Stegen metaB analysis docs are in Mongo.  But when looking at metaB instrument runs for Stegen - there are 34 with sample input and 8 without.

`{"part_of": ["gold:Gs0114663"], "omics_type":"Metabolomics", "has_input":null}`
FYI pymongo doesn't like that filter due to the null.  But MongoDB Compass has no problem with it.

Bottom line - I think we have a much larger set of omics_proc

[2021-02-18 20:36] jeffbaumes opened #297 "UpSet needs to label bar charts"
I thought the code would show "Samples" and "Studies" over the sets of bars to the right. We should fix this so those appear.

[2021-02-18 20:47] jeffbaumes opened #298 "Add counts of omics_processing to study results"
Requires API and UI change in search results and study details page

[2021-02-18 20:51] jeffbaumes opened #299 "Remove thin bar in omics type bar chart when no results"

[2021-02-18 21:04] #80 closed

[2021-02-18 21:05] #190 closed

[2021-02-18 21:05] #268 closed

[2021-02-18 21:05] jeffbaumes opened #300 "Move search v2 to root page"
Remove existing landing page

[2021-02-18 21:07] #263 closed

[2021-02-18 21:14] jeffbaumes opened #301 "Terms of service, usage, etc. links and pass-through dialog to agree to terms before downloading"
@kfagnan will provide links and text to have in footer/dialog.

[2021-02-18 21:19] pvangay opened #302 "Inconsistent ordering of omic buttons under each sample"
Is there any order to how the omic buttons under each sample name are displayed? They look inconsistent across samples.
![image](https://user-images.githubusercontent.com/7374085/108422679-b7cf4700-71eb-11eb-81ca-49d5af687e61.png)

[2021-02-18 21:27] subdavis commented on #302
It's the order that they come back from the API in, which probably involves where they were found in the original tables.

I'll sort them alphabetically just to keep consistent.

[2021-02-18 21:28] subdavis commented on #269
Missed a spot

[2021-02-18 21:28] jeffbaumes opened #303 "Reorder groups of facets in search bar"
For now, just reorder the groups this way, we'll do something better later on:

* Function
* Gold ecosystems
* ENVO
* Sample
* Study
* Project

[2021-02-18 21:35] pvangay commented on #302
I'd recommend sorting them metaG, metaT, metaP, metaB, then NOM -- for consistency.

[2021-02-19 21:31] #302 closed

[2021-02-19 21:31] #269 closed

[2021-02-19 21:31] #286 closed

[2021-02-19 21:31] #299 closed

[2021-02-19 21:31] #300 closed

[2021-02-19 21:31] #301 closed

[2021-02-19 21:31] #303 closed

[2021-02-19 21:36] subdavis commented on #253
Lots of conversation about this resulting in changes to the way we compute counts.

[2021-02-19 21:36] #253 closed

[2021-02-19 21:47] subdavis commented on #230
I lost track of this task.   Should this be another button next to `Metagenome` and others?   Or should the same file just appear under every tab in the table?

[2021-02-20 03:52] jeffbaumes commented on #230
There should be no extra buttons for raw data, just an extra row or rows in the data object table. From #248, every project should have an output which is the raw data object(s). This should appear as a row in the table with workflow name as "Raw".

Each project (omics-processing) should have I think one raw data object, but you will need to take into account that there may be multiple raw files f

[2021-02-20 20:07] #230 closed

[2021-02-20 20:07] #290 closed

[2021-02-20 20:07] #298 closed

[2021-02-22 13:51] jeffbaumes opened #312 "Wrighton missing info for one DOI citation"
I don't recall this being missing before we started caching DOIs. We should remove or correct that citation.

![image](https://user-images.githubusercontent.com/81305/108717141-ed757800-74ea-11eb-822b-211e70a66c31.png)

[2021-02-22 13:54] subdavis commented on #312
This is missing in the API response. The key is there, but the value is an empty object.

![Screenshot from 2021-02-22 08-53-46](https://user-images.githubusercontent.com/4214172/108717635-80aead80-74eb-11eb-9f86-ca72342877f6.png)

[2021-02-22 14:58] jbeezley commented on #312
The doi site sometimes sends back an error response.  This happened during the ingest.  I updated it manually.

[2021-02-22 14:58] #312 closed

[2021-02-22 20:37] jbeezley opened #313 "Investigate zero down time data ingest"
This will likely require some scripting with the spin API to populate a secondary database and switching over once the process completes successfully.

[2021-02-23 00:04] pvangay opened #314 "No results for KO term searches"
I randomly put in a handful of [Sam's KO terms](https://docs.google.com/spreadsheets/d/1mMKQWcOZRob2orZ5EAcG4TyWj8F1LwQ8p0HCmm_TqYc/edit#gid=0) that are expected to return something... and all of them instead return this.

![image](https://user-images.githubusercontent.com/7374085/108786027-8c1fca00-7527-11eb-964d-3629b6adddb3.png)

[2021-02-23 00:12] pvangay commented on #314
woops - didn't realize some backend things were being updated! ignore this.

[2021-02-23 00:12] #314 closed

[2021-02-23 13:50] #297 closed

[2021-02-23 20:45] jeffbaumes opened #316 "Update upper left logo to link to microbiomedata.org"

[2021-02-25 20:08] jbeezley opened #319 "Handle no matches in binned faceting"
The binned faceting endpoints return a 500 error when there are no matches to the query.  We should handle this somehow, possibly with a single bin and zero count so it doesn't break the web client.

[2021-02-25 20:45] #316 closed

[2021-02-26 13:40] jeffbaumes commented on #138
Let's go ahead and do this.

[2021-02-26 13:41] jeffbaumes commented on #137
We should do this soon, just waiting on some information from @pvangay and/or @kfagnan to implement.

[2021-02-26 13:46] jeffbaumes commented on #192
This is realized as a live visualization that changes with the data, but does not currently update with the current query which I believe was @pvangay's intended behavior. Keeping this open in case we want to move to a view that updates with the query. @jbeezley is this a tough one or is it feasible?

[2021-02-26 15:54] jbeezley commented on #192
I would guess a day or two of work from my end.

[2021-02-26 16:34] kfagnan commented on #138
Can we have a short chat with the JGI crew about monitoring? I’m sure I can
make that happen next week.

Kj

On Fri, Feb 26, 2021 at 05:40 Jeff Baumes <notifications@github.com> wrote:

[2021-02-28 17:36] Lebedeva-Sonya opened #321 "Numbers in upset plot overlap"
<img width="599" alt="Screen Shot 2021-02-28 at 9 26 08 AM" src="https://user-images.githubusercontent.com/77990692/109427694-6885d500-79a8-11eb-8f2d-83a5352d7097.png">

The numbers in the “samples” column are partially covered up. (please ignore the arrow)

[2021-03-03 07:23] dehays opened #322 "EnvO filters do not reflect values from all biosamples"
For the biome, feature and material search filters in the EnvO search section - the only filter values presented are from the Stegen study biosample MIxS/EnvO triad.  Values from Brodie and Wrighton biosamples are not displayed as filter options.

I checked a couple biosample JSON documents in ETL output and then in the Mongo instance (ex. Wrighton biosample gold:Gb0119260, Brodie biosample gold:G

[2021-03-03 17:33] jbeezley commented on #322
The ENVO id's are formatted as `ENVO_00000446` rather than `ENVO:00000446` for these biosamples.  I'll implement a fix in my ingest.

[2021-03-03 17:41] subdavis commented on #138
done in #323

[2021-03-03 17:41] #138 closed

[2021-03-03 17:41] subdavis commented on #137
done in #323

[2021-03-03 17:41] #137 closed

[2021-03-03 17:52] #322 closed

[2021-03-03 19:41] #319 closed

[2021-03-03 20:53] dehays commented on #322
@jbeezley Thanks Jon - I'll address the issue of inconsistent EnvO reference raw values in the provided biosample metadata.

[2021-03-04 21:24] jeffbaumes opened #327 "Potential "auditing" page with histograms"
To at-a-glance see what data is in the system and if it matches expectations after an ingest.

Just capturing the idea, no action needed yet.

[2021-03-04 21:25] jeffbaumes opened #328 "Improve alerting and sanity checking on ingest"
The ingest can check for more problems and alert people to potential issues.

Just capturing the idea, no action needed yet.

[2021-03-04 21:25] jeffbaumes opened #329 "Fix Google Analytics reporting"

[2021-03-11 00:59] pvangay opened #333 "No results displayed when filter by Brodie + Metabolomics"
Selecting PI = Brodie and Omic type = MetaB results in the following error, with no data displayed in the results list even though the study lists there being 52 MetaB data.
![image](https://user-images.githubusercontent.com/7374085/110719586-effdf000-81c1-11eb-90aa-7accd6db37b7.png)

[2021-03-11 01:28] pvangay opened #334 "Unclear how to find/download all available NOM data"
Capturing here although this might not be the best place for it - and maybe folks are already thinking about updates that resolve this.

Brodie's dataset lists 1007 NOMs which appears to be characterizations of 51 samples. Each sample has about 10-15 NOM files listed. I realize that subsampling and instrument runs are done which turn the 51 samples into 1007 NOMs, but I can't actually find 1007 pi

[2021-03-15 17:38] #329 closed

[2021-03-15 18:54] subdavis opened #335 "Client-side caching"
Try more aggressive client-side caching since server responses are deterministic.

Axios middlewares are an option for how to do this.

[2021-03-15 19:42] jbeezley commented on #333
This has to do with these biosamples which are still missing:
[code]
In mongo, they are missing the `_study_id` attribute I'm relying on in ingest.  @dwinston I believe you added these biosamples manually, would you be able to add the `_study_id` attribute as well?

[2021-03-15 20:01] jbeezley commented on #334
This may be related to https://github.com/microbiomedata/nmdc-server/issues/290#issuecomment-781495960.  There are 1007 `omics_processing` rows, but only 558 workflow executions.  These are the omics_processing id's missing executions:

[code]

And in case it is useful to know, this is the count grouped by sample id:
[code]

[2021-03-15 21:18] dwinston commented on #333
@jbeezley Done. Re-ordered my pipeline to place the `_study_id`-ensuring step after the additional-insertions step.

[2021-04-01 13:43] jeffbaumes opened #338 "Provide mechanism for providing units to the client"
Ultimately just involves communication between client and server on the portal, but may need a bit of discussion with @cmungall as to how data with units should be stored/presented vs. normalized for query.

[2021-04-01 13:50] jeffbaumes opened #339 "Rename "project" to "omics_processing" in the DB and API to be consistent with incoming JSON"

[2021-04-01 13:52] jeffbaumes opened #340 "Had to rename organic_matter_characterization in API to "Organic Matter" in the UI."
I'll leave this on the pilot repo since it involves changing DB schema/API, but @cmungall since we've adopted this shorter name should it be reflected in the upstream schema for clarity?

[2021-04-01 20:14] jeffbaumes opened #341 "Incorporate UX design feedback"
This is feedback shared by @pvangay from the UX review.

[2021-04-01 21:03] ssarrafan opened #342 "Requirements for data landing pages"
This issue is to track requirements for data landing pages.  Please link to any related documentation, mock-ups, or diagrams developed.  This sprint will not be focused on making these changes but just on the requirements.

[2021-04-01 21:04] ssarrafan commented on #342
@elishawc let me know if this should be assigned to a different person or a different sprint in the future.

[2021-04-06 13:36] jeffbaumes commented on #340
@jbeezley it seems we can handle one level of this in the pilot itself so I've assigned to you.

[2021-04-06 18:23] #313 closed

[2021-04-08 19:19] faiza-a commented on #341
@jeffbaumes @subdavis @pvangay
I have added improvement suggestions based on feedback from 'Mockup Report SGCI-NMDC Usability Consulting.pdf'.
Here is the [Figma link](https://www.figma.com/file/h3v0xOrdZSYWSCRZhxQcXw/Improvements-based-on-'Mockup-Report-SGCI-NMDC-Usability-Consulting.pdf'?node-id=0%3A1).
I have added descriptions on the mockups. Let me know if there are any questions.

[2021-04-09 13:18] jeffbaumes commented on #341
I'm experimenting with keeping conversation on GitHub issues, hopefully the right people are notified.

Thanks @faiza-a. Some of these small tweaks are obvious improvements and we can go ahead and do them, but a few of the ideas require approval, such as:

* Should we make the major change of moving the search criteria from the sidebar to above the search results? My recommendation is no, at least

[2021-04-12 18:47] elishawc commented on #342
@ssarrafan - what sprint was this for? April (not in current project list)? May?

[2021-04-12 21:30] pvangay commented on #341
Thanks for starting the discussion all.

- agree with not moving the search criteria. helpful to keep in mind though.

- Not sure i follow - which one is this?

- chevron button: i prefer the shaded box (3rd one), followed by the shaded circle

[2021-04-14 00:56] kfagnan commented on #341
I don't think we should move the search criteria.

I'm also not sure what is meant by the whole sample area being clickable...
you mean the names of the files, samples, etc?

I also prefer the shaded box for the chevron button.

Thanks!

On Mon, Apr 12, 2021 at 2:30 PM pvangay ***@***.***> wrote:

[2021-04-15 19:52] jeffbaumes commented on #338
A new version of MIxS will have a separate units which will make this simpler.

[2021-04-15 19:52] jeffbaumes commented on #338
For this sprint we will take care of this on the portal for the one field where it is a concern (sample depth).

[2021-04-15 20:00] jeffbaumes commented on #340
@emileyfadrosh do we want to use Organic Matter consistently in the UI? We have one place (upset plot) right now where we use NOM, should that change to OM?

[2021-04-15 20:03] emileyfadrosh commented on #340
@corilo Yuri, please advise.

[2021-04-15 21:37] ssarrafan commented on #338
Based on the meeting today I'll move this to "in progress".  If you'd like help setting up a meeting with @wdduncan and @cmungall to discuss how data with unites should be handled let me know.

[2021-04-15 21:44] ssarrafan commented on #340
Based on meeting today I'm moving this to "in progress"

[2021-04-15 22:10] corilo commented on #340
@jeffbaumes  if you have to use an acronym, I would use NOM (natural organic matter), which is the high level, general term that encapsulates, dissolved organic matter, soil organic matter, etc.  I would not use "organic matter" or OM.

[2021-04-15 22:28] ssarrafan commented on #342
@elishawc I did add this to the April sprint earlier this week but if it should be moved out to May sprint let me know.

[2021-04-15 23:45] elishawc commented on #342
Met w/ Wiley to do demo of portal and discuss options for collaboration moving forward. Next steps for us:
1. survey other publishers to see if they are interested in a joint publisher info session. if yes, schedule
2. inform Wiley when we are ready for more UX feedback

On their end, they will start reviewing journals and editors that are relevant to the community/data types the NMDC serves and c

[2021-04-16 01:39] cmungall commented on #338
It's not clear this is actually the case...

On Thu, Apr 15, 2021, 12:52 Jeff Baumes ***@***.***> wrote:

[2021-04-16 16:31] jeffbaumes commented on #338
I'll defer to @dehays here, he had mentioned it in a meeting so I made a note but I actually have no direct knowledge on this.

[2021-04-16 17:17] dehays commented on #338
@cmungall I'd mentioned this knowing Ramona W had said units would be specified in v6 - but I have attended enough of MIxS meetings to take a 'wait and see what happens' perspective.  MIxS v6 is also reportedly going to make a beta appearance next month - we'll see what happens.  The value now  of knowing that the intent is to specify units in some future MIxS is simply that dealing with units may

[2021-04-19 22:32] #339 closed

[2021-04-28 21:03] #341 closed

[2021-04-28 21:49] #338 closed

[2021-04-29 20:39] subdavis opened #352 "Dismiss button broken for active facet"
Dismiss button doesn't work for an active facet.

[2021-05-03 20:18] elishawc commented on #342
Met with Wrighton lab to discuss landing pages - notes here: https://docs.google.com/document/d/10VM3DNrPO2mUVW-81zi2eSBzbkW1lMKLDvpYitvDKBw/edit

[2021-05-05 17:35] ssarrafan opened #353 "Portal Display - sample metadata"
When clicking on each sample, values for all required terms should be shown: sample collection date, elevation (soil only), depth (soil only), lat, long, geographic location name, envo terms, gold terms

Priority - medium
Urgency - medium

[2021-05-05 17:36] ssarrafan opened #354 "Portal Download - bulk"
Researchers who are interested in raw data generally want to do bulk downloads (to a server/cloud) for custom analyses. Researchers who are interested in data products may want to download to a server or to their local computer for custom analysis or sending to KBase. Researchers are also interested in downloading the associated sample metadata only.

Priority - medium
Urgency - low

[2021-05-05 17:37] ssarrafan opened #355 "Portal Download - save"
Researchers want to be able to select or save samples, studies, and/or data objects that they're interested in to a cache for download or transfer later or in the background. They may also want to save queries. For a large number of items, researchers do not want manual selection.

Priority - medium
Urgency - low

[2021-05-05 17:39] ssarrafan opened #356 "Portal Help - data products"
The term "data objects" is not clear until clicking on it and seeing the file extensions. Listing multiple fastq files add confusion (especially to those not familiar with JGI processing procedures which generates 2 fastq files). Researchers want to know how these data objects were generated.

Priority - medium
Urgency - low

[2021-05-05 17:40] ssarrafan opened #357 "Portal Help - search items"
Need to address confusion on the difference between terms.

Get descriptions from the NMDC Schema, and flag where descriptions are missing (all terms in the schema should have descriptions, as they are pulled from existing standards/systems). Will require team to put together content.

Priority - medium
Urgency - medium

[2021-05-05 17:41] ssarrafan opened #358 "Portal Help - visualizations"
Add popup to visualizations to explain (especially upset). Requires NMDC team to draft and finalize content.

[2021-05-05 17:42] ssarrafan opened #359 "Portal Search - advanced"
Researchers want to be able to build complex queries/filters across all available metadata (and especially across omics type and metadata on the habitat page).

Need more data.

Priority - medium
Urgency - low

components needed:
- [ ] decide on how front end query building would look (Faiza)
- [ ] investigate what fields we'd want to index
- [ ] index them

[2021-05-05 17:43] ssarrafan opened #360 "Portal Search - environments"
Current search is not intuitive for researchers who don't work with samples collected from environments. More effort is needed to make this term more inclusive (include those who work in host-associated samples, lab samples, etc.).

Priority - medium
Urgency - medium

[2021-05-05 17:44] ssarrafan opened #361 "Portal Search - EnvO"
This is a request to work on navigation for EnvO such that we can put something in front of users and iterate. EnvO has a high learning curve and the portal has potential to be integrated into training efforts if done well. What's in the portal now does not show relationships between EnvO terms and is not intuitive.

This will require working with Chris and Aim 1 (I do not expect Kitware to solve

[2021-05-05 17:44] ssarrafan opened #362 "Portal Search - KEGG"
Enable search by modules and the 3 Pathway Levels. KO term is very granular. Oftentimes we're interested in understanding whether there's presence of an entire pathway (sometimes this may be specific, like "fatty acid metabolism" which is a level 3 pathway, but other times we may be interested in "metabolism" in general which is a level 1 pathway)

Priority - High
Urgency - Medium

[2021-05-05 17:45] ssarrafan opened #363 "Portal Search - search space"
Right now you have to go into each search term on the left hand side and search within it. Would be helpful to be able to search across all terms with one search bar on top.

Priority - Low
Urgency - Medium

[2021-05-05 17:46] ssarrafan opened #364 "Portal Search - smart text search"
autocomplete, autosuggest, or enable search results with partial matches. this is helpful so that exact matches aren't necessary. Search space should include the accompanying descriptions/help text, aliases, etc.

Priority - Low
Urgency - Low

[2021-05-05 17:48] ssarrafan opened #365 "Portal Search - Taxonomy"
Search by taxonomy (all levels)
Also have separate taxonomy search for bins compared to annotated genes/contigs (EF)

Priority - High
Urgency - Low

[2021-05-05 17:50] ssarrafan opened #366 "Portal Visualization - map zooming and legend"
Allow zooming in and out of map to visualize samples. Whether it's manual or automatic. This is helpful when there are a lot of samples that were collected in close proximity to each other.
Related to https://github.com/microbiomedata/nmdc-metadata/issues/327

The map needs a clear legend. Researchers expect to be able to interact with the map. While most people liked the map, others did not find

[2021-05-05 17:50] ssarrafan opened #367 "Portal Visualization - upset"
This plot should update dynamically with search filters. Wonder if the # studies bars should be scaled similarly to the # samples. Nice to have: filter by selections on the upset (i dont think there's a way to select for samples with specific multi-omic types with the left-hand search)

Priority - High
Urgency - Medium

[2021-05-05 17:52] ssarrafan opened #368 "Portal Visualization - sample dashboard"
Ability to select multiple samples with various data types and interactively display aggregated information (eg, QC stats, high-level taxonomy or function) through a set of user-select dashboards or other visuals. Example: DNAnexus Apollo

This will likely take a considerable time to develop, but we should begin scoping aspects of how this would work. Input from key stakeholder groups will be impo

[2021-05-05 17:52] jbeezley commented on #354
Marking this as X-Large for now, but it could be quicker depending on the technical solution.

First step here is to decide how to implement the feature.  Some of the options include:
1. Streaming download as a zip file
2. Email a link to a zip file that is asynchronously created
3. Provide a shell (or windows .bat) script to download all of the requested files

The second is the most user friendl

[2021-05-05 17:52] ssarrafan opened #369 "Portal Link to IMG Data"
Provide hyperlink to same metagenome record in IMG/M

Priority - High
Urgency - High

[2021-05-05 17:53] ssarrafan opened #370 "Portal Link to NCBI Data"
Provide hyperlink to same biosample/SRA record for metagenomes/metatranscriptomes

Priority - High
Urgency - High

[2021-05-05 17:54] ssarrafan opened #371 "Portal Link to ESS-DIVE Data"
Provide hyperlink to project record in ESS-DIVE

Priority - High
Urgency - Medium

[2021-05-05 17:54] ssarrafan opened #372 "Portal Homepage orientation"
Need better orientation: links to NMDC website/github/where to send help desk items/social media feeds/newsletters/funding statement & acknowledgement

Priority - High
Urgency - High

[2021-05-05 17:55] ssarrafan opened #373 "Portal Search - filter by data product or file type"
Allow filtering of search results by file type. For example, download only KO files from their specific search results.

Will need to determine if annotation JSON enables retrieval of relevant files instead of just a presence/absence in a sample. From Emiley: Ability to access relevant data results and/or files based on search criteria across multiple samples/projects. Example: retrieve KO files b

[2021-05-05 18:03] jbeezley commented on #355
This is closely related to #354.

I think we need to nail down more technical requirements on this one.  The backend data model for achieving this seems relatively clear, but there are ambiguities on how to resolve the difference between "stored queries" and "manually selected/deselected items" particularly to what to do when the response from the stored queries change.

There is also a fair amoun

[2021-05-05 18:09] jbeezley commented on #357
I would suggest splitting this into two issues.  One assigned to me to grab the description from the schema and serve the information from the API.  The other to identify and fill in missing descriptions.

[2021-05-05 18:15] jbeezley commented on #361
One actionable (and quick) task here is to store queries for later analysis.  We can make that a standalone task while the rest of the issue is fleshed out.

[2021-05-05 18:19] jbeezley commented on #363
There may need to be a new endpoint to support this.  It's possible we may want something more like a full-text search on all the fields and string values to make this scalable.

[2021-05-05 18:30] jbeezley commented on #365
We will need additional information to complete this.  In particular, which fields in the provided data does this relate to and how do they match with the search term?  Is all of the necessary data currently provided by the workflows?

[2021-05-05 18:32] jbeezley commented on #366
This seems largely client-side only, but there may be an additional need on the API to provided geospatial lookups/binning.

[2021-05-05 18:47] jbeezley commented on #369
We likely need this information added to the schema and the workflow pipelines.  Once that is done, it's a quick task to add it to the UI.

[2021-05-05 18:57] jbeezley commented on #370
We likely need this information added to the schema and the workflow pipelines. Once that is done, it's a quick task to add it to the UI.

[2021-05-05 18:58] jbeezley commented on #371
We likely need this information added to the schema and the workflow pipelines. Once that is done, it's a quick task to add it to the UI.

[2021-05-05 19:15] jbeezley commented on #373
I don't think we have the information in the data_object's yet.  The best we could at the moment is to parse the description field or the file extension.

Once we have the data necessary to do the search, the server side components for this:
- [ ] Add "data product" or "file type" as a query-able field (however it is provided in the data)
- [ ] Expose `POST /data_object/search` for searching files

[2021-05-05 20:41] pvangay opened #374 "Update Brodie dataset citation text"
Update the dataset citation on [Eoin's landing page](https://data.microbiomedata.org/details/study/gold:Gs0135149) to:
Sorensen, P., Brodie, E., Beller, H., Wang, S., Bill, M., & Bouskill, N. (2019). Sample Collection Metadata for Soil Cores from the East River Watershed, Colorado collected in 2017 [Data set]. ESS-DIVE. https://doi.org/10.21952/WTR/1573029

@dehays should this edit be done further

[2021-05-05 20:50] jbeezley commented on #374
We do have that citation in the [supplementary file](https://github.com/microbiomedata/nmdc-server/blob/master/nmdc_server/ingest/study_additional.json#L120].  The primary DOI coming from the data pipeline is the one that is shown `10.25585/1488224`.

The supplementary DOI's are being returned by the API, and I thought at one point they were being displayed.  @subdavis Do you know if this was inte

[2021-05-05 22:41] dehays commented on #374
@pvangay  Yes, this sort of edit should happen upstream.  That topic of study attributes is related to the discussion in microbiomedata/nmdc-schema#41. I do not believe Jon / search application, should have responsibility to merge from multiple sources of study attributes.

The issue is then how to add/update these attributes.  They are not available from the original study source (GOLD) so the pl

[2021-05-05 23:27] kfagnan commented on #371
This will require a bit more work/collaboration with the ESS-DIVE team to figure out what makes sense for cross-linking. The first test case will be WHONDERS (Stegen project).
@emileyfadrosh @pvangay - could this be part of the Stegen FICUS outreach? Either way, I'm going to remove from the May sprint...

[2021-05-05 23:31] kfagnan commented on #370
Similar comments for ESS-DIVE, IMG, and NCBI - need to understand scope and where the information will come from.

[2021-05-05 23:35] pvangay commented on #371
Happened to have a call with Joan today. It looks like ESS DIVE data links are project based -- so we should be able to link to DOIs that point to ESS DIVE datasets (we already do this for Brodie's landing page). For links by sample, Joan suggested linking to SESAR. But agree - by sample links are not a priority for May.

[2021-05-05 23:39] kfagnan commented on #372
Would like to understand this a bit better. I don't think it's a huge amount of work... but needs a strategy

[2021-05-05 23:49] kfagnan commented on #366
@subdavis any sense for the level of effort on this, do you need things from the team for this issue to make sense?

[2021-05-05 23:52] kfagnan commented on #364
This seems to be a large scope, but I'll leave it to you all to come up with the appropriate label @subdavis @jbeezley

[2021-05-05 23:56] kfagnan commented on #361
This is fuzzy to me... @pvangay can you clarify how this issue relates to the existing Envo browsers - https://sites.google.com/site/environmentontology/
https://www.ebi.ac.uk/ols/ontologies/envo

[2021-05-06 01:01] pvangay commented on #361
The original request is to improve how the EnvO terms are displayed on the portal to reflect the hierarchy (similar to what's at https://www.ebi.ac.uk/ols/ontologies/envo). Each of the 3 terms have an underlying hierarchical structure -- what's on the portal now is flat.

But before any implementation, we need to have a broader discussion about how we should expose EnvO on the portal. I have lots

[2021-05-06 02:16] cmungall commented on #361
We should think carefully about the strategy of getting feedback from users where (a) the data we have doesn't have the range of environments we will have in the future (b) we are asking them to imagine without putting forward specific possibilities.

I'll give a high level description of a general strategy for ontological faceting for now but I think there is a more detailed discussion to be had

[2021-05-06 15:28] pvangay commented on #361
@cmungall - agree re: need for a broader range of data to demonstrate value. Thanks for laying it out here and for the suggestions. #1-2 seems like a reasonable start to me but I'll let others chime in.

[2021-05-06 19:50] kfagnan commented on #362
In today's meeting Jeff indicated Jon has the information needed to work on this issue. So we'll leave in this sprint for now.

[2021-05-06 23:52] pvangay opened #375 "Updates to Wrighton metadata"
@mslarae13 and I met with Reb Daly from the Wrighton group today to review their data in the portal.

### **Sample names need to be renamed to something that is not the Proposal name.**
Suggest using IDs of some sort. This is misleading because not all samples are "deep subsurface shale", which just happens to be the name of the proposal.

### Can we reclassify these samples into their correct env

[2021-05-07 18:32] ssarrafan opened #376 "Bug - Portal metabolomics results not displaying Eoin Brodie's study"
@dehays and I were looking at the portal and noticed that there is a problem with displaying metabolomics samples when searching on Eoin Brodie's study.  See attached screenshot.

@pvangay and @emileyfadrosh thought you may want to see this issue so adding you here.
<img width="1340" alt="Screen Shot 2021-05-07 at 11 16 27 AM" src="https://user-images.githubusercontent.com/79225425/117493435-d5c56

[2021-05-07 18:33] ssarrafan commented on #376
@pvangay and @emileyfadrosh thought you may want to see this issue so adding you here.

[2021-05-07 18:42] dehays opened #377 "Biosample names are truncated"
The primary issue here is that the biosample names (which originate from GOLD) are truncated in the search portal.

Eoin Brodie pointed out in a call yesterday that there was no way to differentiate between the different samples in the UI because the part of the biosample name that is different - has been truncated.

For example,  GOLD appears to build the biosample name by appending the local sam

[2021-05-07 19:01] jbeezley commented on #376
This is what we have in the portal database for reference:
[code]

[2021-05-07 19:05] jbeezley commented on #377
If your screen is wide enough the full name is shown.  Maybe we need to make the name multi-line rather than truncating (with an ellipsis) when it doesn't fit?

[2021-05-07 19:08] jbeezley commented on #377
Oh wait, I guess for the Brodie biosamples the name is like that in the database.  I assume this is coming from upstream in the pipeline because nothing in the ingest does any truncation.

[2021-05-07 19:37] dehays commented on #377
Your right @jbeezley - I see it in the Mongo documents:

[code]
I  would agree making the display wrap to multi lines so long names display regardless of window width.

I'll move this to the ETL issues as I think that is where the truncation must be happening.

[2021-05-07 22:31] ssarrafan commented on #376
Thanks @jbeezley.  Can you help me figure out who would be the best person to assign this to?  @dwinston or @wdduncan?

[2021-05-07 23:59] ssarrafan commented on #369
@pvangay and @emileyfadrosh since this is high priority let me know if this should get re-assigned to Bill and team or if it's on hold till June.

[2021-05-08 00:01] ssarrafan commented on #365
@pvangay and @emileyfadrosh if this issue can be worked on in terms of requirements and specification for this sprint let me know. Otherwise it's been removed from the May sprint.

[2021-05-08 17:00] jbeezley commented on #357
I would guess someone from the AIM 1 team as they are generally responsible for maintaining the schema.

[2021-05-08 17:01] jbeezley commented on #376
In the past, I have relied on @dehays to track down missing data.  Most of the upstream process is a black box to me.

[2021-05-08 18:31] dehays commented on #376
@jbeezley Seems the portal database must also have 52 Metabolomics as that is what is being displayed.

The issue here, when I look into it, is that there are 52 omics_processing entities that are part of this study (gold:Gs0135149) but those study entities do no have sample input - so there are not samples to list.

A couple larger issues here

1) Triaging issues seen in the portal.  It is good t

[2021-05-10 18:44] jeffbaumes commented on #357
Marking this as small for the portal update process assuming schema descriptions are in place.

[2021-05-10 18:52] jeffbaumes commented on #369
We do have the GOLD id if it came from GOLD and could add a link, but for things that did not come from GOLD we wouldn't know what to do.

Eventually we want an explicit external URL field in the schema, but we can do this other quick fix for now if desired.

[2021-05-10 19:03] jeffbaumes commented on #363
Leaving at large for now but this will need more clarification.

[2021-05-10 20:36] dehays commented on #375
@pvangay There are three different issues in the feedback from Reb on the Wrighton study.

1) Sample naming - Currently the sample names in most cases are those from the GOLD biosample records.  Those are not 'proposal' names (which are less consistent and can be even longer) but follow GOLD's sample naming scheme - which is study name + local sample name (i.e. the name provided by the researcher.

[2021-05-10 22:51] ssarrafan commented on #357
@dehays do you have a suggestion for who can be assigned the task of identifying and filling in missing descriptions?  The plan is to create a separate GH issue for that part for the next (or some future) sprint.

[2021-05-10 23:39] dehays commented on #357
I think there are actually 3 tasks here.

1) Use the description field of different entity instances to set descriptions visible in UI.  @jbeezley @subdavis
    Blocked by...

2) All description fields in metadata entity instances have values.  Populating these is neither Jon's or Bill's responsibility.  And this probably requires input from those in analysis.
Blocked by...

3) Add description fie

[2021-05-11 14:49] pvangay commented on #369
Agree with @kfagnan about pushing for an external URL field (or multiple) - I think this urgency is probably more like a medium although @emileyfadrosh may disagree :)

[2021-05-11 17:04] dehays commented on #333
Closing this one.  Either this was another issue which was resolved in March with Donny setting the _study_id.  Or, this is a different issue than one related to the samples mentioned above and is actually the same issue as microbiomedata/nmdc-metadata#341

I think it is the latter looking at the 52 Brodie - Metabolomics omics_processing entities - which have no input samples at all. (The portal i

[2021-05-11 18:10] #364 closed

[2021-05-11 18:19] subdavis commented on #126
Duplicate of #366

[2021-05-11 18:19] #126 closed

[2021-05-11 18:19] jeffbaumes commented on #368
This is almost certainly extra large, but needs more discussion.

[2021-05-11 18:20] jeffbaumes commented on #360
This sounds like a schema and data curation task first, and we can add this to the portal afterward.

[2021-05-11 18:27] jeffbaumes commented on #356
We have included all the file descriptions available at this point. This would require information from data product generators to provide more descriptions through the schema.

[2021-05-11 18:47] pvangay commented on #334
@jeffbaumes yes definitely. probably not super critical for May but definitely needs to be addressed eventually.

[2021-05-11 18:52] elishawc commented on #342
Good discussion with James (FICUS PI), PLOS editor re: landing pages. Next are Eoin/Ulas (FICUS) and Joanne (TrIP), and to schedule joint publisher call.

[2021-05-13 20:51] ssarrafan commented on #362
This issue is dependent on the fix to be done on another issue - https://github.com/microbiomedata/nmdc-metadata/issues/342 per @pvangay

[2021-05-13 21:36] ssarrafan commented on #358
@pvangay confirmed that the team has the content so this is ready to go.

[2021-05-13 21:51] #358 closed

[2021-05-17 19:32] #353 closed

[2021-05-18 00:32] kfagnan opened #385 "Need a useful page when NERSC is unavailable"
I'm not sure this is the best place for this issue. https://data.microbiomedata.org should have a useful redirect when NERSC resources are unavailable.
<img width="1350" alt="Screen Shot 2021-05-17 at 5 28 51 PM" src="https://user-images.githubusercontent.com/1504015/118572607-b43d5480-b735-11eb-8d3b-bef6e3faf19c.png">

[2021-05-18 18:34] elishawc commented on #342
Met with Joanne (TrIP) today. One more call w/ Eoin tomorrrow, then will summarize the discussion.
Also, likely will be meeting with publishers 1 June to get their feedback.

Then this can probably be closed, and a new issue that consolidates that input and moves it into design with Kitware can start in June sprint (FYI @ssarrafan)

[2021-05-18 23:21] pvangay commented on #371
FYI Joan put together a [spreadsheet](https://docs.google.com/spreadsheets/d/1HyWhwsOWD6np8MrEl9gzD3jpLmyd_oTNtbmTw28O0tM/edit#gid=652587412) of SESAR (per sample) and ESS DIVE links (per dataset) for the Brodie dataset - putting this here so folks know how things are linked.

[2021-05-18 23:30] pvangay commented on #271
this is a duplicate of https://github.com/microbiomedata/nmdc-metadata/issues/282 - going to close this one.

[2021-05-18 23:30] #271 closed

[2021-05-20 20:09] elishawc commented on #342
@subdavis - is there a specific point that should be discussed atm?

[2021-05-20 20:12] elishawc commented on #342
@ssarrafan - this can likely be closed, and a new issue around design for study page 2.0 with kitware for June sprint

[2021-05-20 22:21] dehays commented on #333
Closing as duplicate of microbiomedata/nmdc-metadata#341

[2021-05-20 22:21] #333 closed

[2021-05-20 23:18] dehays commented on #334
I suspect this will be resolved by the solution described in microbiomedata/nmdc-metadata#341

[2021-05-25 01:57] #367 closed

[2021-05-25 16:26] ssarrafan commented on #354
The majority of this work will be done in a future sprint. Waiting to hear back on whether it should be in June or later. First task may be done this sprint. See Jon's email below:

From: Jonathan Beezley <jonathan.beezley@kitware.com>
Date: Fri, May 14, 2021 at 10:06 AM
Subject: Re: Portal issues for May
To: Setareh Sarrafan <ssarrafan@lbl.gov>
Cc: Jeff Baumes <jeff.baumes@kitware.com>, Brandon D

[2021-05-25 16:56] jeffbaumes commented on #354
Yes moving most of this to June makes sense unless other priorities push it back further.

If we have the right people for the Kitware sync Thursday, we could discuss the requirements for the front end and have @faiza-a begin UI mockups.

[2021-05-26 16:32] jeffbaumes opened #390 "Filter by selections on the upset plot"
A continuation of #367 to enable interactive filtering of paired analysis by clicking on the upset plot. I see this as clicking on the headings (MG, etc.) to select samples that are paired across those analysis types. e.g. clicking MG and MT would filter to all samples having both metaG and metaT data associated.

[2021-05-26 21:55] pvangay opened #391 "Make number of search results more noticeable"
I'd like to propose moving the number of sample results returned closer to the sample list (maybe at the top of the list?), and/or highlighting it so that it stands out more. I actually thought this wasn't implemented yet because I never noticed it by the filters. I think naturally our eyes gravitate toward the sample list after applying a search. We sat down with Eoin's group today to review his

[2021-05-26 22:36] pvangay commented on #354
This may already have been discussed so feel free to ignore if so. When downloading files, the user will want to associate the data files back to the sample somehow. Will the files be packaged into folders named by sample identifiers? or renamed? Just jotting this here to make sure something is being considered. At the moment, individual downloads require the user to manually rename files to somet

[2021-05-27 14:37] jeffbaumes commented on #354
Yes, we would need that in bulk download. I assume we can roll up the zip file in a way that will include a folder structure for each sample, but that needs @jbeezley 's input.

[2021-05-27 15:01] jeffbaumes commented on #354
Here is a pre-mockup with some basic UI ideas for discussion today. @faiza-a @jbeezley @pvangay @kfagnan @emileyfadrosh

https://docs.google.com/presentation/d/1gMo1fmlneVEU2hjSoWrrKOjowcXuFStGjihOwf9adZU/edit?usp=sharing

[2021-05-27 15:04] jbeezley commented on #354
I had in mind organizing the files something like `<study>/<sample>/<omics processing>`.  At each level, we could include a json file containing the metadata from entity if that would help.

In terms of individual downloads, it is currently downloading with the original file name.  If you could propose an alternative way to derive a file name, it would be easy to change the download name via conte

[2021-05-27 16:05] pvangay commented on #354
@jbeezley i like <study>/<sample>/<omics processing> - this makes sense to me

good to know file names can be changed. i think that it would be pretty rare for users to download single files - so this is less of a concern knowing that the bulk download will have a structure like the above. Thanks!

[2021-05-27 16:22] emileyfadrosh commented on #354
just a quick comment: I think we need to be careful and also get input from @scanon @hubin-keio about file naming since we need to preserve the names of files. Right now, I don't see a meaningful link to the IDs for any of the omics outputs (eg, assembly_contigs.fna). How is this being dealt with?

[2021-05-27 16:27] pvangay commented on #354
@emileyfadrosh i mentioned something similar above :) it looks like some of this will be preserved in jon's proposed structure for file organization but we should think about whether we want to propose some kind of file naming scheme for all files in NMDC. probably needs to be done in conjunction with the conversation about how to list sample names: https://github.com/microbiomedata/nmdc-metadata/

[2021-05-27 16:53] pvangay opened #392 "Problems downloading some Brodie NOM data files"
Entering this issue for @mslarae13 as well as Eoin, who have both reported having problems downloading files (I haven't been able to replicate it myself)

When trying to download certain NOM files, Montana received this error:
![Screen Shot 2021-05-26 at 6 49 27 PM](https://user-images.githubusercontent.com/7374085/119865964-1e41c080-bed1-11eb-8557-c08dcb8d64a6.png)

She was logged in with her ORC

[2021-05-27 17:00] jbeezley commented on #392
That appears to be an issue with the DNS configuration of nmdcdemo.emsl.pnnl.gov.  From what I can tell, it seems to be fixed now, so maybe it was a temporary issue.  If it is just some files, they might have been deleted from that server.

In any case, the portal just redirects to the url provided in the metadata.  I haven't seen any issues logged by sentry in our redirection service.

[2021-05-27 17:56] ssarrafan commented on #366
Per @jbeezley Brandon doesn't have bandwidth to finish this for May sprint. I'm moving this to the June sprint. @pvangay @emileyfadrosh I assume this is still high priority and to be scheduled for June.

[2021-05-27 18:39] pvangay commented on #366
yes, that makes sense. thank you!

[2021-05-27 22:25] ssarrafan commented on #354
Based on the Kitware sync meeting today I will move this to the June sprint. @jbeezley and @jeffbaumes if you prefer I close this and open new issues let me know.

[2021-05-27 22:26] ssarrafan commented on #354
Notes from today's meeting about bulk download:

Kitware Sync
Faizah, Emiley, Kjiersten, Marisa, David, Pajau, Jeff, Jon, Set

5/27/21
Bulk Download - slides at https://docs.google.com/presentation/d/1gMo1fmlneVEU2hjSoWrrKOjowcXuFStGjihOwf9adZU/edit#slide=id.p
Feedback and discussion:
- Concerned about too much data being downloaded through browser.
    - Jon: A download manager could be added to

[2021-05-27 23:08] ssarrafan commented on #340
@jeffbaumes is this one that can be closed or should I move it to June?

[2021-05-28 16:59] ssarrafan opened #394 "Design for portal landing pages"
Requirements and feedback discussed in May, this issue is to work on the design and mock-ups incorporating the discussion and feedback.

Relates to https://github.com/microbiomedata/nmdc-server/issues/342 from May

[2021-05-28 17:00] ssarrafan commented on #342
Closing this issue per @elishawc and created a new issue for June at https://github.com/microbiomedata/nmdc-server/issues/394.  New issue is assigned to @faiza-a

[2021-05-28 17:00] #342 closed

[2021-05-28 23:02] ssarrafan opened #396 "Project/study page and available metadata for BioScales project"

[2021-05-28 23:02] ssarrafan commented on #396
@emileyfadrosh I assigned this to you but let me know if it should be assigned to someone else. The other person listed in my notes to work on this is @dehays

[2021-05-28 23:18] ssarrafan opened #397 "Dashboard for data contributors/download count - Scoping"
Scoping and design for the download count on the portal

[2021-05-28 23:19] ssarrafan opened #398 "Dashboard for data contributors/download count - Implementation"
Implement once scoped and requirements are done per https://github.com/microbiomedata/nmdc-server/issues/397

[2021-06-02 22:15] dwinston opened #399 "Accept <return> keypress to submit KO term for search"
![image](https://user-images.githubusercontent.com/1497854/120558931-2f596880-c3ce-11eb-8cb8-76525d35e77f.png)

It took me a bit to figure out that I *had* to click the plus (+) button to submit a search for a KO term. I would like to be able to paste in a KO term ID and press `<return>`/`<enter>` to submit the search.

[2021-06-02 23:55] ssarrafan commented on #340
I'm moving this to the June sprint.  @jbeezley please let me know if this is something that should be assigned to someone else.

[2021-06-03 00:10] pvangay opened #400 "x axis labels in upset plot"
can the omic types be reordered MG, MT, MP, MB, NOM? so it'll be more consistent with how other things are ordered.

also, i really like that there are tooltips to explain the acronyms but they're not obvious at first. could we replace the x-axis labels with icons derived from a [figure](https://drive.google.com/file/d/1w9P7I26lsp1EKr2m3RplvtLz4epU9h6D/view?usp=sharing) that our creative services

[2021-06-03 00:14] pvangay commented on #392
btw @mslarae13 noted that this happened when she was on the VPN... is that expected?

[2021-06-03 00:17] mslarae13 commented on #392
After conversation with @corilo , yes that was expected. but it's fixed! So I'm going to close this issue as it's been solved

[2021-06-03 00:17] #392 closed

[2021-06-06 04:32] emileyfadrosh commented on #396
As the metadata records have already been created in GOLD (https://gold.jgi.doe.gov/study?id=Gs0154044), the following process will apply:
- [ ] @jagadishcs to review records for the 217 metagenome biosamples and curate with EnvO terms
- [ ] @dehays will coordinate with @StantonMartin for additional fields for soil chemistry, ect to be included
- [ ] @dehays @elishawc add topic for discussion abou

[2021-06-08 14:39] faiza-a commented on #354
Updated [UI Mockups](https://www.figma.com/file/0asbM3ww4PyYv3G6iCS4MG/Bulk-Download?node-id=0%3A1) based on feedback in Sync meeting on 06/03/21

[2021-06-09 00:22] jagadishcs commented on #396
@emileyfadrosh
Reviewed the biosamples of a BioScales project (GOLD study ID Gs0154044) and shared for update in GOLD.

[2021-06-10 14:30] jbeezley commented on #390
The API for this is described in #383.

[2021-06-13 22:57] dehays commented on #354
@jbeezley If I understand correctly - what you really need from microbiomedata/nmdc-schema#20 isn't simply access to descriptions (which are already there, but not used, on all data objects) but a file type attribute on each data object to allow the UI discussed here to do filtering by file type.  Am I missing something?

[2021-06-14 16:21] jbeezley commented on #354
No, I don't think you are missing anything.

There is definitely a confusion about "file type" and "description".  It appears to me that the "description" is just some free form text that isn't validated (or as you noted displayed in the UI).  The file type on the other hand, is an enumerated type that we can do querying on.

[2021-06-18 12:16] faiza-a commented on #394
@elishawc @pvangay

I have the following questions regarding study landing page based on our discussion:

1. Do we have an example funding information that will be retrieved from the metadata schema to display. e.g Name, ROR, Proposal DOI etc. And can a study have multiple funding agencies.
2. Could you share example(s) of graphic/figure for visual representation of study, and its purpose. and wou

[2021-06-18 19:53] pvangay opened #408 "Make buttons on study landing page clickable"
Sorry if this was captured elsewhere, I can't find it.

Users tend to think these gray buttons are clickable. Whether they take the user back to the search page with the study and omic type selected, or something else, it would be great if these were interactive.
![image](https://user-images.githubusercontent.com/7374085/122610237-24404280-d034-11eb-834a-1349a5b12684.png)

[2021-06-20 18:35] elishawc commented on #394
1. @dehays will have to help here re: schema example and if projects >1 funding agency (I assume yes as FICUS are both JGI and EMSL?)
2. Example graphics could be images from a publication (infographic or data graph), or sampling trip (camera photo), or a map showing sites where sampling occurred, etc.
3. That should prob be a team level conversation (@ssarrafan - maybe tech sync?), as I am not su

[2021-06-22 11:57] subdavis commented on #354
UI still needs to be completed

[2021-06-22 13:46] jeffbaumes opened #410 "Collection date should be available on the sidebar"
Collection date is filter-able via the chart but it does not appear in the sidebar. I believe this was an oversight and should be added.

[2021-06-23 19:42] ssarrafan commented on #397
Removing from sprint per email thread with @kfagnan and @jbeezley

[2021-06-23 19:43] ssarrafan commented on #398
Removing from sprint per email thread with @kfagnan and @jbeezley

[2021-06-23 20:05] #354 closed

[2021-06-23 20:30] faiza-a commented on #394
@elishawc @pvangay @mar-rudolph @emileyfadrosh @ssarrafan

Here is the (updated) [Figma mockup](https://www.figma.com/file/mHzrlWcCDkAX6WcuDcVzQI/Study-Landing-page-design.?node-id=0%3A1).

Please share if there are any changes / suggestions.
comments can also be directly added anywhere on the mockups. Using 💬 icon on the top right corner in Figma. (to add comments you will need to sign-up on Figm

[2021-06-23 23:17] elishawc commented on #394
@faiza-a - this looks great!

We might want to rethink the ? near team, as that might want to link out to an external project website, and put reference to CRediT somewhere else. For example we prob should add it to the lead PI name and could put a link to more information in that instance?

Otherwise, I think it is prob ready for feedback during a tech sync (@ssarrafan ?)

[2021-06-24 00:30] ssarrafan commented on #394
I've added it as an agenda item for next week's NMDC Sync.  @faiza-a can you make it on 6/30/21 at 2 pm (PST)?

@kfagnan

[2021-06-24 01:14] faiza-a commented on #394
@ssarrafan  Yes I can

[2021-06-24 17:45] ssarrafan commented on #394
Great!  @faiza-a how much time would you like for this at the meeting?  Would 20 or 30 minutes be enough?

[2021-06-24 18:36] faiza-a commented on #394
@ssarrafan Yes 20 mins should be enough.
@elishawc Thanks for the review.
I moved the reference to CRediT to the PI name. Let me know if you want any other changes.

[2021-06-28 17:17] subdavis opened #422 "Feedback for bulk download"
* Tooltip or disabled if user is not logged in to show feature is available.
* Terms and conditions accept dialog on download bulk
* Tooltip on checkmarks for "included in bulk"
* Put query sample count in bulk control cluster.

[2021-06-28 21:54] jeffbaumes opened #423 "Add three links to the top of the portal for documentation"
@emileyfadrosh asked for these links to be added to the header:

* NMDC Home: https://microbiomedata.org/
* Metadata Standards: https://microbiomedata.org/metadata/
* Bioinformatics Workflows: https://microbiomedata.org/workflows/

I'm thinking for now to just have them on the right, to the left of login information. They could also be on the left to the right of the NMDC logo, I have no real pref

[2021-06-29 01:26] #423 closed

[2021-06-30 19:47] ssarrafan commented on #365
@emileyfadrosh suggested holding off on this till September 2021. I've added the backlog label and removed from the sprint.

[2021-06-30 19:54] ssarrafan commented on #394
@faiza-a, @elishawc @pvangay is it ok to close this issue today for the end of the sprint?  I know there may be additional ongoing refinements and updates but for the most part can we consider the design done?

[2021-06-30 19:55] elishawc commented on #394
I believe so - let's see how Tech sync goes before you officially close.

On Wed, Jun 30, 2021 at 12:54 PM ssarrafan ***@***.***> wrote:

--
Elisha M Wood-Charlson, PhD (she/her)
KBase <https://kbase.us/> User Engagement Lead; @DOEKBase
<https://twitter.com/doekbase>
NMDC <http://microbiomedata.org/> @microbiomedata
<https://twitter.com/MicrobiomeData>
Lawrence Berkeley National Laboratory
LinkedI

[2021-06-30 19:56] subdavis commented on #366
It's the end of the sprint and I haven't been able to finalize this.  I would like to get it done before the portal promotion that was delayed to next week, but technically it will be in the next sprint.  I'm hoping to have this done by the end of this week.

[2021-06-30 20:39] ssarrafan commented on #366
Thanks for the update @subdavis. I will move it to July.

[2021-06-30 21:53] ssarrafan commented on #394
@faiza-a presented at the Tech Sync today.  Designs may require some additional updates or iterations but mostly design phase is done. Thank you @faiza-a. Looks great!

[2021-06-30 21:53] #394 closed

[2021-07-01 16:04] ssarrafan opened #433 "NMDC portal test instance"
Set up test environment for NMDC portal so changes can be tested and not pushed to production without review/QA

[2021-07-01 16:08] ssarrafan opened #434 "Implement study page design updates finalized by Faiza in June"
Implement Faiza's design changes for study pages.

[2021-07-01 16:12] jbeezley commented on #433
There are actually two instances of the portal running.

http://lb.nmdc.production.svc.spin.nersc.org/
http://lb.nmdc-dev.development.svc.spin.nersc.org/

The domain currently points at the second (development) URL.  We should move the domain to the second URL, which is only updated manually.

[2021-07-01 18:56] #422 closed

[2021-07-01 18:58] subdavis commented on #433
We will need to discuss how to make changes in our workflow to address this.

For example, should we have a new "stage" branch that goes to the QA environment, and then merge to main in more batched releases at the end of the sprint?

[2021-07-01 20:14] subdavis opened #436 "Outstanding issues for June"
Outstanding issues for June

- [x] Make sure checkboxes come back (latest chrome)
- [ ] Histogram timeline is now looking poor and needs polishing.
- [x] Would it be possible to simply NOT display the scientific objective on the study view
- [x] Hide data objects that are missing type and description.
- [x] Need to put descriptions in data object table (https://github.com/microbiomedata/nmdc-serve

[2021-07-05 15:05] #436 closed

[2021-07-06 19:49] ssarrafan commented on #433
Good to hear there are already 2 instances.  @subdavis I hope it's ok to assign this to you.  Let me know if you'd like to discuss it at this week's meeting or if the discussion needs to happen just on the Kitware side.

[2021-07-06 20:30] subdavis opened #442 "Move docker image to microbiomedata org."
In order to get the docker images for the portal out of Kitware's exclusive control and into a place where NMDC can own them, we'd like to move these images to github container registry in the microbiomedata github organization.

I will need to work with an administrator of the microbiomedata github org to get this set up correctly.  In particular, my github account, subdavis  will need permission

[2021-07-06 22:02] subdavis commented on #366
This is in progress.  Need to get clustering working, I'm just running into [apparently known] [issues with icons](https://vue2-leaflet.netlify.app/quickstart/#marker-icons-are-missing).

I expect this to be completed and deployed tomorrow.

![Capture](https://user-images.githubusercontent.com/4214172/124671860-1ee05600-de84-11eb-957c-167a7f0f4392.PNG)

[2021-07-06 22:12] dehays commented on #433
@subdavis Yes, the straight forward approach I think is what you suggest:  a 'stage' or 'dev' branch that is the branch deployed to  the http://lb.nmdc-dev.development.svc.spin.nersc.org/ instance.

Then for production release, merge tested / blessed stage to main. Tag it with a release version and use main to update http://lb.nmdc.production.svc.spin.nersc.org/

Once what is running on http://lb.

[2021-07-07 17:50] #366 closed

[2021-07-07 22:52] ssarrafan opened #446 "S4G2 - Website for metadata submission, Initial Design for submission page"
This is step 8 of Goal 2 for the July sprint.

Initial design for the site (Faiza)
- Depends on scoping from see https://github.com/microbiomedata/nmdc-metadata/issues/378
- Design validation with the team - Emiley, Pajau (usability check), Brandon, Jeff (feasibility check)

[2021-07-08 18:13] ssarrafan commented on #363
Discussed with @emileyfadrosh and @pvangay and changed priority to medium.  Adding to July sprint to start analysis if possible.

[2021-07-08 18:14] ssarrafan commented on #360
Not actionable at this time per @pvangay. Closing issue.

[2021-07-08 18:14] #360 closed

[2021-07-08 19:30] jeffbaumes opened #447 "Add new workflow execution mode for transcriptomics to pilot database"
From Jon Beezley:

It's not too hard to add, but I don't really have time to do it, so I'm putting this together to summarize the places where you need to make changes to add it in.  There are many workflow types that all behave the same, so it is fairly mechanical to do.

I *think* this sums up the changes that are necessary:

- [x] Add new models following the example at:
https://github.com/micr

[2021-07-08 20:19] ssarrafan commented on #434
Moving this to August sprint per discussion with @emileyfadrosh  and @pvangay.  Implementation will be after Pajau gets more feedback from researchers and additional discussions with the schema team.

[2021-07-08 23:01] pvangay opened #448 "Sample metadata issues from Chris"
Consolidated issues that haven't already been captured elsewhere from @cmungall's [document](https://docs.google.com/document/d/1IA5MfLbIdI9TzukcC6beocnuh_ovEdmY521KXaGk_7g/edit#) here:

- [x] Allow for alternative ways to search for KEGG terms (e.g. by function name instead of KO term)
- [ ] Make sure that units are explicit in the data object (i.e. Depth search is in cm, but this field is stored

[2021-07-09 12:02] dwinston opened #449 "do not show biosample add_date or mod_date in the portal"
The `add_date` and `mod_date` fields in `biosample_set` documents reflect a parochialism of the JGI GOLD database, and thus [should not be displayed in the data portal](https://github.com/microbiomedata/nmdc-schema/issues/8#issuecomment-876915782).

Closes microbiomedata/nmdc-schema#8

[2021-07-09 12:52] subdavis opened #450 "Changes for Monday 7.12.21"
- [x] Left search bar, KO terms, clarify that its limited to samples that have queried KO terms (see row 6 of the testing spreadsheet)
- [x] Left search overall, please remove the following from the list [1]
- [x] Left search overall, please rename “geo loc name” to “geographical location name”
- [x] Left search, latitude, sometimes the boxes around the numbers turns red, determined that it’s a bu

[2021-07-09 13:08] subdavis opened #451 "Ability to enable or disable data at the study level"
We could add an "enabled" column at the study level and make sure to adjust all the queries.

This is a great example of something that would be significantly easier to accomplish in ElasticSearch.

[2021-07-09 15:55] ssarrafan commented on #450
Added this to the project board so everyone can see all the work being done.  Thank you!

[2021-07-09 19:39] subdavis commented on #399
closed in #450

[2021-07-09 19:39] #399 closed

[2021-07-09 19:40] subdavis commented on #408
closed in #452

[2021-07-09 19:40] #408 closed

[2021-07-12 01:54] #450 closed

[2021-07-13 20:41] subdavis commented on #400
Add a legend to the bottom explaining the abreviations.  Hold off on images for now.

[2021-07-13 20:44] dehays commented on #433
Per discussion - I will request data.dev.microbiome.org and have it initially point to http://lb.nmdc.production.svc.spin.nersc.org/

Once http://lb.nmdc.production.svc.spin.nersc.org/ has been tested and is what we want - I can switch data.microbiome.org and data.dev.microbiome.org

[2021-07-13 20:46] subdavis commented on #391
* Make it bigger and closer to the sample list.
* Also maybe change "results" to biosamples, but not yet.

[2021-07-14 17:26] dehays commented on #361
@subdavis Spoke with Chris regarding the questions you raised yesterday (How do I proceed?).  The two pieces I think you need to display the EnvO terms as nested in hierarchy are:

1) Only display the Most Recent Common Ancestor (MRCA) for paths in the EnvO graph
2) We (probably @turbomam ) will provide a list of terms to filter out of the display (i.e. the terrestrial body terms)

If you have add

[2021-07-15 12:37] subdavis commented on #385
I understand that CloudFlare was suggested for this.

Cloudflare is a DNS soltuion to this problem that would need to be implemented by the operators of the domain.  It would require a bit of planning because as the nameserver changes propagate, you'd want cloudflare pre-configured to serve the same information as is currently coming from the registrar.

You'd also need to choose to have Cloudflar

[2021-07-15 16:02] dwinston commented on #442
Alternative registries:
- Docker Hub - NMDC has an active DockerHub organization - <https://hub.docker.com/u/microbiomedata>. @scanon @hubin-keio is this a paid account such that e.g. @subdavis can be added to push?
- NERSC runs a Registry using the Harbor software for the Spin platform, where data.microbiomedata.org is hosted - <https://registry.nersc.gov>. Could seek access to that registry via

[2021-07-15 16:12] subdavis commented on #442
https://hub.docker.com/u/microbiomedata seems ideal to me, my user account is https://hub.docker.com/u/subdavis

If I can't get my user account added, I could also make do with a push access token.

[2021-07-15 16:12] dwinston commented on #385
Cloudflare site accounts have a "super administrator" role, which should be a stable NMDC email address.[^1] Then, separate administrator accounts can be created for e.g. @kitware.com emails.

[^1]: e.g. `admin@microbiomedata.org`. @kfagnan I see from https://iprequest.lbl.gov/ that you are a contact for microbiomedata.org's DNS MX records -- could you set up forwarding for a dedicated `@microbiom

[2021-07-15 16:51] jeffbaumes opened #460 "Re-entering GOLD facet not consistent"
If you search e.g. for Engineered then close the popout, then want to edit your selection, some strange things happen. If you re-click the GOLD facet, Engineered is not selected in the tree. If you click on the purple chip on top, it is a slightly different UI for that particular level of the tree (Ecosystem). Ideally the chip would be a "GOLD" chip with the same UI as the overall facet, and appro

[2021-07-15 19:00] #442 closed

[2021-07-15 19:02] subdavis commented on #433
This is nearly complete, and is blocked on getting an SSL certificate for data.dev.microbiome.org

[2021-07-15 19:59] ssarrafan commented on #433
Moving to "in progress".  @scanon can you help with the SSL cert?

[2021-07-15 20:02] ssarrafan commented on #385
Hi @dwinston. Do you see any other contacts besides Kjiersten?  She out till August and unreachable.

I will remove @subdavis from this issue for now and add Donny and myself.

[2021-07-16 19:56] ssarrafan commented on #410
Should I add this issue for the July sprint or is this one for the backlog?  @jeffbaumes @subdavis @pvangay @emileyfadrosh

[2021-07-16 20:13] ssarrafan commented on #447
@zachmullen we had our mid-sprint review today so I'm checking in with folks who have issues for this sprint to see if you need help with anything, are blocked by anything or have any concerns about completing your issue by the end of July.  Let me know if there are any concerns.

[2021-07-17 11:54] #168 closed

[2021-07-17 11:56] subdavis commented on #181
We've had several rounds of iteration since this and I think this issue is out of date.

[2021-07-17 11:56] #181 closed

[2021-07-17 11:57] subdavis commented on #188
this was fixed.

[2021-07-17 11:57] #188 closed

[2021-07-19 12:10] zachmullen commented on #447
Hi @ssarrafan , thanks for checking in. I am not blocked on anything at this point.

[2021-07-19 14:00] subdavis commented on #410
I think I can just do it.   Please add it to the sprint.

[2021-07-19 20:38] jeffbaumes opened #461 "Remove studies column from UpSet visualization"
This confusing to users. They would expect the study count to be the number of studies represented by the samples in that column, where right now they are an independent count of studies that have that particular set of omics types among all their samples.

Since updating the count would involve some nontrivial query rework on the backend, for now it would be best to just remove it.

[2021-07-22 16:55] #447 closed

[2021-07-22 19:29] subdavis commented on #433
This has been done.

[2021-07-22 19:29] #433 closed

[2021-07-22 22:06] jeffbaumes commented on #361
I believe I've been able to describe a process for building the simplified tree in this notebook:

https://observablehq.com/@jeffbaumes/ontology-directed-acyclic-graph-simplification

This in JavaScript but we could implement this similarly in Python on data ingestion and make it available to the client as the static tree to use for navigating EnvO.

@cmungall does this match what you had in mind?

[2021-07-23 22:14] ssarrafan commented on #446
As expected, we won't have the information this week to provide to Faiza so I'm moving this to the August sprint.

[2021-07-26 20:20] subdavis commented on #447
New workflow visible in portal

![Screenshot from 2021-07-26 16-19-59](https://user-images.githubusercontent.com/4214172/127053696-85792cca-153a-4162-aa31-dd965b6d0e63.png)

[2021-07-28 20:30] subdavis commented on #369
Realized today that I don't know how to construct this URL:

Take this for example: https://data.microbiomedata.org/details/sample/gold:Gb0119269

The GOLD ID is Gb0119269

The JGI link is https://gold.jgi.doe.gov/biosample?id=Gb0115840

What should I link to in IMG?  Is this still an issue for me, or is this a schema issue to get the link in mongo and ingest it first?

CC @jeffbaumes

[2021-07-28 20:53] #400 closed

[2021-07-28 20:53] #410 closed

[2021-07-28 20:53] #449 closed

[2021-07-28 20:53] #391 closed

[2021-07-30 21:41] ssarrafan commented on #385
I believe @dehays is looking into Cloudflare.  I'm moving this to August.

[2021-07-30 22:34] ssarrafan commented on #361
@cmungall I will leave this assigned to you for now and move to the August sprint. Let me know if it should be assigned to someone else.

[2021-07-30 22:36] ssarrafan commented on #363
@subdavis can you add any updates on analysis of this to this GH issue so I can close it please.  Or let me know if it should be moved as is to August.

[2021-07-30 22:37] ssarrafan commented on #369
Sounds like this won't be done today. I will move this to August.

[2021-07-31 02:14] cmungall commented on #361
@jeffbaumes - as discussed briefly in the call the other day, I think this is great for a first iteration. I think the step where you make it a tree could lose information that may be relevant to the most optimal trimmed tree, but we can try more later, it will certainly be better than a flat list1

And also as discussed this should take care naturally of filtering the non-informative upper level

[2021-08-04 13:33] subdavis opened #472 "Dev migrations are failing"
[code]

Caused by #471

https://github.com/microbiomedata/nmdc-server/blob/7575a03ca1a5d229b306303264991d7ba500a51e/nmdc_server/migrations/versions/28f470a18472_envo_tree.py#L29

conflicts with earlier migration

https://github.com/microbiomedata/nmdc-server/blob/main/nmdc_server/migrations/versions/cab1403436ff_metatranscriptome.py#L83

Copy/paste?

[2021-08-04 13:40] zachmullen commented on #472
Hm, I didn't edit that file manually or anything, but I must have gotten my local database in a weird state when I made the migration.

On other projects, we have a "check-migrations" step that runs during CI to make sure no migration steps were forgotten or invalid. If it's easy to add something like that with alembic, we should do that.

[2021-08-04 14:09] #472 closed

[2021-08-04 16:33] subdavis opened #474 "Envo Tree API improvements"
It would be good to:

* eliminate nodes that aren't present in the biosamples
* indicate in the response what tree belongs to what facet (I can't tell currently how to pair trees in the list with the existing menus)

[2021-08-04 17:11] zachmullen commented on #474
IIUC, the mapping from each root to the facet is hard-coded based on what @jeffbaumes showed.

* env_broad_scale_id -> ecosystem (ENVO:01000254)
* env_local_scale_id -> geographic feature (ENVO:00000000)
* env_medium_id -> environmental material (ENVO:00010483)

We could put it in the response, but it might make more sense to re-encode that mapping in the client since it's a fixed law of the domai

[2021-08-04 17:11] subdavis commented on #474
Works for me.

[2021-08-04 17:16] zachmullen commented on #474
Actually, on second thought, it probably makes more sense to just change the response from an Array to an Object that maps facet identifier to the root node. I will do that.

[2021-08-04 17:39] ssarrafan commented on #361
@jeffbaumes and @subdavis do you need anything else from anyone for this issue?  Let me know if I can help.

[2021-08-06 16:48] subdavis commented on #474
Getting this error in dev environment

[code]

Is an ingest needed?

[2021-08-06 16:52] zachmullen commented on #474
Yes, I believe an ingest will fix this.

[2021-08-11 20:46] pvangay opened #486 "Logging in with ORCID account clears previous search filters"
If a user applies a complex search query, then finds out that they have to log into ORCID at download and proceeds to log in, their search filters disappear once they're redirected back to the portal.

[2021-08-12 16:48] pvangay opened #488 "Show samples with omics processing first in the sample list"
Can the default sample order be reordered so that the ones with omics data are listed first (and the studies with data coming in the future can be listed last)? It's been a source of confusion during a few chats we've had with folks. It's natural for folks to scroll and poke around without applying any filters first.... so when they get to the sample list (currently, the first page shows samples w

[2021-08-13 21:35] ssarrafan commented on #434
@pvangay do you have feedback from the researchers yet?  Wondering if there will be feedback in time for @subdavis to work on implementing Faiza's design this sprint.

[2021-08-13 21:41] ssarrafan commented on #461
@subdavis any update on this?  Do you need anything from anyone to close this?

[2021-08-13 21:43] ssarrafan commented on #446
Dependent on metadata submission requirements

[2021-08-13 21:47] pvangay commented on #434
we haven't met with any other groups recently -- and the 1 group we did meet with after the decision was made to ask for feedback during the spreadsheet walkthrough sessions ran out of time, so we did not have time to review the study pages. in general, it's been difficult to get in touch with collaborators (summer time / field season).

Two suggestions:
1. do a first pass at what can already be s

[2021-08-13 22:02] ssarrafan commented on #385
@dehays any update on this?  Can I help move this along?

[2021-08-13 22:34] ssarrafan commented on #369
@subdavis let me know if you need help with this from anyone on the NMDC team

[2021-08-13 22:44] ssarrafan commented on #363
@subdavis would you like to present this analysis at a tech sync meeting so we can move to the next step of implementation?

@kfagnan

[2021-08-13 22:48] emileyfadrosh commented on #369
@subdavis is waiting on me, sorry! I will get the list of links posted here next week, very sorry for the delay!

[2021-08-13 23:31] ssarrafan commented on #434
Those sound like reasonable suggestions to me. Thank you @pvangay. Let me know if I can help.

[2021-08-16 16:47] jeffbaumes commented on #363
Throwing in this thought of what to maybe do when a search matches field names and individual values at the same time

![image](https://user-images.githubusercontent.com/81305/129599725-8aa338c3-09db-46b1-9eff-0de6ee692122.png)

[2021-08-17 20:25] jeffbaumes commented on #361
@zachmullen see https://github.com/microbiomedata/nmdc-ontology/issues/4#issuecomment-900597434 for the new data.

[2021-08-18 19:14] subdavis commented on #363
Yes, I'd be happy to present this tomorrow.

[2021-08-19 02:35] emileyfadrosh commented on #369
quick update: I had added a spreadsheet for this other ticket: https://github.com/microbiomedata/NMDC_Planning/issues/83

but this is just a quick-fix, and ideally the IMG taxon_oid would be pulled from the GOLD API. However, we would likely need to put the full url in the schema since GOLD does not maintain the url, only the IMG ID (eg, 3300042813 and not https://img.jgi.doe.gov/cgi-bin/mer/main.

[2021-08-19 17:50] wdduncan commented on #369
@emileyfadrosh as we discussed on metadata call we have an [alternative identifiers](https://microbiomedata.github.io/nmdc-schema/alternative_identifiers/#slot-alternative-identifiers) slot that can hold the ids even if the ids are not web resolvable. Does that suffice for now?

[2021-08-19 17:52] wdduncan commented on #369
If more slots are needed, please be sure to post an issue on [nmdc-schema issue tracker](https://github.com/microbiomedata/nmdc-schema/issues) :)

[2021-08-19 17:57] emileyfadrosh commented on #369
Ok, great, thank you! And sorry, just to clarify: the alternative identifiers can hold multiple records (eg, proposal IDs, IMG IDs, ESS-DIVE IDs)? Thanks @wdduncan

[2021-08-19 18:04] wdduncan commented on #369
@emileyfadrosh Yes, a single record/entity may have multiple alternative identifiers assigned to it. Does answer your question?

[2021-08-23 19:37] faiza-a opened #490 "Remove 'No sub-options'"
![sub-option text](https://user-images.githubusercontent.com/61198087/130508601-51c33ee5-7ab3-4649-9807-4cd594f9d436.png)

[2021-08-24 17:33] subdavis commented on #369
Update:  Because Mongo has `igsn` identifiers and the spreadsheet has `gold` identifiers, I can't match most of the records.   I can match some of them enough to make the schema changes on our side, so I'm not blocked, but I won't be able to populate the portal with all the correct data until I have IDs to join on.

Since changes are now required in mongo, it seems like it might be best to just go

[2021-08-24 23:41] dehays commented on #369
@subdavis I'm going to take care of populating study and biosample records in Mongo with the information from Emiley's spreadhsheet from microbiomedata/NMDC_Planning#83  I'll let you know when this has happened and you can retrieve values during Mongo ingest.  You do not need to parse additional spreadhsheets outside of your Mongo metadata ingest process.

Most of these will appear in the alternat

[2021-09-01 00:43] ssarrafan commented on #369
@dehays and @subdavis I will move this to the September sprint and assign to @dehays.  David once you're done with your part can. you let Brandon know and re-assign this to him please?  If you prefer to have a separate GH issue let me know.

[2021-09-01 00:45] ssarrafan commented on #361
@zachmullen and @jeffbaumes any update on this?  Are you still actively working on this?  I can move it to the September sprint but if you're not working on it I can remove it and add the backlog label.  Let me know. Thank you.

[2021-09-01 00:46] zachmullen commented on #361
I think we can call this one done.

[2021-09-01 00:55] ssarrafan commented on #361
That's great!  I'll close it.  Thank you.

[2021-09-01 00:55] #361 closed

[2021-09-01 19:11] dehays commented on #385
Met with Jay Krous and Georg Rath.  data.microbiomedata.org will be included with the websites under the LBL Cloudflare account.  A generic failover page will be added (nothing NMDC specific) so that the user sees a page like "The service you are trying to reach is not available." rather than getting a 503 response.

Closing this issue.  Can create a new issue of additional requirements are needed

[2021-09-01 19:11] #385 closed

[2021-09-02 17:23] dehays opened #500 "add file as part of Lab IT SSL cert generation for Cloudflare configuration"
@subdavis  Can you add this file with the specified content:

[2021-09-02 18:15] ssarrafan commented on #434
@pvangay @wdduncan can you please link the GH issues required for the study pages to this issue for reference?

[2021-09-02 18:17] pvangay commented on #434
Yes sorry!
https://github.com/microbiomedata/nmdc-schema/issues/122
https://github.com/microbiomedata/nmdc-schema/issues/123

[2021-09-02 22:44] ssarrafan commented on #365
Assigned to @emileyfadrosh to work on requirements.

[2021-09-08 17:46] ssarrafan commented on #362
@zachmullen @subdavis I'm just checking to see if you have everything you need for this issue.  Would you be able to get this completed and available in the portal by the end of this September?  Please let me know if you need anything from anyone on the team or if you're blocked by anything.

[2021-09-08 17:49] ssarrafan commented on #369
@dehays any update on this?  Is the kitware team still waiting for something from you to proceed?

[2021-09-08 18:31] zachmullen commented on #362
Hi @ssarrafan , I am not aware of any blockers at this time but I'm in a preliminary stage on this. I will raise any issues if I encounter them.

[2021-09-08 20:57] dwinston opened #501 "tooltip incorrect for number of omics processing runs"
![image](https://user-images.githubusercontent.com/1497854/132584111-0ff0bded-c3f1-4210-b59b-14497e741e07.png)

![image](https://user-images.githubusercontent.com/1497854/132583905-34bb3065-1033-41eb-bd2c-29d9ca6055e1.png)

There are currently 638 samples (`db.getCollection("biosample_set").count({})`).

There are currently 946 omics processing documents for organic matter characterization (`db.ge

[2021-09-08 21:14] dwinston commented on #501
there may be more than one [omics processing](https://microbiomedata.github.io/nmdc-schema/OmicsProcessing/) run for a given sample.

[2021-09-09 00:09] pvangay opened #502 "Upset plot ideas"
Had some thoughts related to the upset plot and wanted to jot them down.

### order/group by # of overlapping omic types
I saw this recently and really liked it. visually it's easier to find what you're looking for, but could also help in aiding users to understand what we're trying to show here. for our case, y-axis would be 1 omic type, 2 omic types, etc.

![image](https://user-images.githubuser

[2021-09-09 19:32] #501 closed

[2021-09-09 20:17] jeffbaumes opened #504 "Improve UX of timeline chart"
We can emphasize the relationship between interaction and histogram by some method:

* We could add an "overview" static bar chart with reduced height right above the slider (or incorporated into it):

![image](https://user-images.githubusercontent.com/81305/132756306-fd01bbac-6807-4098-96b5-6608315d92d1.png)

* We could forego zoom and just do direct drag-select on the chart:

![image](https://us

[2021-09-09 20:27] subdavis commented on #500
I believe this instruction is coming from https://developers.cloudflare.com/ssl/ssl-for-saas/certificate-validation-methods, is that right?

I'm not sure this is the right way for us to prove ownership.

1. any update to production will break production because the database schema has changed.  I'd have to branch off a commit from several months ago and bypass our existing CI to deploy this as a p

[2021-09-09 20:30] subdavis commented on #504
I was trying to find this earlier but couldn't.  Thanks jeff.

[2021-09-09 21:49] dehays commented on #500
@subdavis I would agree and I have conveyed this to Lab IT.  I find it amusing that I will be asking the same people (Lab IT) to modify the DNS record to provide them adequate proof that we control the domain in order to generate another SSL certificate.

[2021-09-10 13:36] jeffbaumes opened #505 "Facet tooltips"
Pull the description of fields from the schema and display them in the UI. A simple approach would be to just display on hover like the following:

![image](https://user-images.githubusercontent.com/81305/132861686-0799744f-405b-4f11-858f-9f5582f11f98.png)

[2021-09-10 13:43] subdavis commented on #505
I'm not totally sure if tooltips are the best approach here.  It looks fine when you have a 5 word description, but most of the terms here will need more words to provide a useful explanation.  I've traditionally used tooltips as text over icon-only buttons.

For these descriptions, I think it might be better to put them in the dialog that appears after you click the facet.  That's a lot of additi

[2021-09-10 13:46] jeffbaumes opened #506 "View bulk download file count by type without logging in"
Instead of completely closing off the bulk download UI when not logged in, let the user see the file types, counts, and size, but disable download. The new UI might look something like this:

![image](https://user-images.githubusercontent.com/81305/132863131-0f520f04-f6ce-449d-b1ca-520ce2a8c1c3.png)

[2021-09-10 13:51] subdavis commented on #506
I can do this.

It may be worth considering that a user might be frustrated if they don't notice the grayed out download button and spend a lot of time curating a bulk download and then have to start over.  This is similar to the issue where someone sets up a search and then realizes they have to log in, but it delays that realization.

We could potentially look back into passing the active query

[2021-09-10 13:52] jeffbaumes commented on #505
Good point. Feel free to do what makes the most sense. If we want to make it more obvious with less clicking but not make large hovers always appear, we could add small question icons just to the right of every facet name and make the user hover over that. @emileyfadrosh any suggestions here?

[2021-09-10 13:57] jeffbaumes commented on #506
Ah, I wasn't thinking about the fact that query state and bulk download state reset on login. Yeah I think we'd need to have persistent state of those things through login or this would be super frustrating. Could we get that working as well this month or is that too much to take on? Query reset (e.g. when visiting the main NMDC and coming back) was a separate stated frustration from the user inte

[2021-09-10 13:58] subdavis commented on #506
I'm interested in the state persistence problem, so i'll look into that since we're blocked on some other issues right now.

[2021-09-10 16:23] emileyfadrosh commented on #505
Yes, agree with what makes the most sense. Also, we have been working on putting together a user guide [(),](https://docs.google.com/document/d/1ZrQlhvPLg0Unnce-eKG2eew2r2ezY6NH7_XooMsctCM/edit#heading=h.kj1ew0ng77vl) which could also serve the purpose of addressing navigation questions. @jeffbaumes @subdavis how would you like to have this included on the portal? We should have this done by mid-n

[2021-09-10 20:39] dehays commented on #434
microbiomedata/nmdc-schema#121 researcher websites

[2021-09-10 23:14] emileyfadrosh commented on #434
Discussed with @dehays earlier, and will request the following from 7 study PIs next Monday:

- Principal Investigator ORCiD
- LinkOut Webpage
- Associated researchers (name, email, ORCiD, CRediT role)
- Funding Source (Agency, Award #) --> does not have a ticket
- Relevant protocols (github, protocols.io)

Will not request dataset graphic(s) as more discussion is needed, per ticket [123](https://

[2021-09-14 01:06] #474 closed

[2021-09-14 01:11] subdavis commented on #352
fixed a while ago.

[2021-09-14 01:11] #352 closed

[2021-09-14 01:11] subdavis commented on #335
this was done

[2021-09-14 01:11] #335 closed

[2021-09-14 01:13] subdavis commented on #321
resolved by removing study column

[2021-09-14 01:13] #321 closed

[2021-09-14 01:13] subdavis commented on #272
this is the old map

[2021-09-14 01:13] #272 closed

[2021-09-14 01:15] subdavis commented on #262
Closing as a metadata issue, feel free to reopen if I've closed by mistake

[2021-09-14 01:15] #262 closed

[2021-09-14 01:16] subdavis commented on #42
done

[2021-09-14 01:16] #42 closed

[2021-09-14 01:17] subdavis commented on #359
closed by #493

[2021-09-14 01:19] subdavis commented on #110
Issue out of date.

[2021-09-14 01:19] #110 closed

[2021-09-14 01:19] subdavis commented on #122
Done in #477 and #479 and #471

[2021-09-14 01:19] #122 closed

[2021-09-14 01:20] subdavis commented on #127
Effectively implemented by #443 (different behavior, same result)

[2021-09-14 01:20] #127 closed

[2021-09-14 01:21] subdavis commented on #132
out of date.

[2021-09-14 01:21] #132 closed

[2021-09-14 01:22] subdavis commented on #156
done in #471 and followups.

[2021-09-14 01:22] #156 closed

[2021-09-14 01:23] subdavis commented on #163
done in #182

[2021-09-14 01:23] #163 closed

[2021-09-14 01:25] subdavis commented on #192
done in #227

[2021-09-14 01:25] #192 closed

[2021-09-14 01:27] #486 closed

[2021-09-14 01:27] #506 closed

[2021-09-14 12:43] jeffbaumes opened #510 "Searching by ENVO term seems to reset query"
To reproduce:

* Filter by a non-ENVO facet.
* Filter by an ENVO facet. The filter will be replaced, not extended (i.e. all other purple chips go away and are replaced by the ENVO filter.

[2021-09-14 12:46] jeffbaumes opened #511 "For bulk download, display number of files and download size when not logged in"
It would be nice to still display the number of files and total size even when not logged in.

![image](https://user-images.githubusercontent.com/81305/133260053-9b05d39d-85cc-45c7-b2b6-8cc42c3079b8.png)

[2021-09-14 12:49] subdavis commented on #510
Not really sure what happened here, but can reproduce.

[2021-09-14 14:15] #510 closed

[2021-09-14 14:15] #511 closed

[2021-09-14 14:45] #390 closed

[2021-09-14 14:58] #178 closed

[2021-09-14 15:43] jeffbaumes opened #515 "Back button should step through prior filter changes"
Would there be a downside to pushing the URL to browser history on filter change? This would allow the back button to undo changes to the filter.

[2021-09-14 18:45] subdavis commented on #515
I chose `router.replace()` because `push()` seemed to flood the history a bit, but we should check with the NMDC team about this because that was just my personal preference.

[2021-09-14 19:00] jeffbaumes commented on #515
It caused unexpected behavior when I logged in, changed the filters, then pressed back. It gave an error since the browser was trying to go back through the Orcid login redirects (which should be expected to fail). My expectation was to go back to those prior URLs when pressing back. But maybe others will see it differently. If the URL changes frequently with map or timeline interaction, for examp

[2021-09-14 20:19] dehays commented on #369
We have the values for this - so blocked on microbiomedata/nmdc-runtime#23 which I'm told will be available this week.

@subdavis The IMG identifiers that I will add to the alternative_identifiers attribute on study - will look like this: img.taxon:3300009759  The CURIE prefix img.taxon is registered - so you can use this ID to link by using one of the identifier resolution services.  For example

[2021-09-14 21:19] subdavis commented on #369
Excellent, thanks for the update.  If this is the case, I think the new IDs will just appear after the new data ingest.  If they need to be tweaked I can do that.

[2021-09-14 23:50] #505 closed

[2021-09-24 15:38] zachmullen opened #528 "Setup sentry for celery"
Also, while we are messing with sentry, let's make sure it's setup to treat warnings as issues and alert us for them.

[2021-09-29 23:54] ssarrafan commented on #369
@dehays this is part of the change sheets correct?  If so, can we close this issue?

[2021-09-29 23:56] ssarrafan commented on #365
Moving this to "backlog" per the NMDC sync meeting today. FYI @emileyfadrosh

[2021-09-30 23:37] ssarrafan commented on #434
Moving this to the October sprint since it will be a main priority for October.

[2021-09-30 23:46] ssarrafan commented on #369
Checked with David on this and he said to leave this open until @subdavis has been able to implement the links to IMG from study pages. @subdavis can you let me know when it's done so I can close this or close it please?  Thank you

Moving to October sprint for now.

[2021-10-01 21:57] ssarrafan commented on #362
Moving to October's sprint since this is being tested now and part of the October release.

[2021-10-01 22:42] ssarrafan commented on #446
This is prioritized for October so I'm adding this to the October sprint and removing from backlog.

[2021-10-06 18:07] subdavis commented on #505
@dehays reading from https://github.com/microbiomedata/nmdc-schema/blob/main/jsonschema/nmdc.schema.json

[2021-10-08 21:07] ssarrafan opened #537 "October Release Testing Feedback"
This issue is to document and track testing feedback and fixes in one place

[2021-10-08 21:46] ssarrafan commented on #537
Testing feedback from today is noted in the[ testing worksheet ](https://docs.google.com/spreadsheets/d/1wb7eXqDTSOv4KaPy_uGjU0UBqURKBsL-1QlN3dhSxsA/edit#gid=0)and there is a [Google doc](https://docs.google.com/document/d/1GjX9Drj_A-myyIRPKtAPvLz30LoKaAMNELWPk2hg-oM/edit) with screenshots and other details.

- [ ] Two Gold IDs for all samples in Brodie study (already reported on Slack)
- [ ] Spru

[2021-10-11 21:10] ssarrafan commented on #537
@dwinston or @dehays can one of you please add Dr. Schadt's photo from the third page of this [Google doc](https://docs.google.com/document/d/1GjX9Drj_A-myyIRPKtAPvLz30LoKaAMNELWPk2hg-oM/edit) to NERSC or wherever the PI images need to live?

[2021-10-12 17:42] subdavis opened #540 "Undo portal-side data manipulation"
- [ ] Renaming of `nmdc:MetagenomeAssemblyAnnotation` and `nmdc:ReadBasedAnalysisActivity` to handle inconsistent types.
- [ ] Disabling of data objects missing `file_type` and `file_description`.  Data objects without `data_object_type` will not appear in the portal.
- [ ] Disabling of Lipidomics data.
- [ ] Disabling of `gold:*` ids found in `alternate_identifiers` field.
- [ ] Hack to replace "

[2021-10-13 01:40] subdavis commented on #537
Thank you for the detailed report. I can reproduce this now.

[code]

From the data container, I see a 206 return code.

[code]

I can see that each request failes (for me) after exactly 1 GB has been downloaded.  If the download is resumed, it runs until exactly 2GB is downloaded.

I suspect a proxy configuration issue, I'm going to recruit some help from another member of the team tomorrow.

[2021-10-14 15:43] pvangay opened #544 "Show more samples per page"
Feature request (by @SamuelPurvine) to show all samples on one page (also, could specify different numbers of samples per page such as 10, 20, 30)
![image (3)](https://user-images.githubusercontent.com/7374085/137351007-db04520f-c4cc-41ee-864c-053b8475539d.png)

FYI @ssarrafan

[2021-10-14 15:46] pvangay opened #545 "Sort sample list"
(Logging for @SamuelPurvine) Feature request to allow for sorting of the samples list. This needs to be fleshed out more to understand requirements. But jotting this here so that it's captured and can be discuss for prioritization in the future. FYI @ssarrafan.

[2021-10-15 21:16] ssarrafan commented on #362
Released yesterday to production. Closing this issue.

[2021-10-15 21:18] ssarrafan commented on #369
This appears to be done.  Let me know if it should be reopened @dehays @subdavis

[2021-10-15 21:18] #369 closed

[2021-10-19 20:39] ssarrafan commented on #446
@faiza-a I'm just doing a mid-sprint check on this issue.  Let me know if you need more information or if you have any blockers.

[2021-10-29 20:59] ssarrafan commented on #537
Closing this as October release is in prod now

[2021-10-29 20:59] #537 closed

[2021-10-29 22:52] ssarrafan opened #546 "Hyperlink URLs"
Make all URLs hyperlinks (e.g. search facet descriptions, study page descriptions)

[2021-10-29 22:53] ssarrafan opened #547 "NDMC logo link update"
Update upper-left NMDC logo link on data.microbiomedata.org to data.microbiomedata.org (instead of microbiomedata.org)

[2021-10-29 22:55] ssarrafan opened #548 "EnvO triad update on portal"
Update EnvO triad on the portal search (biome, feature, material) to match latest version of MIxS (and the NMDC schema): broad-scale environmental context, local environmental context, environmental medium

[2021-10-29 22:59] ssarrafan commented on #448
I assigned this to @cmungall and @pvangay to make sure we can clarify what we need Kitware to do before we assign it to them.  @dehays can these be discussed at the metadata meeting next week?

[2021-11-18 22:06] ssarrafan commented on #448
This is on the agenda for the metadata meeting on Dec 1st so I'm moving this to the December sprint. @dehays @pvangay

[2021-11-18 22:12] ssarrafan opened #550 "Website for metadata submission - build Faiza's design in Dev"
This GH issue is to build out Faiza's design to incorporate the data harmonizer submission process in a nice UI for users to test and to present at GSP in February

## Progress

Tracked from [this spreadsheet](https://docs.google.com/spreadsheets/d/1TjEV-pC0oyL1AF83EHQFHlvDWAcoHUgoI3MLUTAkVjY/edit#gid=891834841)

- [x] Open metadata using CSV
- [ ] Enter metadata using copy and paste
- [x] Downloa

[2021-11-18 22:12] ssarrafan commented on #550
Based on design by Faiza, referenced in https://github.com/microbiomedata/nmdc-server/issues/446

[2021-11-18 22:14] ssarrafan commented on #446
I'm closing this as the initial design is done and have opened a new issue to build this out in December. @faiza-a @subdavis @emileyfadrosh

[2021-11-18 22:14] #446 closed

[2021-12-02 20:39] subdavis opened #551 "Portal download stats persistence bug"
When re-ingest happens, a bug causes download stats to be lost.  We don't want to lose stats (at least in prod), so this is blocking reingests in production right now.

[2021-12-02 22:17] ssarrafan opened #552 "Explicit units in data object"
Make sure that units are explicit in the data object (i.e. Depth search is in cm, but this field is stored in meters so the search doesn't work correctly). This may be related to [the depth range issue.](https://github.com/microbiomedata/nmdc-metadata/issues/355)

From #448

[2021-12-02 22:18] ssarrafan commented on #552
Brandon, please add T-Shirt size and any questions. Team is trying to get an idea of the time/effort to do this.

[2021-12-02 22:19] ssarrafan opened #553 "Hyperlink every CURIE"
Every CURIE should be hyperlinked: IGSN, GOLD, ENVO. See https://microbiomedata.github.io/nmdc-schema/identifiers.html. When displaying a CURIE, always retrieval minimal metadata to display. MUST have a label field, this should be shown. SHOULD have a description field, this may be shown as a tooltip

Related to #448

[2021-12-02 22:20] ssarrafan opened #554 "Use schema description field for tooltips"
Provide tooltips for every field using the description field from the schema

Related to #448

[2021-12-02 22:20] ssarrafan commented on #554
Brandon, please add T-Shirt size and any questions. Team is trying to get an idea of the time/effort to do this.

[2021-12-02 22:22] ssarrafan opened #555 "Indicate MIxS terms"
Indicate when a term is from MIxS

Related to #448

[2021-12-02 22:22] ssarrafan commented on #555
Brandon, please add T-Shirt size and any questions. Team is trying to get an idea of the time/effort to do this.

[2021-12-02 22:23] ssarrafan opened #556 "Show units for all quantitative values"
All quantitative values should show units, this is stored in the JSON as both the verbatim value (e.g. 0.15m) and as a normalized tuple (value=0.15, unit=m)

Related to #448

[2021-12-02 22:23] ssarrafan commented on #556
Brandon, please add T-Shirt size and any questions. Team is trying to get an idea of the time/effort to do this.

[2021-12-02 22:24] ssarrafan opened #557 "Additions to individual sample page"
Individual sample page - consider adding: omics processing metadata and sample prep metadata, elevation, environmental package

Related to #448

[2021-12-02 22:27] ssarrafan opened #558 "Auto expand non-discriminatory sub levels"
GOLD - if sublevels are non-discriminatory then auto-expand; e.g. if I am looking already at fracking samples, then I have to click 5 times to see

Related to #448

[2021-12-02 22:27] ssarrafan commented on #558
Brandon, please add T-Shirt size and any questions. Team is trying to get an idea of the time/effort to do this.

[2021-12-02 22:28] ssarrafan opened #559 "Display key metadata terms"
Consider showing some key metadata terms (EnvO) with each sample (in the sample results list)

Related to #448

[2021-12-02 22:28] ssarrafan commented on #559
Brandon, please add T-Shirt size and any questions. Team is trying to get an idea of the time/effort to do this.

[2021-12-03 21:45] dehays opened #560 "Add ingest logic to handle transition to all data_objects with file type values in data_object_type"
Current situation is that data_object JSON was provided WITHOUT data_object_type.  This attribute is needed for the portal download function.

Donny updated the existing data_object documents by applying a series of regex patterns on the URL attribute and setting a value for the data_object_type.  However, the value he set is not a value from the enum defined in the schema ( [schema/nmdc.yamnl#L44

[2021-12-03 22:02] dehays commented on #560
[#](https://github.com/microbiomedata/nmdc-runtime/issues/76)

[2021-12-03 22:59] dehays commented on #560
Note that making this change will cause ingest of data_objects to be blocked by microbiomedata/nmdc-runtime#76

[2021-12-06 17:58] subdavis commented on #552
Where are units documented?

I see the info here, but this information isn't really programattically accessible. We are currently keeping our own record of units because the information didn't exist elsewhere, so we can just change the unit to meters short term.

Longer term, we probably want to consume this somehow.

[2021-12-06 18:07] subdavis commented on #555
Please provide information/documentation about how to know if a term comes from MIxS.  Is this consumable from code, or will we need to maintain own mappings?  Where should we be looking for this info?

Thanks.

[2021-12-06 18:10] subdavis commented on #554
I believe this is duplicate of #505

![Screenshot from 2021-12-06 13-09-21](https://user-images.githubusercontent.com/4214172/144899048-60a757a9-7dc7-483e-929e-a1991521b52f.png)

This schema description is in the popup menu because it would be too large for a tooltip.

Can this be closed?

[2021-12-06 18:13] subdavis commented on #559
I'm not sure what this means. Could you provide some examples?

1. As an overview, is there a sort of user story where this information is important?  For example, a user wanting to search by "X" would benefit from seeing "Y".
1. Where in the UI will this appear?
1. How should this be changed to be more useful for users?
1. What sort of heuristic would decide which "metadata" to show if such a dec

[2021-12-06 18:21] subdavis commented on #558
Sorry, I don't fully understand what's being asked here.    Could you provide a screenshot of the view where this change is pertinent?

I'm going to guess that this relates to the screenshot below?

![Screenshot from 2021-12-06 13-17-06](https://user-images.githubusercontent.com/4214172/144900127-6a3542c4-fe3e-4ea4-933e-56539019ae06.png)

"Plants" and "Roots" are "non-discriminatory" and so should

[2021-12-06 18:26] subdavis commented on #557
What kind of data is this and where is it documented?

* Elevation would be easy to add.
* Environmental Package seems like finite terms, so also doable.

I can't find information on the other two.  I'm sure it's doable, but IDK how hard it is to get out of mongo or store.

[2021-12-06 18:33] subdavis commented on #556
Similar to #552, where should metadata about what fields are in what units be stored?

Can depth have values represented in different units?  Can one sample be 15 CM and another sample be 15M?

[2021-12-06 20:15] zachmullen opened #562 "Don't use root logger everywhere"
Prefer the normal python convention of module-scoped loggers using `__name__`.

[2021-12-06 20:49] #551 closed

[2021-12-06 21:36] pvangay commented on #555
@ssarrafan this should be reassigned to Mark M. and Bill. Mark is currently working with Montana to identify sources of each term (where they came from) for display on the metadata submission interface. Once that information is available, hopefully Bill can include that information in the schema so that Brandon can also display it via the portal.

[2021-12-06 21:50] ssarrafan opened #563 "Study page updates"
GH issue for adding changes wanted on the study pages.

12/6/21: Would like the link to ESS-DIVE to be more prominent (logo?). Would like to have a mock-up to share with the ESS-DIVE team on January 24th.

[2021-12-06 21:55] ssarrafan commented on #555
@pvangay ok I've assigned this to Bill and Mark.  Is the expectation that this will be done this month or can I move this to the January sprint?

[2021-12-06 22:19] pvangay commented on #555
good question for @turbomam

[2021-12-06 23:12] pvangay commented on #559
sometimes users have a very specific search criteria in mind. other times, the search starts really broad first, then gets more narrow depending on the results. e.g. user searches for "soil" but may actually be most interested in only tropical soil... yet is able to do their analysis with all types of soil depending on how much omic data is available and the proximity to a location. hence, environ

[2021-12-07 18:22] #547 closed

[2021-12-07 18:22] #548 closed

[2021-12-07 18:22] #552 closed

[2021-12-07 18:22] #562 closed

[2021-12-07 20:54] cmungall commented on #558
you understand correctly @subdavis - an in fact in this case you can also lump in host-associated

I am not sure if the functionality belongs in the widget or in a pre-processing step. Possibly the widget if facets can be dynamically combined

[2021-12-07 21:30] subdavis commented on #555
I'm already consuming `nmdc-schema` repo as a git submodule, so any JSON file that exists in that repo is something I can grab and use.   Other kinds of data (xml, yaml) would probably also be OK, but JSON is preferable.

[2021-12-08 22:21] wdduncan commented on #560
@subdavis FYI the last release of `nmdc-schema` on pypi includes a utility for fetching the file type enums. The command line util is `nmdc-data`:
[code]
`nmdc-data -f filetypeenums` will return a json for the file type enums. E.g.:
[code]

[2021-12-14 18:50] ssarrafan commented on #448
@pvangay and @cmungall would you like me to keep this issue open still?  I've created GH issues for Brandon from the list but let me know if this issue should still remain open until everything is done.

[2021-12-14 18:57] pvangay commented on #448
i think it's already captured elsewhere, makes sense to close.

[2021-12-14 23:09] ssarrafan commented on #552
@wdduncan and @dehays can you help answer Brandon's question about units?

[2021-12-14 23:13] ssarrafan commented on #554
Double checked with Pajau and closing this one since it's a duplicate.

[2021-12-14 23:13] #554 closed

[2021-12-14 23:31] ssarrafan commented on #556
@cmungall @wdduncan @dehays can anyone respond to Brandon's question about where to store the information for units?

[2021-12-14 23:32] ssarrafan commented on #557
@wdduncan and @dehays can you answer Brandon's question above please?

[2021-12-14 23:33] ssarrafan commented on #558
@subdavis do you need more information on this issue?

[2021-12-15 00:06] ssarrafan commented on #448
Closing this issue since the details and tasks are captured in other GH issues.

[2021-12-15 00:06] #448 closed

[2021-12-15 14:45] subdavis commented on #558
Nope, this is clear now, thank you.

[2021-12-29 18:35] subdavis commented on #560
Thanks Will.  That's unfortunately not a great API for me because I'm coming from python.

Instead, I'm going to pip install nmdc-schema and then get the enum dict as `nmdc.FileTypeEnum.__dict__` which will prevent me from having to go through subprocess.

If this CLI is just for me, feel free to drop support for it.

[2021-12-30 15:58] wdduncan commented on #560
@subdavis you can access the file type enums programmatically like this:
[code]
This returns list of dicts with information about each NMDC file enums.
Each dict in the list has the key/values:
[code]
Or you can return the json by calling:
[code]

[2022-01-05 07:33] dehays opened #570 "client display of analysis files groups some files under incorrect analyses"
Shane noticed this and we investigated the following example (though it occurs in other places).

PMI SFA study gold:Gs0103573

For sample:  gold:Gb0115854

MAGs Analysis:

[code]

Two outputs:

1)     nmdc:589ce9d7a9fa089a9a87312086c3fe75 - bin check
2).    nmdc:b81a9e557695141bae1024476147fb3e - bin.zip

But UI also displays a GOTTCHA2 Krona HTML file and a CENTRIFUGE read classification file -

[2022-01-10 18:29] subdavis commented on #570
Thanks for the detailed bug report, I'll take a look.

[2022-01-10 20:48] dehays commented on #557
It is unclear what Brandon is being asked to display and where he would obtain some of this information.

Displaying omics_processing information:  there is little metadata on omics_processing.  When the the sequencing project or MS run occurred, which instrument was used and which facility performed the instrument process.  There could be multiple omics processing per sample (same biosample used

[2022-01-12 02:43] ssarrafan opened #572 "Portal testing feedback- dev"
GH issue to document and track bugs and issues reported in dev for January release

[2022-01-12 02:54] ssarrafan commented on #560
@subdavis are you still blocked on this?

[2022-01-12 03:03] dehays commented on #560
@ssarrafan @subdavis  From today's conversation, I'd imagine Brandon could make the change but I'd suggest it not be merged until Shane and Bill have made updates to data object json (when there will be something that works with the updated Postgres ingest script).

[2022-01-12 16:07] #570 closed

[2022-01-12 16:10] scanon commented on #572
The items I know of are:
* Some data objects show up in the wrong section.  We think this is a UI issue and not a data issue.  @subdavis is investigating
* KEGG search isn't showing any thing for the new metaG.  I'm working on this now.  It may take another day to finish the mongo updates.

[2022-01-12 16:12] subdavis commented on #572
@scanon @dehays Dev has been updated for the #570 issue.  Please verify you now see what is expected.

https://data.dev.microbiomedata.org/?q=ChgIABABGAMiECJnb2xkOkdzMDEwMzU3MyIKFAgAEAIYAiIMIk1ldGFnZW5vbWUi

[2022-01-12 16:16] scanon commented on #572
@subdavis Looks good to me.

[2022-01-12 20:14] dehays commented on #570
Looks good - thanks

[2022-01-12 20:16] dehays opened #575 "simple display issue - in list of samples, label 'Study ID' has the biosample ID as value"
In the list of samples, I believe the intent is to display the study ID for each sample - so change the value following the 'Study ID' label to the study ID that the sample is part of

[2022-01-13 18:13] subdavis opened #577 "Change DOI registry target"
Switch to `url = f"https://bioregistry.io/doi:{doi}"`

[2022-01-13 21:51] jeffbaumes opened #578 "Update UI for navigating validation errors"
The initial prototype of the functionality can be seen in this video near the end, note the long list of red chips along the top:

https://user-images.githubusercontent.com/81305/149414427-c2b5ff3f-fa2a-4906-8711-a9fc1df95523.mp4

@faiza-a made a potential new mockup to condense this view which can be seen here:

https://www.figma.com/file/KUtfSqxhYCn334xkoh2CBr/Submission-Portal?node-id=721%3A35

[2022-01-14 14:54] subdavis commented on #577
No dice.  These are redirects, not a cache.  Here's what's happening.

[code]

`Bioregistry.io -> doi.org -> data.crosscite.org`

Because data.crosscite.org is "under heavy load" and not answering requests, I don't see another way to get this information.  We'll have to either find a true mirror of the DOI REST API from datacite (which I don't think exists) or wait for things to resolve on that se

[2022-01-14 14:54] #577 closed

[2022-01-14 17:41] dehays commented on #577
OK - yuck.  That just adds another redirect.

[2022-01-18 18:58] #560 closed

[2022-01-21 22:51] emileyfadrosh commented on #572
@subdavis I think there is still perhaps (?) an issue with the publication DOIs not resolving for the Bio-Scales project. Please see this screenshot where the "Other Publications" DOI is listed as "(2020). Office of Scientific and Technical Information (OSTI). https://doi.org/10.46936/10.25585/60000017" -- this should probably be removed entirely since the dataset DOI above is the same. Thanks!
<i

[2022-01-23 20:55] dehays opened #584 "display CRediT roles for each researcher on a study"
I see parts to this: 1) where the role values are obtained and 2) displaying them on the study view

1) Each study document from NMDC Mongo has a "has_credit_associations" list.  The credit association objects HAD "applied_role" and "applies_to_person"

The person attributes (name, ORCID) of "applies_to_person" are currently used to display the Team on the study page and provide the on click displ

[2022-01-24 18:19] ssarrafan opened #585 "Investigate auto renewal options for NMDC certs for prod and dev"
Scheduled for March or later. Just adding to backlog for now.

Links to consider:

https://forums.rancher.com/t/ssl-certificate-renewal/18261

https://letsencrypt.org/getting-started/

[2022-01-24 18:42] #575 closed

[2022-01-24 18:42] #546 closed

[2022-01-26 00:11] ssarrafan commented on #563
@faiza-a wondering if you have any questions about this issue?

[2022-01-26 20:32] subdavis commented on #572
@emileyfadrosh the reason for this is that the DOI associated with Bio-Scales is not a "dataset" type DOI according to https://doi.org/api/handles/10.46936/10.25585/60000017

It is a "grant" type.

The "Dataset Citation" section in the UI shows citations for "dataset" types, and everything else is listed in "other publications".  So it's actually the same citation listed twice because at some poin

[2022-01-26 22:03] dehays commented on #572
@emileyfadrosh We should address this in the schema and metadata.  The issue is that records associated with DOIs can be one of several types.  The schema can help specify types (dataset, publication, award). For example, a study could have attributes that take list values for 'dataset_doi_list', 'award_doi_list', 'publication_doi_list'. The client could then use the attribute to determine how to

[2022-01-26 23:22] pvangay opened #589 "Biosample counts mismatches on barchart vs. upset plot vs. download"
- NOM counts are 996 on the barchart vs. 102 on the upset plot --> i think this is to be expected because there isn't a 1:1 relationship between biosample and NOM data product but I wanted to double check
- Metagenome counts on barchart vs. upset plot off by 1
- Total num biosamples are different on upset plot (623) vs. bulk download (654)

[2022-01-27 00:11] dehays commented on #589
654 is the number of biosample docs in NMDC Mongo.  I think upset plot displayed sample count is off but will need to investigate to understand why.

[2022-01-27 15:20] jeffbaumes commented on #589
Yes I believe this is the case.

Looks like there is a metagenome not associated with a biosample in one of the studies. When I download the QC stats files for the "Deep subsurface shale" project, I get this, so Gp0119870 seems to be the culprit:

![image](https://user-images.githubusercontent.com/81305/151387829-87d57e3b-d23a-4af6-89ed-a28ff3ea8132.png)

This might also explain the total biosampl

[2022-01-27 15:34] faiza-a commented on #563
@ssarrafan Could you please point me to the logo we are referring here. and what was the ask. i need to refresh my memory on this.

[2022-01-27 16:33] ssarrafan commented on #563
Hi @faiza-a,
The logo is the one at the top of this site https://ess-dive.lbl.gov
But I think we need some information from @emileyfadrosh on where she wants the logo.
The meeting on Jan 24th was canceled so we have till mid-February.  Let's discuss with @emileyfadrosh when she's back next week.

[2022-01-27 17:20] dehays commented on #589
microbiomedata/nmdc-metadata#435

[2022-01-27 21:46] subdavis opened #591 "Submission portal feedback"
Thread for issues and feedback related to https://data.dev.microbiomedata.org/submission/study

[2022-01-28 19:26] ssarrafan commented on #572
Closing this, portal updated and release done.

[2022-01-28 19:26] #572 closed

[2022-01-28 23:04] ssarrafan commented on #555
@wdduncan can this issue be closed?

[2022-01-29 00:32] ssarrafan opened #592 "Submission Portal - Save study and biosample metadata submitted through the DH editor."

[2022-01-29 18:16] wdduncan commented on #555
@ssarrafan I do not know. What do you think @subdavis ?

[2022-01-31 14:18] turbomam commented on #555
Sorry, I'm late to the game.

Where should it be indicated that a term comes from MIxS?

If a term is to be used in the NMDC DataHarmonizer, it will be marked with a `disposition` of `borrowed` or `use as-is` on the [mixs_packages_x_slots tab of Soil-NMDC-Template_Compiled](https://docs.google.com/spreadsheets/d/1pSmxX6XGOxmoA7S7rKyj5OaEl3PmAl4jAOlROuNHrU0/edit?pli=1#gid=877213473)

[2022-01-31 22:08] subdavis commented on #555
* if possible, it would be great to have a json version of https://github.com/microbiomedata/nmdc-schema/blob/main/src/schema/mixs.yaml in the schema.  A util function is only useful if the resulting json will be checked in.  If a util is added that I need to run myself, it would be easier for me to convert the file myself.
* I'm not totally clear on how this should look in the data portal. Where

[2022-02-01 03:26] ssarrafan commented on #555
Based on the recent comments I will move this one to February.  @turbomam and @wdduncan let me know if it should be in the backlog or assigned to someone else.

[2022-02-02 16:12] mslarae13 commented on #555
I am really late to this game! But saw the message in slack & checked this out.
Is this for the data harmonizer or read the docs / schema definitions?

[2022-02-03 22:44] wdduncan commented on #555
See work discussed in this ticket https://github.com/microbiomedata/nmdc-schema/issues/252

[2022-02-07 16:44] subdavis commented on #592
This was done.

[2022-02-07 16:44] #592 closed

[2022-02-07 16:44] subdavis opened #595 "Switch template source for DH"
From microbiomedata/DataHarmonizer#140

[2022-02-07 21:09] subdavis commented on #490
this was done.

[2022-02-07 21:09] #490 closed

[2022-02-07 21:15] jeffbaumes opened #597 "Documenting the aggregation process"
In preparation for converting KEGG aggregation to happen in mongo before ingest.

[2022-02-07 21:16] jeffbaumes opened #598 "Combine dependabot requests"

[2022-02-07 21:29] jeffbaumes opened #599 "Admin endpoint for retrieving all submitted metadata"
Get metadata submitted to submission portal as a zip of folders containing JSON for study information and TSV of sample metadata.

[2022-02-15 19:13] pvangay opened #601 "Disable checkboxes for JGI metatranscriptome and metabolome"
On the metadata submission [multiomics page](https://data.dev.microbiomedata.org/submission/multiomics):
JGI metaT and metaB omics types are not yet available in the DH template. We should show them so users know they're coming in the future, but please disable the ability to select them.

See: https://github.com/microbiomedata/DataHarmonizer/issues/172

[2022-02-18 20:44] cmungall opened #602 "unusual top level hierarchy for ENVO search"
on opening the broad scale search I see two top level terms:

<img width="480" alt="image" src="https://user-images.githubusercontent.com/50745/154753838-e5d03620-ed4e-423a-8f2a-644ba58be882.png">

* ecosystem
* tropical wetland biome

IMO this is a strange top level of a hierarchy. Most users would expect to see either one root term, or a set of terms roughly balanced at the same level. This is l

[2022-02-22 15:46] jeffbaumes commented on #597
Look for gene function / annotation parts of the code.

Two associations: with metagenome and metatranscriptome.

We'd like to be able to drop some of our large tables that are only used for ingest.

[2022-02-22 17:27] pvangay opened #604 "Add "fit to screen" button to map"
(logging this here so I don't forget about it)

when zoomed into a set of samples, depending on the granularity, the user sometimes has to click 5-7 times to be able to zoom back out to see the full map again (cumbersome when exploring using the map). would be helpful to have a button that brings the user back to the full map view, similar to a "fit to screen" button.

[2022-02-22 17:35] pvangay opened #605 "Error clicking GOLD environment visualization"
Accidentally clicking on the whitespace to the far right of visualization produces an error (i.e. click on the white space next to "Forest Soil").
![image](https://user-images.githubusercontent.com/7374085/155186855-6e53395e-dae5-4b16-9909-cccd5e2a5cb4.png)

[2022-02-22 18:35] pvangay opened #606 "DOI broken in Bioscales study page"
"Other Publications" Link looks odd to be pointing to OSTI for Bioscales. Also, clicking on the DOI takes you to an undefined DOI. @dehays can you help sort out what might be causing this?

![image](https://user-images.githubusercontent.com/7374085/155196466-6e99111f-530c-4bef-946a-d2e94f56f8cd.png)

[2022-02-22 21:52] #550 closed

[2022-02-22 21:52] #591 closed

[2022-02-22 21:52] #601 closed

[2022-02-22 23:26] jkelliher-github opened #609 "Download tsv button giving blank files"
Not sure if this is known, but the 'Download tsv' button in the data harmonizer was giving blank tsvs when I tried to download before hitting the validate button

[2022-02-23 20:05] pvangay opened #610 "n=2 Microbes Persist samples without omic data"
Microbes Persist has 105 samples but only 103 metagenomes. Doesn't seem to be any other omic data associated (at least based on the portal). Are there 2 samples with no omic data?

https://data.microbiomedata.org/?q=ChgIABABGAMiECJnb2xkOkdzMDEyODg1MCI=

![image](https://user-images.githubusercontent.com/7374085/155398882-3e843c66-765a-460b-96b2-982fa5dfdab6.png)

[2022-02-23 20:33] dehays commented on #606
First - all three references to DOIs on the BioScales study page are the same DOI.  It is the DOI associated with the OSTI Award.  Going to the OSTI Award page is the correct behavior.  There are no DOIs here that are associated with either data sets or publications.

Second - The DOI link on the left of the study page and the link out from the "Dataset Citation" section both work.  There is an is

[2022-02-24 14:28] #609 closed

[2022-02-24 21:28] jeffbaumes opened #612 "Append message on KEGG search description"
Add this after the description, maybe set off in its own paragraph if possible or bolded so it's not lost in the longer description: "KEGG search is currently only available for metagenome data."

[2022-02-25 19:39] #612 closed

[2022-02-28 18:10] subdavis opened #615 "Better progress logging in celery"

[2022-02-28 18:57] ssarrafan commented on #555
@wdduncan and @turbomam can we close this issue?  Seems like work is being tracked under the nmdc-schema#252?

[2022-02-28 19:15] ssarrafan commented on #563
Moving to March. Let @faiza-a know via Slack that there are updates on the issue and to reach out if she needs more information.

[2022-02-28 19:25] ssarrafan commented on #555
Removed @wdduncan per his note.

HI Set. Here is an update:
https://github.com/microbiomedata/nmdc-schema/issues/134
This is an ongoing issue that will need to be passed on to Mark or Sujay (not sure which).
https://github.com/microbiomedata/nmdc-runtime/issues/89
I updated the comment on this. I should be able to get the change sheet edit done before I leave.
https://github.com/microbiomedata/nmd

[2022-02-28 21:25] jeffbaumes commented on #597
@mcovalt has been looking mongo aggregations that might replicate MGAGeneFunctionAggregation and MetaPGeneFunctionAggregation in postgres and will document what he finds.

[2022-02-28 22:25] pvangay opened #616 "Update URL in the Contributor Role description"
URL in the description for "Roles" should be https://info.orcid.org/credit-for-research-contribution instead of https://info.orcid.org/credit-for-research-contribution/&sa=D&source=editors&ust=1644213796018471&usg=AOvVaw0gAzMVLEoWTNkuaN_5O3gR. It currently errors out to a page not found.
![image](https://user-images.githubusercontent.com/7374085/156068301-443f63e2-0274-411f-8c2c-b9035f1c5681.png)

[2022-02-28 22:35] jeffbaumes opened #617 "Setup backup process for submission and download counts"
We would need to discuss what risk profile we want to suppress, but a starting point could be to provide protection from catastrophic disk failure at NERSC.

[2022-03-01 13:20] subdavis commented on #616
Just FYI, I pulled these descriptions from https://docs.google.com/spreadsheets/d/1T31B5gbRgS6vuK_lIg0ZLpIyafByWhlvE2hfcCy-c4k/edit#gid=0

If descriptions need to change, could they be updated on that sheet so we have a record when they eventually move into a more permanent location?

[2022-03-03 21:31] jeffbaumes opened #618 "Fix metaT and metaP annotation search"
Currently this search returns no matches on metaT in the bar chart:

![image](https://user-images.githubusercontent.com/81305/156656208-73df195b-edb3-4594-a606-caa063a8b978.png)

We need to discover why metaT are not being populated and fix it so that this search returns 33 matches for metaT in the bar chart.

Some thoughts on the problem from @dehays and others:
* There is a single mongo collecti

[2022-03-03 21:39] jeffbaumes commented on #618
@ssarrafan This is the metaP issue we were discussing today.

[2022-03-03 22:19] ssarrafan commented on #618
Thanks @jeffbaumes. I've added this to the March sprint.

[2022-03-04 19:15] faiza-a commented on #563
Sorry for late response. i was on vacation.
Here are a few variation for placing logo. Let me know if any of these works. or if there are any other suggestions i can quickly create those.
_______
![option1](https://user-images.githubusercontent.com/61198087/156822931-07cbd652-db5b-49cf-aaae-80ebcef050d8.png)
_______
![option2](https://user-images.githubusercontent.com/61198087/156822937-aac05c72-d

[2022-03-04 19:21] pvangay commented on #563
Thanks @faiza-a. I like the last option the best - it's cleanest.

[2022-03-04 19:29] jeffbaumes commented on #563
One other thought is to replace the link icon with the ESS DIVE icon (no words like the last example) which would keep everything else in line. @faiza-a can you show us how that would look?

[2022-03-04 19:33] faiza-a commented on #563
@jeffbaumes
<img width="618" alt="Screen Shot 2022-03-04 at 2 32 11 PM" src="https://user-images.githubusercontent.com/61198087/156829733-ed39150f-c5fb-4f26-a87e-84acc545a9c8.png">

[2022-03-04 23:32] ssarrafan opened #619 "Strategy for metadata submission portal phase 2"
Issue to track the strategy and plans to decouple DH as library instead of app. @subdavis if you have other GH issues please link to this.

[2022-03-04 23:34] ssarrafan commented on #558
Now that GSP is over is this a priority for March? @cmungall @subdavis @turbomam

[2022-03-07 21:07] jeffbaumes opened #620 "Investigate splitting out the submission portal into its own deployment"

[2022-03-07 21:29] jeffbaumes commented on #598
Deemed not important after investigation. Closing.

[2022-03-07 21:29] #598 closed

[2022-03-10 20:49] ssarrafan opened #621 "Create a ReadtheDocs for the development and maintenance of the data portal"
Documentation reframing is part of the April release.
It can be written in md or rst. It should include information about tools used (and versions), databases included, and how everything is maintained.
Please contact @kwdavenport  if you or they need more information.

[2022-03-11 20:28] ssarrafan commented on #621
Here's a link to the current documentation:
https://nmdc-docs-sphinx.readthedocs.io/en/latest/index.html

[2022-03-11 22:02] ssarrafan commented on #563
@pvangay and @emileyfadrosh can you confirm which design you prefer for @faiza-a?

[2022-03-11 22:05] pvangay commented on #563
I think that last image looks great!

[2022-03-11 22:07] emileyfadrosh commented on #563
I prefer the latest version with the logo as the link, and without the link icon. We had a discussion at the infrastructure sync yesterday about doing the same for other resources we link out too. It would be great to follow the same for GOLD, IMG, and NCBI. Attached are the links:

GOLD:
![image](https://user-images.githubusercontent.com/76500011/157977428-77b72f27-2ac9-464d-a1f4-7371012798ce.png

[2022-03-11 22:13] ssarrafan commented on #563
@faiza-a thanks for putting all the options together.  If it's ok I will re-assign this to @subdavis for implementation.

[2022-03-16 20:17] turbomam opened #622 "browsing experience of EnvO terms etc in DH"
Users should have a rich experience of selecting ontology terms within DH. May need changes to DH and or LinkML. For example, could an enumeration be specified as all subclasses of a root term?

see also https://github.com/microbiomedata/nmdc-server/issues/602

CC @jkelliher-github @mslarae13 @cmungall

[2022-03-17 20:11] jeffbaumes commented on #621
Note that the doc page we are looking to fill is here:

https://github.com/yxu-lanl/nmdc-docs/blob/main/docs/guides/data_portal.md

This page should contain architecture details for technical folks, not user-level docs.

[2022-03-17 22:03] ssarrafan commented on #621
Per @kwdavenport you should create the readthedocs in the NMDC-Server repo.
This was discussed at the infrastructure sync meeting today and the goal is to have the documentation done for the April release, by mid-April latest so Karen and team can pull it in and format by April 22nd.

[2022-03-21 20:09] jeffbaumes opened #623 "Document desired API to use DH as a library"
# DataHarmonizer Library

It would be great to be able to consume DH from the NPM package repository and hook it up to an element in the dom.

## Requirements

* All uses of `window` and global variables should be removed.
* Migrate to ES6 modles for library and template type files, which are natively supported by 92.8% of browsers https://caniuse.com/es6-module.  IMO, this is by far the easiest w

[2022-03-25 13:35] subdavis commented on #623
Damion has pointed out that `<script type="module">` cannot be used with `file://` protocol due to CORS.  I thought you could avoid CORS issues with CSP, but I guess you can't.

Modules would be nice, but if we can't use them and have to rely on globals, it doesn't change the general idea behind the desired API.  Instead of `import` you'll just have `window.DataHarmonizer` and `window.DATA` like i

[2022-03-25 15:43] ddooley commented on #623
Yes that looks like a good compromise. To fit existing general purpose functionality I'd keep it that a "var" was declared so that other schemas can be reloaded, ok? And I guess a longer data-harmonizer related name to reduce possible collision. Maybe

var dhSchema = { /* ... */ };

[2022-03-25 16:38] ddooley commented on #623
What would you recommend for a file folder structure? As mentioned on slack, At moment I have this on my linkml-datastructure branch.  (Ignore main.js).  There is now a toolbar.js and there can be a toolbar.html to bring that in along with any dialogues.
![image](https://user-images.githubusercontent.com/4000582/160163282-7b4c0b3a-e7a5-4dd8-a12e-48b3c675cac1.png)

[2022-03-25 16:45] subdavis commented on #623
I don't think it matters too much.  You'll probably want to figure out what files you intend to publish as a package, separate those into their own directory, and include a `package.json` file.

It looks like that `data-harmonizer` folder already does that, so this looks good to me.

[2022-03-29 20:49] subdavis commented on #619
Plans are described in #623 has support from Damion.

I think we can probably mark this as closed?

[2022-03-29 21:07] jeffbaumes commented on #619
I agree. I'll close it.

[2022-03-29 21:07] #619 closed

[2022-03-29 22:39] dwinston opened #630 "add “don’t have an ORCID?” help link"
It is not obvious that orcid accounts are free. We should explain this to users before sending them to orcid.org to create an account.

[2022-03-29 22:40] dwinston commented on #630
Link courtesy of @turbomam

https://support.orcid.org/hc/en-us/articles/360006973953

[2022-03-30 13:11] #621 closed

[2022-03-30 13:13] subdavis commented on #621
@kwdavenport I've made a first pass at this here: https://github.com/microbiomedata/nmdc-server/blob/main/docs/data_portal.md

Please let me know if that provide what you need and if you'd like more detail on any topics.  Thanks

[2022-03-30 22:43] ssarrafan commented on #618
@mcovalt any update on this issue?  Can this be closed?  Does it need to continue to April?

[2022-03-30 22:48] ssarrafan commented on #563
@emileyfadrosh do you want to get feedback from the ESS DIVE team?  Or can we have @subdavis move forward with implementation of this?

[2022-03-31 12:50] jeffbaumes commented on #618
This is being worked on but will not be complete this month so should continue to April.

[2022-03-31 20:26] jeffbaumes opened #632 "Submission Portal - Ability to save/load from a previous session using ORCID"
Users should be able to see and load in-progress and submitted submissions. I believe it makes sense that submitted in-review submissions should not be able to be updated.

[2022-03-31 20:26] jeffbaumes opened #633 "Admin interface for viewing submissions"

[2022-03-31 20:26] jeffbaumes opened #634 "Search by full text name of M and MAP KEGG ids, similar to KO"

[2022-03-31 20:26] jeffbaumes opened #635 "Sort samples by abundance of KEGG matches"

[2022-03-31 20:26] jeffbaumes opened #636 "Display abundance of KEGG matches on each sample"

[2022-04-01 21:00] ssarrafan opened #637 "Set up Netlify for continuous deployment"
Brandon set this up for DH work under the sheetsandfriends repo

[2022-04-01 21:00] ssarrafan opened #638 "Update ingest to not reset user submission data"
Brandon updated ingest to not reset user submission data

[2022-04-01 21:02] ssarrafan commented on #637
Completed by Brandon. Tested and used by Mark Miller. Closing issue.

[2022-04-01 21:02] #637 closed

[2022-04-01 21:03] ssarrafan commented on #638
This is completed per Jeff. Closing this issue.

[2022-04-07 13:25] #616 closed

[2022-04-07 17:26] ssarrafan commented on #632
See states and staging examples drafted by @mslarae13 at https://docs.google.com/document/d/1etdlEgHCkyPCx5LSgf7IJ44tnd3oJ_JttI_C45wQoNg/edit?usp=sharing

[2022-04-07 17:28] ssarrafan commented on #633
See states and staging examples drafted by @mslarae13 at https://docs.google.com/document/d/1etdlEgHCkyPCx5LSgf7IJ44tnd3oJ_JttI_C45wQoNg/edit?usp=sharing

[2022-04-07 17:58] kfagnan commented on #563
This looks good and I think we should move forward with implementation.

[2022-04-07 20:21] faiza-a commented on #563
Based on our meeting discussion
![with gold](https://user-images.githubusercontent.com/61198087/162289230-a1956bf5-dc19-4743-91dd-7c0b5882393e.png)

[2022-04-07 20:28] ssarrafan commented on #563
This looks great @faiza-a.  Approved by the team at the infrastructure meeting today.  @subdavis this is ready for implementation.  Thank you

[2022-04-08 18:21] ssarrafan commented on #585
Thanks @subdavis.  Let me know if I can help with this.

[2022-04-13 17:35] pvangay opened #644 "DH interface - move preparation metadata to a second page"
i think this is probably just the JGI and EMSL section terms - but need to double check with @dehays @mslarae13

Would be good to have sample environmental metadata on a separate "page" from the processing metadata.

[2022-04-13 21:02] turbomam commented on #555
But the `from_schema` may change after further imports/merges.

Yes, switch to `source`

[2022-04-14 17:42] pvangay commented on #644
duplicate - deleting this.

[2022-04-14 17:42] #644 closed

[2022-04-14 18:59] #632 closed

[2022-04-15 12:50] subdavis commented on #633
The April version of this feature is done.  Administrators can see every submission in the system.    There's more work to be done where we add new review states and begin to integrate with other systems.  I believe this is targeted for June.

[2022-04-18 18:11] subdavis commented on #558
This was done a while ago.

[2022-04-18 18:11] #558 closed

[2022-04-18 20:17] jeffbaumes commented on #636
Show all KEGG IDs searched for in "pills" with the count on each sample.

[2022-04-19 00:23] mslarae13 opened #648 "Typos on the NMDC Data Portal - Project landing pages"
The SPRUCE study landing page has a typo in the study description “Focus Area of ORNL”s Climate” … ORNL”s should be ORNL’s

Also,  do we have the ability to subscript the 2 in CO2 ?

[2022-04-19 00:24] mslarae13 commented on #648
Comment from @dwinston  via slack
"
I see that there is (correctly) a single-quote in the nmdc-runtime metadata store (i.e. mongodb): https://api.dev.microbiomedata.org/studies?filter=description.search%3ASPRUCE . I also see that the study name in the metadata store is "Peatland microbial communities from Minnesota, USA, analyzing carbon cycling and trace gas fluxes", whereas the header line on <h

[2022-04-19 01:43] subdavis commented on #648
Probably a string escaping issue somewhere.  That's probably something I can fix.

The portal uses the `title` field if it's available, which is what @dwinston said I should do in [June 2021](https://nmdc-group.slack.com/archives/C01034ES34G/p1625598985155700).  If the title is wrong, it should probably be corrected in mongo?

From Donny: "5 of the 8 documents in the study_set collection have titl

[2022-04-19 02:13] dwinston commented on #648
Ah, right.

[2022-04-19 14:20] #563 closed

[2022-04-19 14:26] subdavis commented on #563
Done, see https://data.dev.microbiomedata.org/details/study/gold:Gs0135149

[2022-04-19 17:14] #634 closed

[2022-04-21 17:34] ssarrafan opened #650 "Ingest EMP500 data to prod for release"
David and Sujay are working on ingest of the EMP500 data to dev. Once this is ok and passes tests in dev we'll need to get it posted to prod next week, by 4/28.

[2022-04-25 17:33] turbomam opened #653 "Make new mini issues from #555, "Indicate MIxS terms""
Slots that are imported from MIxS into the NMDC schema are now tagged with `source` = http://w3id.org/mixs/terms

That's from the `from_schema` annotation that automatically appears when the MIxS terms file is opened with SchemaView. It could change in the future if MIxS changes the filename or the web path. Note that the version of the source schema is not included at this point.

The LinkML YAML

[2022-04-25 17:34] turbomam commented on #555
Solution in https://github.com/microbiomedata/nmdc-schema/pull/292

closing this issue in anticipation of a merge in May 2022