[2022-04-25 17:34] #555 closed

[2022-04-26 21:53] pvangay opened #657 "Update Data Portal menu buttons"
Please replace the top menu items of the Data Portal to the following (in this order, R to L):

1. [Video Tutorial](https://nmdc-documentation.readthedocs.io/en/latest/tutorials/nav_data_portal.html)
2. [User Guide](https://nmdc-documentation.readthedocs.io/en/latest/howto_guides/portal_guide.html)
3. [NMDC Docs](https://nmdc-documentation.readthedocs.io/en/latest/index.html)
4. [NMDC Home](https:

[2022-04-26 22:09] ssarrafan commented on #585
@subdavis do you have any updates on this issue?  I am trying to close out the sprint on time since I'll be off next week.  Thanks for your help.

[2022-04-26 22:12] ssarrafan commented on #618
@mcovalt do you have any updates on this issue?  I am trying to close out the sprint on time since I'll be off next week.  Thanks for your help.

[2022-04-26 22:29] ssarrafan commented on #657
@jeffbaumes and @subdavis this is a "nice-to-have" for Thursday's release. We can move to the May sprint if it's not done this week.

[2022-04-27 00:23] dehays opened #658 "modify ingest of studies to permit credit roles without ORCID values"
Pajau is attempting to update the EMP study with credit roles for the research team.  She does NOT have ORCID values for most of the researchers.

Attempts to run ingest to populate Postgres result in

`Traceback (most recent call last):
  File "/usr/local/bin/nmdc-server", line 33, in <module>
    sys.exit(load_entry_point('nmdc-server', 'console_scripts', 'nmdc-server')())
  File "/usr/local/lib

[2022-04-27 12:04] subdavis commented on #585
No update on this one, I haven't investigated yet.

[2022-04-27 12:34] #658 closed

[2022-04-27 17:37] ssarrafan commented on #585
No problem. I will move this out of the sprint and add the backlog label.

[2022-04-28 14:43] #630 closed

[2022-04-28 14:47] mcovalt commented on #618
I believe this is blocked while waiting for an upstream fix. Some GFF files need to be parsed and included in the metaT JSON before this ticket can be completed.

[2022-04-28 16:16] ssarrafan commented on #618
@scanon @hubin-keio is this something that will be worked on in May or should this be labeled backlog?

[2022-04-28 17:01] subdavis commented on #650
In progress, I'll close this when it's done.

[2022-04-28 17:03] subdavis commented on #633
Continue work in may.

[2022-04-28 18:44] ssarrafan opened #665 "Admin interface for viewing submissions continued"
Continued from April per Brandon.
https://github.com/microbiomedata/nmdc-server/issues/633#issuecomment-1112448844

[2022-04-28 18:45] #633 closed

[2022-04-28 21:14] ssarrafan commented on #635
Removing from the April sprint and milestone.  This issue will require updated requirements and visuals from the NMDC team.  Adding backlog label.
@pvangay @emileyfadrosh

[2022-04-28 21:56] ssarrafan commented on #636
More requirements will be done by the NMDC team. Adding backlog label for reprioritization.

[2022-04-28 23:17] ssarrafan commented on #657
@subdavis @pvangay let me know if this should be moved to the May sprint

[2022-04-29 18:24] ssarrafan commented on #650
Believe this is done so closing this issue. @subdavis feel free to reopen.

[2022-04-29 18:24] #650 closed

[2022-04-29 18:49] ssarrafan commented on #618
Removing from the sprint. Adding backlog label.
@dehays @emileyfadrosh

[2022-05-12 20:26] jeffbaumes opened #668 "Support basic "find and replace" feature"
Search/Replace globally and cell by cell (iterate through and find/replace) would be ideal, advanced feature (nice to have): search/replace within selection.

Also helpful for search/replace of null values. Brandon: may be more complex to implement.

Potential to use google sheets API (to make use of their features)? Brandon to look into this from a technical feasibility? Some drawbacks include re

[2022-05-12 20:26] jeffbaumes opened #669 "Display more navigable errors"
After move from iframes: brandon will explore this from a UI perspective (display more navigable errors on the DH interface) -- may also include enabling users to download this list of errors too (need to understand need for this more).

[2022-05-12 20:26] jeffbaumes opened #670 ""select all" feature to allow users to replace contents of the DH interface"
Look into this to assess feasibility

[2022-05-12 20:26] jeffbaumes opened #671 "It is non-intuitive that "double clicking" is required to reveal the help for each term"
Add help ? icon similar to portal, or hover over.

[2022-05-12 20:26] jeffbaumes opened #672 "Error navigation is non-intuitive (especially for large lists of errors)"

[2022-05-12 20:27] jeffbaumes opened #673 "Add creator, creation date to admin page"

[2022-05-16 16:13] ssarrafan commented on #669
@jeffbaumes let me know if this one is being worked on in May so I can add it to the sprint board. Thanks for creating all these GH issues.

[2022-05-16 16:14] ssarrafan commented on #671
@jeffbaumes let me know if I can add this to the May sprint board.

[2022-05-17 20:33] ssarrafan commented on #673
@jeffbaumes is this slated to be worked on in May?

[2022-05-24 18:37] ssarrafan opened #674 "GSP feedback: Data Portal: Collection date search facet"
Users reported it being very tedious to have to click through to get to the appropriate date using the search facet (e.g. a date in 1990 would require clicking the back button far too many times to get to the correct year). Would like to able to type in a date directly.

User need: Medium
Feasibility: Unknown

[2022-05-24 18:40] ssarrafan opened #675 "GSP Feedback: Data Portal: Collection Date Slider"
Users reported that it's

1. unclear what data this visual represents (user need: medium. suggestion: add a legend or title "Sample Collection Date")
2. that it's difficult to use the slider when selecting exact dates (user need: low if https://github.com/microbiomedata/nmdc-server/issues/674 is implemented)

[2022-05-24 18:42] ssarrafan opened #676 "GSP Feedback: Data Portal: Geographic Location Name"
Users requested to search geographic location name with more resolution than the state name (e.g. City)

User need: Low
Feasibility: Unknown, Unclear if metadata supports this. Next Steps: @turbomam to check if this is feasible.

[2022-05-24 18:46] ssarrafan opened #677 "GSP Feedback: Data Portal: Linking docs to data products"
When exploring the sample list and associated data products, users are interested in understanding how the data was processed.

User need:  Medium

Next Steps: Potentially link to documentation for each workflow activity - need to check with Karen/Julia to see which of the documentation could make sense.

[2022-05-24 18:47] ssarrafan opened #678 "GSP Feedback: Data Portal: IMG Link"
Users had difficulty finding the IMG links near the list of sample names.

User need:  Low
Next steps: Consider adding IMG, NCBI, GOLD logos near the sample names to link out to instead of the text based links. Work with @faiza-a  to see whether this could be mocked up.

[2022-05-24 18:52] ssarrafan opened #679 "GSP Feedback: Data Portal: Improve how "search this feature" works on map"
Users feedback is that it is non-intuitive to click 'search this feature' to apply search. Users expect the map to search as they zoom into the map.

User need: Medium

Notes: @jeffbaumes reported that this is difficult because conflicts with the ability of the map to update automatically when applying other searches. Suggestion is to have the 'search this region' button appear when the user is ac

[2022-05-24 21:00] ssarrafan opened #680 "GSP Feedback: Search EnvO vs GOlD"
Users experienced difficulty understanding which to use and when. Searched for 'terrestrial' and both ecosystem category and broad-scale show up.

User need - medium
Feasibility - unkown

@jkelliher-github started working on this but not a priority for June.

[2022-05-24 21:01] ssarrafan opened #681 "GSP Feedback: Data Portal: Click study name to access study page"
Some users clicked on the title name, checkbox, then > (last). Could be that the arrow is on the far right of the screen.

User need - Low
Feasibility - Make study title name clickable and takes the user to the study page

[2022-05-24 21:04] ssarrafan opened #682 "GSP Feedback: Data Portal: Improve user understanding of upset plot"
When wanting to select samples with multiple omics types, users intuitively used the omics bar plots instead, despite it not being able to produce the correct search results. Users reported difficulty understanding how to use the upset plot.

User need - Medium
Feasibility - Unknown, requires further discussion

Requires broader discussion. In initial conversations, @jeffbaumes suggested we could

[2022-05-24 21:07] ssarrafan opened #683 "GSP Feedback: Submission portal missing fields"
Support needed for when required fields are not available.

User need - Medium
Feasibility - unknown

Implement Missing Fields values ([discussed before](https://github.com/GenomicsStandardsConsortium/mixs/issues/324))

Requires broader discussion. Problematic for non-text fields if we implement support for the allowable fields for missing values.

[2022-05-24 21:10] ssarrafan opened #684 "GSP Feedback: Submission Portal: Resize Column WidUI"
Users requested the ability to more easily resize column widths to show values.

User need - unknown
Feasibility - unkown

Users requested being able to resize by hovering over anywhere near the column borders (and not just near the headers), but this would deviate from how other spreadsheet UIs support resizing.

[2022-05-24 21:15] ssarrafan opened #685 "GSP Feedback: Submission Portal: Add pop-up if user navigates away on first page"
Add pop up if user navigates away from the first page of the submission portal without entering in anything (study page).

Suggested text:
"Before you go, can we help you with anything?"
"Contact us" button with redirect to: https://microbiomedata.org/contact/
OR
"Contact us at support@microbiomedata.org"

Context: After beta release of the submission portal, we realized that several users logged

[2022-05-24 22:46] pvangay opened #686 "GSP Feedback: Data Portal: Add a Fit to Screen feature for the map viz"
Users reported that after clicking into a set of samples, they often have to click zoom out many times in order to reorient where they are in the map.

User need: Low

Suggestion: Have an option to click "Fit to screen" to zoom back out?
Unclear feasibility.

[2022-05-24 23:01] pvangay commented on #684
This feature is supported and functions like all spreadsheet UIs.

[2022-05-24 23:01] #684 closed

[2022-05-31 23:35] ssarrafan commented on #665
@subdavis Are you still working on this issue?  I'm moving to the backlog so I can close the May sprint but let me know if it should be added to the June sprint.

[2022-06-01 20:21] subdavis opened #689 "Add User Models"
## Summary

We need to collect more information about the users in our system.  Right now, our authentication is cookie-based and uses JWTs set by the [OrcID service](https://orcid.org/)

## Requirements

Add a new `User` table to our SQLAlchemy model and create a migration for it.

* Should have `id [primary key]`, `orcid_uuid`, `name`, and `is_admin` columns
* should have a derived property for

[2022-06-01 20:33] subdavis opened #690 "Add Token Authentication"
For methods that require authentication, we need another way for consumers of the system to authenticate without a browser.  Users should be able to fetch an API token from the browser that they can use from CURL or python.

## Requirements

* A tokens model associated with a user (many to one)
* CRUD operations on tokens.
* A way to get a token from the web client.
* Handling for token authentica

[2022-06-02 16:25] #618 closed

[2022-06-02 19:45] jeffbaumes opened #692 "Remove message about scope of annotation search from data portal"

[2022-06-02 19:54] mslarae13 commented on #669
Would highlight in demo

[2022-06-02 19:54] mslarae13 commented on #671
Would highlight in demo

[2022-06-08 15:00] subdavis commented on #623
I think this is done.

[2022-06-08 15:00] #623 closed

[2022-06-08 15:01] #669 closed

[2022-06-10 14:57] DeepikaGhodki commented on #690
A possible approach: using basic authentication where the users can encode their credentials in a predefined format (name:orcid).  This value would be expected in every request as an Authorization header. The header value is decoded and user details are extracted to validate the user on receiving requests.  But due to lack of security, there may not be much merit in using this.

[2022-06-14 17:46] subdavis commented on #578
closed by #703

[2022-06-15 14:04] #599 closed

[2022-06-15 23:02] ssarrafan commented on #668
@mcovalt Today is mid-sprint so I’m checking in to see how you’re doing with your assigned GitHub issues.  Please update this issue and let me know if you’re still actively working on it and it’s on track for finishing by the end of June. If you’re not working on it due to other priorities let me know if you plan to work on it in July or if it should be moved to the backlog for reprioritization.

[2022-06-15 23:03] ssarrafan commented on #670
@subdavis Today is mid-sprint so I’m checking in to see how you’re doing with your assigned GitHub issues.  Please update this issue and let me know if you’re still actively working on it and it’s on track for finishing by the end of June. If you’re not working on it due to other priorities let me know if you plan to work on it in July or if it should be moved to the backlog for reprioritization.

[2022-06-15 23:03] ssarrafan commented on #673
@subdavis Today is mid-sprint so I’m checking in to see how you’re doing with your assigned GitHub issues.  Please update this issue and let me know if you’re still actively working on it and it’s on track for finishing by the end of June. If you’re not working on it due to other priorities let me know if you plan to work on it in July or if it should be moved to the backlog for reprioritization.

[2022-06-16 13:37] mcovalt commented on #668
@ssarrafan This seems to be on-track for being finished by the end of June. My research has led me to consider using the [Handsontable search plugin](https://handsontable.com/docs/8.1.0/demo-searching.html). If everything goes without a hitch, I might have a rough demo for the meeting today (6/16).

[2022-06-16 14:05] subdavis commented on #673
This is on track to be completed in June sprint.

[2022-06-16 14:09] subdavis opened #711 "Add schema for submission portal metadata retrieval."
It's JSONB but that doesn't mean we can't write pydantic validations.

[2022-06-16 14:53] subdavis commented on #689
This was done in #702

[2022-06-16 14:53] #689 closed

[2022-06-16 19:41] jeffbaumes opened #716 "Avoid inadvertent page navigation on horizontal scrolling"
This shows up when using mac trackpad.

Seems there is a potential solution described here:

https://stackoverflow.com/questions/50616221/prevent-page-navigation-on-horizontal-scroll

[2022-06-16 19:53] jeffbaumes opened #717 "Add checkbox to submission portal to mark submission as test data"

[2022-06-16 19:55] jeffbaumes opened #718 "Submission portal jump to column popup covers text area"

[2022-06-16 20:15] jeffbaumes opened #719 "Add raw field name back to column description"

[2022-06-16 20:26] #711 closed

[2022-06-16 21:14] #673 closed

[2022-06-17 17:22] mslarae13 commented on #718
Just checked in dev and this looks fixed!

[2022-06-17 17:39] subdavis commented on #718
I reduced the height of the menu element so that it was less likely to cause a problem, but I would still like to come up with a better solution.

[2022-06-20 17:56] mcovalt opened #723 "Set and test session cookie attributes"
Currently, after the authorization flow with ORCiD is complete, our backend provides the frontend with a session cookie containing the JWT. This cookie is foundational to the rest of our authorization workflow, so it must be secure.

Ensure the following attributes are set on that session cookie:
- HttpOnly
- SameSite: Strict
- Secure

Provide a test on the backend that proves cookie responses set

[2022-06-21 18:07] jeffbaumes commented on #718
Thanks, so we consider this triaged as "fixed" for now, but we're keeping this open so that a more comprehensive fix can come later.

[2022-06-22 14:41] subdavis opened #726 "Upgrade DataHarmonizer in sheets_and_friends"
The version of DataHarmonizer has been upgraded and isn't quite compatible, so I'll need to upgrade some stuff.

[2022-06-23 17:22] subdavis commented on #681
Solved by @DeepikaGhodki in #724

[2022-06-23 17:22] #681 closed

[2022-06-23 17:32] subdavis commented on #604
Let's start by adding a "Reset" button next to the existing "Search this region" that is only available when there are active query terms present for the map search.

So when there are lat/long conditions in the search filter, show a new "Reset" button that clears the search criteria.  This action will automatically trigger updated search, and automatically reset the zoom to the full map.

![Scree

[2022-06-23 17:36] subdavis opened #728 "Improve Ingest documentation"
Update docs since admin auth mechanism has changed.

[2022-06-23 17:48] subdavis commented on #690
Unassigning this issue, we're going to wait on setting up token auth until a little later.

[2022-06-23 19:53] DeepikaGhodki commented on #716
Closed in #727

[2022-06-23 19:53] #716 closed, assigned to DeepikaGhodki

[2022-06-24 16:57] subdavis opened #730 "Add registered users table"
## Summary

* Add a new route, `/users` that shows a table with all registered users.
* This route should only be accessible to site administrators.  This route should not have a button or some way to access the route: you just have to type it in the address bar.
* Each row in the table should show a user's ORCID, name, and whether or not they're an administrator, and should include a toggle switc

[2022-07-01 18:28] ssarrafan commented on #668
@mcovalt can this issue be closed? Or should it continue to July?

[2022-07-01 20:15] mcovalt commented on #668
We should continue it to July.

The feature is done, but we've got nowhere to put it on the page. We need to make the sidebar toggle-able first, which is something @faiza-a and I are currently working on.

[2022-07-07 19:45] jeffbaumes opened #739 "Change omics processing pill logic to ensure study filter is on when clicked"
Currently it toggles the study filter, which could non-intuitively turn off the study if the study was already selected.

[2022-07-07 19:50] jeffbaumes opened #740 "Sample details page fixes"
- [x] Show geo location (city/state)
- [x] Show human-readable text for ENVO terms
- [ ] Show both depth values (min/max) when present

[2022-07-07 19:53] jeffbaumes commented on #740
ENVO and geo location would be great to have in the near term (by July 13)

[2022-07-07 20:29] emileyfadrosh opened #741 "Investigating duplicates identified by the IMG team"
Including two separate cases where duplicates (or triplicates) were identified in the NMDC for metagenomes part of studies:
Gs0128850
Gs0110138

The metagenomes with duplicates are highlighted in yellow in each of the spreadsheets. @scanon had indicated that there are no duplicates in mongo. Thanks @jeffbaumes @mcovalt for investigating.

FYI @ssarrafan @turbomam

[Gs0128850.xlsx](https://github.c

[2022-07-08 19:05] ssarrafan commented on #670
@jeffbaumes @subdavis @mcovalt this is an old issue.  I will re-assign to Matt but let me know if it's not on your list for this month.

[2022-07-08 20:24] dehays commented on #610
@pvangay @mslarae13 @dwinston Ok, suspect there are biosamples for MP that don't have any sequencing projects or analysis.  Donny can confirm that is the case (no omics_processing with those samples as input).  You (NMDC) might make a policy decision to remove samples for which no sequencing or EMSL work is to be added.

Assigning this to Montana as I believe she is most involved in MP.

[2022-07-08 20:29] dehays commented on #606
If this is still an issue, I suggest looking at 1) the attributes on the study JSON document and 2) how the data portal is building the study UI.  That likely means Montana on the metadata management (use the API to examine the study JSON) and Matt/Brandon from Kitware.  I recall there were some study values that were retrieved 'out of band' as short terms fixes to study displays - someone would n

[2022-07-08 20:33] dehays commented on #589
Thought I'd removed the moose rumen sequencing project - but if this off-by-one is still the case,  @dwinston or @mslarae13 could use the delete API endpoint to remove the omics_processing with ID gold:Gp0119870

[2022-07-12 18:21] ssarrafan opened #742 "test issue"

[2022-07-12 23:33] ssarrafan opened #744 "Dev site SSL cert needs to be renewed"
Issue to track the cert renewal. Assigning to Shreyas and Shane.

[2022-07-12 23:46] shreddd commented on #744
I have transferred the DNS point of contact to from David to Shane and Shreyas, so we should be able to request this via certificates.lbl.gov

[2022-07-13 00:07] ssarrafan commented on #585
@shreddd this wasn't the highest priority but wanted to run it by you in case it's easy to do from your end

[2022-07-13 17:53] mcovalt commented on #740
Our ingest only accepts depth as a single float right now. The PostgreSQL schema and ingest will need to be updated to include the depth range.

[2022-07-13 18:43] shreddd commented on #744
New certificates installed in rancher and site updated. Appears to be working

[2022-07-13 18:43] #744 closed

[2022-07-14 16:27] mslarae13 commented on #648
@dwinston & @mcovalt
Checking in on this. Looks like it was fixed. https://data.microbiomedata.org/details/study/gold:Gs0110138

[2022-07-14 20:02] jeffbaumes opened #750 "Update process for using display hints directly from the schema"
Look into a process and verification that display hints from the schema are being utilized properly by the web UI. Specifically, we could look into doing this for the study metadata in the submission portal and ensure we are directly using display hints like the following in the UI:

<img width="689" alt="image" src="https://user-images.githubusercontent.com/81305/179070799-b7ef98bc-bd12-455d-9ef9

[2022-07-21 20:50] #742 closed

[2022-07-21 20:51] ssarrafan opened #752 "Submission portal scrolling issue"
Montana: I can’t scroll to the left again on the submission portal.. I’m in my submission titled “DELETE: Fungal, bacterial, and archaeal communities mediati

[2022-07-21 21:02] ssarrafan opened #753 "Submission portal past - past submissions"
Montana: Would like to request functionality to sort by author in the Past Submissions table

[2022-07-21 21:08] mslarae13 commented on #752
I can’t scroll to the left. I can if I START scrolling right, then switch to left (mac track pad). But I can’t just go left.

I use google chrome, version “Version 103.0.5060.114 (Official Build) (x86_64)”

Julia was having a similar issue
Chrome: Version 103.0.5060.53 (Official Build) (x86_64)

[2022-07-22 13:14] jeffbaumes commented on #752
I'm guessing this is an unintentional bug introduced while fixing another problem, which was that scrolling left on mac inadvertently caused back navigation in the browser. @mcovalt we may want to back out https://github.com/microbiomedata/nmdc-server/pull/727/files and see if that fixes it, then attempt to re-fix the back navigation issue in a way that doesn't have Montana's effect, since this bu

[2022-07-28 18:10] #752 closed

[2022-07-28 19:45] jeffbaumes opened #755 "After processing institution change to enum, update UI to look up enum value"
There will be a change sheet which updates processing institution to be an enumeration with abbreviations of each institution. After that happens and new data is ingested, the portal UI should lookup the enumeration full name and display that instead of the abbreviation.

[2022-07-28 23:10] ssarrafan commented on #726
@jeffbaumes can this issue be closed? I'm sure it's done.

[2022-07-28 23:11] ssarrafan commented on #719
Let me know if you'd like me to add this to the August project board @jeffbaumes.  I'm removing it from the June milestone.

[2022-07-28 23:12] ssarrafan commented on #718
@jeffbaumes I'm going to remove this from the June milestone and add interim fix label to it.  Let me know when it makes sense to add it to a working sprint.

[2022-07-29 12:49] jeffbaumes commented on #726
@ssarrafan Yes, closing.

[2022-07-29 12:49] #726 closed

[2022-07-29 22:49] mslarae13 commented on #589
@ssarrafan This should be an easy fix. Can you bring this into August sprint?

[2022-07-29 22:54] mslarae13 commented on #606
If i'm understanding this issue right. The only DOI that should be listed & is correct is Study : https://doi.org/10.46936/10.25585/60000017

Having this same DOI for the data sets & publications is incorrect. So, these 2 should be replaced with correct DOIs.
I'm assuming Stan or Chris would have the DOI information for these if they exists.

[2022-07-29 23:00] mslarae13 commented on #610
https://data.microbiomedata.org/details/sample/gold:Gb0150425 & https://data.microbiomedata.org/details/sample/gold:Gb0195883

Do NOT have a data type associated. That seems strange. Who would be the best person to check in GOLD for these & confirm they weren't run / why. My best guess is they failed somewhere along the path?

[2022-07-29 23:30] ssarrafan commented on #752
Matt worked on this. Montana checked and it's fixed. Closed.

[2022-07-29 23:34] ssarrafan commented on #670
@jeffbaumes I'll remove from sprint and add the "backlog" label.

[2022-07-29 23:35] ssarrafan commented on #668
Based on the infrastructure sync meeting yesterday this was still top priority so I will move to the August sprint. @mcovalt @jeffbaumes

[2022-07-29 23:42] ssarrafan commented on #740
@mcovalt @jeffbaumes are you planning to work on this in August?

[2022-08-01 12:39] jeffbaumes opened #756 "Show both depth values (min/max) when present"
Split out from #740.

[2022-08-01 12:40] jeffbaumes commented on #740
@ssarrafan Marking this one as closed, and made the new issue #756 to more clearly track the remaining part. We did not yet get indication if this one is high priority for August.

[2022-08-01 12:40] #740 closed

[2022-08-01 17:31] ssarrafan opened #757 "Disappearing data and submissions in submission portal"
Two instances of data disappearing for users trying to submit their data to the submission portal.  @mcovalt can you please help investigate this?  Here are the details from Montana:

Holly Andrews (0000-0002-5173-0826)
Submission started, disappeared… started a new one and the metadata didn’t save

Jianqiu Zheng (0000-0002-1609-9004)
Started and completed submission for JGI sample shipment. But t

[2022-08-02 17:39] turbomam opened #758 "what are the permissible values of the submission portal's status field? what do they mean?"
There are submissions in the dev portal with a `status` value of  "complete" but would not pass basic validation. For  example, they are missing a `sample name`

- 456a82a2-8832-4669-b1a1-7b8fd4a11962
- 99381d12-b9d1-4ab4-a954-14477fcdb286

or a `globally unique ID`

- 3e919e97-0437-4ca7-a758-ac36c45b908d
- 456a82a2-8832-4669-b1a1-7b8fd4a11962

What does complete really mean?

Is there some way to

[2022-08-02 17:45] turbomam commented on #758
Of the 50 submissions in the dev environment, I exclude the following before even getting to the invalid rows filter described above

[code]

[2022-08-02 18:08] turbomam commented on #758
There are currently 68 submission in the prod environment. In addition to "no sample data rows" and "has status value: in-progress", this environment also has submissions that appear to be lacing the header rows

[code]

[2022-08-02 18:42] turbomam commented on #756
We will be migrating away from use of a depth 2 slot, towards a depth slot that has subslots for discrete measurements as well as ranges.

The modeling is complete but changes have not been made to MongoDB yet.

[2022-08-02 19:11] jeffbaumes commented on #756
Thanks for that info @turbomam. Can you add a "blocked on <issue link>" comment here if there's an issue for what you just mentioned?

[2022-08-02 21:18] mslarae13 commented on #757
From Slack
"
[Jeff Baumes](https://app.slack.com/team/UTE1XFADU)
  Matt Covalt and I just had a discussion about the recent issues with unstable user submission data. My best guess is that the addition of tracking and sorting submissions by user caused something to go wrong here, and I unfortunately don't see a route to recover Jianqiu's data. There are long term and short term things to consider

[2022-08-04 01:13] pvangay commented on #674
This was echoed by ESS attendees as well.

[2022-08-04 01:23] pvangay opened #759 "Make help text for Submission Portal column headers easier to find"
ESS attendees reported still not knowing how to access the help text for each column header (currently requires double clicking but this is not obvious) in the Submission Portal.

@faiza-a previously showed mockups showing the help text display. @jeffbaumes really sorry if there's already an issue for this but I couldn't immediately find it. Please help. I believe the decision was to implement wha

[2022-08-04 01:35] pvangay opened #760 "Tour of features of the submission portal for new users"
**Is your feature request related to a problem? Please describe.**
New users of the Submission Portal often are not aware of the main features. Showing popups/overlays that call out the main features would orient users and allow them to learn the interface more quickly.

**Describe the solution you'd like**
Popups that point to different parts of the spreadsheet interface of the submission portal.

[2022-08-04 01:44] pvangay commented on #359
@jeffbaumes the request to select "and" or "or" for various search facets came up during the ESS workshop. I thought it would be relevant to just add it on to this since it seemed similar. Please let me know if you think it should be a separate issue on its own.

FYI @ssarrafan

[2022-08-04 01:54] pvangay opened #761 "Show more sample metadata in map viz"
ESS attendees reported wanting to see more information when clicking on samples in the map viz.
![image](https://user-images.githubusercontent.com/7374085/182745816-2f25c39c-37d1-4454-a65a-c771c2ad4d4a.png)

This is something worth exploring more with the team (brainstorming what else may be useful to show) and/or with users.

[2022-08-04 02:00] pvangay opened #762 "Improve access to individual sample pages"
ESS attendees reported that the right arrow button is easy to miss and not obvious to access more details on the sample.
![image](https://user-images.githubusercontent.com/7374085/182746634-89a84f85-0dd0-49b0-8ae5-290b3b360cab.png)

Options include making the sample name clickable (similar to study) or any other design suggestions by @faiza-a.

[2022-08-04 02:05] pvangay opened #763 "Make all searches enabled with visualizations also available via search facets"
Shreyas suggested that all searches doable via visualizations should be doable via facets as well, starting with the upset plot. This may also help address general confusion with the upset plot (https://github.com/microbiomedata/nmdc-server/issues/682)

This is related to user requests for combining search facets with other logical operators other than OR, which made me think of advanced search: h

[2022-08-04 02:11] pvangay commented on #678
Also reported by ESS attendees.

[2022-08-04 16:43] mcovalt commented on #758
Currently, `status` can only be one of `"in-progress"` or `"complete"`.

A value of `"complete"` _should_ mean that the submission data is finalized per the user and valid per DataHarmonizer. Our current implementation does not allow the user to indicate `"complete"` if DataHarmonizer reports invalid data. The `"in-progress"` status is used for any other state of the data.

I think this is likely

[2022-08-04 18:48] #757 closed

[2022-08-04 19:22] jeffbaumes commented on #728
@mcovalt I believe you said the docs are very accurate at this point, so I'll close. Reopen if I'm wrong.

[2022-08-04 19:22] #728 closed

[2022-08-04 19:43] mslarae13 commented on #757
Discussed at infrastructure sync 08-04. A back up will start being made before any migration. Likely there were updates that caused loss

[2022-08-04 20:27] pvangay commented on #674
Jeff says will likely go with a stricter format approach YYYY-MM-DD

[2022-08-04 22:28] ssarrafan commented on #760
Based on discussion at Infrastructure sync meeting, adding to the August sprint

Also so excited that you're trying the template for new features 👍

[2022-08-04 22:49] pvangay commented on #760
@ssarrafan oh this one wouldn't be worked on for august. sorry if there was confusion.

[2022-08-04 23:13] ssarrafan commented on #760
No problem. I'll remove from sprint and add the backlog label

[2022-08-08 17:22] jeffbaumes opened #765 "Data integrity action plan"
**Diagnosis**. When recent submission table migrations occurred, there was a unsatisfiable constraint on some submission rows that required a user ID. At that point the migration did not succeed, but since it was in its own process, it just hung without reporting an error in a state where those rows were not migrated. Upon the next data ingest, the incomplete data was forcibly made durable by the

[2022-08-08 17:54] jeffbaumes opened #766 "Set up persistent logging"

[2022-08-08 18:48] shreddd commented on #766
Tasks
- [ ] Set up logging directory on CFS (or NFS?)
  - [ ] Decide on naming and directory structure
- [ ] Add config to web services to use persistent logging dir / persistent files
- [ ] Update Rancher config to mount / use persistent logging dirs

[2022-08-09 18:15] mcovalt commented on #766
Yes, that matches how I had expected it to work. CFS for the directory ought to be fine.

[2022-08-12 14:50] dwinston opened #767 "coordinate migration from nmdc-schema v3.2.0 to v6.0.x"
nmdc-runtime (and thus JSON validation for metadata ingest) is currently [pinned to v3.2.0](https://github.com/microbiomedata/nmdc-runtime/blob/5dbf733778cc38cfb1878e191d437bb9894486b7/requirements/main.txt#L1182) ([released March 4](https://pypi.org/project/nmdc-schema/#history)).

I don't want to migrate stuff to v6.0.x (current major version as of August 8) until the portal can handle it. Here

[2022-08-12 17:00] jeffbaumes commented on #767
This sounds like a good plan @dwinston thanks.

[2022-08-16 22:57] mslarae13 commented on #606
Checking in with @emileyfadrosh  before emailing Chris and Stan.

[2022-08-16 23:22] emileyfadrosh commented on #606
Thanks for checking @mslarae13 -- you are correct, only the DOI should be listed for data set citation. No publications yet. I think this was a hack for GSP. Please use https://doi.org/10.46936/10.25585/60000017 for the data set DOI.

[2022-08-16 23:36] mslarae13 commented on #606
Thanks Emiley! So the DOI that's in publications need removed...
That link is broken for me? Says page not found?
Also, isn't that the project or proposal DOI? Not the dataset DOI?

[2022-08-17 12:33] emileyfadrosh commented on #606
Sorry, yes: the DOIs from JGI are proposal-level DOIs, not data set DOIs. Perhaps this needs to be updated in the schema to reflect the correct terms going forward? @mslarae13 @turbomam

[2022-08-18 19:50] jeffbaumes opened #771 "Reset scroll when you visit details page for study/sample"
To reproduce the behavior
1) click on any nmdc study
2) scroll to the bottom of the study page
3) use the back button on the study page (not browser back)
4) select another study or the same study
5) study page displays with the scroll bar all the way to the bottom.

[2022-08-24 18:23] jeffbaumes opened #772 "Fix DOI presentation on study page"
Currently on ingest, the "doi" slot and "publication_dois" slots are [mapped uniformly](https://github.com/microbiomedata/nmdc-server/blob/main/nmdc_server/ingest/study.py#L56-L59) to doi objects, and then the client attempts to [separate them back out](https://github.com/microbiomedata/nmdc-server/blob/main/web/src/views/IndividualResults/StudyPage.vue#L122-L127) by assuming that the dataset DOI

[2022-08-31 19:03] jeffbaumes opened #778 "Move to use more stable JSON instead of list of lists in submission export"
Can happen after #736 is merged and the new export function is available. @pkalita-lbl will make it possible to keep invalid field values so all data can be stored in this method.

Note that keys will be `name` not `title`.

[2022-08-31 19:07] jeffbaumes opened #779 "Store version of template validated against for each submission"
@turbomam will set up a process by which templates are versioned on each change. Once that is done, the submission portal should store this version alongside each submission's data.

This should not be implemented until #736 is merged.

[2022-08-31 19:12] pkalita-lbl commented on #778
I made a DataHarmonizer issue for my part: https://github.com/cidgoh/DataHarmonizer/issues/350

[2022-09-01 18:11] ssarrafan commented on #759
@jeffbaumes @mcovalt are you actively working on this one?  I'll move to September but let me know if you're not planning to work on this in the next 2 weeks.

[2022-09-01 18:12] ssarrafan commented on #755
@jeffbaumes removing this from the sprint and adding backlog label since it's not assigned to anyone yet

[2022-09-01 18:13] ssarrafan commented on #674
@pvangay @mcovalt any update on this?  I'll move to September but if it's not being actively worked on in the next 2 weeks let me know.

[2022-09-01 18:14] ssarrafan commented on #668
@jeffbaumes @mcovalt what's the status of this issue?

[2022-09-01 18:15] ssarrafan commented on #606
@jeffbaumes moving to Sept but if nobody is working on it in the next 2 weeks please let me know

[2022-09-01 18:16] ssarrafan commented on #589
@mslarae13 was this easy fix done?  can we close this?

[2022-09-01 18:47] pvangay commented on #674
@ssarrafan this has been addressed! i saw it live for the first time in yesterday's workshop - worked beautifully!

[2022-09-01 18:48] #674 closed

[2022-09-01 18:53] jeffbaumes commented on #606
The underlying cause and plan for resolution is #772. Please put that one in the Sep sprint.

[2022-09-01 18:54] mcovalt commented on #668
This is still in-progress.

[2022-09-01 18:55] mcovalt commented on #759
This is still in-progress. It's currently the feature I'm working on now.

[2022-09-01 18:57] ssarrafan commented on #772
Adding to Sept sprint per @jeffbaumes

[2022-09-01 18:58] ssarrafan commented on #606
Ok I added 772.  Should it be assigned to Matt?

[2022-09-01 19:06] jeffbaumes commented on #606
Yes

[2022-09-01 20:39] ssarrafan commented on #606
This is a duplicate of #772 so closing this issue.

[2022-09-01 20:39] #606 closed

[2022-09-02 18:57] mslarae13 commented on #589
We never got to discuss it. Hoping there's time at the next metadata meeting.

[2022-09-02 19:03] turbomam opened #780 "env package or entire template name should be displayed in header of submission portal"
Users are currently expected to enter an environmental package value into all rows of their template, even though a global environmental package is captured on a previous screen. The environmental package value must be a constant, and it must agree with the value entered on the previous screen.

It sounds like @mslarae13 needs to see the environmental package when she reviews submissions.

See als

[2022-09-02 20:49] turbomam opened #781 "show but don't require entry of env package"
- [x] #780
- [x] #782

@mslarae13

[2022-09-02 20:49] turbomam opened #782 "or auto-populate the DH tempalte with the env package value captured on a previous page"
Possible alternative to #780

@pkalita-lbl @mcovalt what do you think of auto-populating some DH columns?

[2022-09-06 18:25] mslarae13 commented on #781
Relates to
https://github.com/microbiomedata/nmdc-server/issues/780
https://github.com/microbiomedata/sheets_and_friends/issues/136
https://github.com/microbiomedata/sheets_and_friends/issues/136#issuecomment-1235814783

[2022-09-07 14:53] jeffbaumes opened #783 "Set minimum map zoom when programmatically updating map bounds"
Currently the map zooms very close when the filter updates. Update this to only zoom to something like the state level. Manual interaction should still allow zooming to closer levels to see more detail in sample locations.

[2022-09-07 20:34] mslarae13 commented on #589
- [ ] Get sample IDs to remove for Sujay
- [ ] Then Sujay will remove the sample

[2022-09-07 23:41] cmungall opened #784 "file sizes shown for downloads are incorrect"
Here: https://data.microbiomedata.org/?q=ChgIABAAGAMiECJnb2xkOkdzMDEwMzU3MyI=

<img width="1327" alt="image" src="https://user-images.githubusercontent.com/50745/189001447-3f66698e-95a6-462e-b149-0c1b2a703f70.png">

For RBA it says 3.3KiB for all files but in fact they are up to 1.4gb

[2022-09-08 16:54] pvangay commented on #763
Update based on NMDC planning meeting - focus on implementing just the upset plot via the left hand search facet using logical operators.

[2022-09-08 16:57] pvangay commented on #761
NMDC planning team meeting: punt until the NMDC IDs are established.

[2022-09-08 17:14] #759 closed

[2022-09-08 17:21] #668 closed

[2022-09-13 15:33] mslarae13 opened #787 "Submission portal- when validation is right there's no confirmation"
This morning I went to check a users submission & pressed the validation button like 6 times, cuz I thought it wasn't working, before I realized that everything was just correct.

Would be helpful to have some kinda of "congrats! Your metadata has been validated" banner or notification that validation was run and complete & it's all good.

What does completion of this ticket look like?
- Upon subm

[2022-09-15 16:51] #783 closed

[2022-09-19 21:25] ssarrafan commented on #589
Moving all outstanding issues to backlog to focus team on squad work. @mslarae13 let me know if you plan to work on this this month.

[2022-09-21 21:53] dwinston commented on #648
It was unfixed in the nmdc-runtime store (mongodb). I submitted a changesheet to fix, i.e.

|id|action|attribute|update|
|--|--|--|--|
|gold:Gs0110138|update|description|This study is part of...|

to [/metadata/changesheets:submit](https://api.dev.microbiomedata.org/docs#/metadata/submit_changesheet_metadata_changesheets_submit_post).

Looks like it took: https://api.dev.microbiomedata.org/studies

[2022-09-22 20:08] ssarrafan commented on #675
Assigning to data portal GLADOS sprint per meeting 9/22/22.

[2022-09-22 20:37] pvangay commented on #675
This issue is actually two tasks:
1. Adding a title to this visualization to "Collection Date"
2. Implementing @jeffbaumes's proposal of overlaying a box over the histogram as a way to select dates - replacing the current slider mechanism. This box can be moved along the x-axis (and lengthened/shortened) as needed. The granularity will be coarser - this is okay because users can select and enter i

[2022-09-28 17:42] mslarae13 commented on #589
23 data sets... 24 samples?
This seems like the opposite of  ..

![Screen Shot 2022-09-28 at 10 39 58 AM](https://user-images.githubusercontent.com/44581429/192851887-0cbbed2b-c439-4030-a17b-ddfefeda5130.png)

[2022-09-28 17:47] sujaypatil96 commented on #589
I just used the NMDC runtime API endpoint: https://api.dev.microbiomedata.org/docs#/queries/run_query_queries_run_post to query the `omics_processing_set` slot to look for gold:Gp0119870, but I couldn't find it in there?

So I ran:
[code]
and it returned nothing, meaning there isn't such a record on `omics_processing_set`.

I also retrieved all the Gp's on `omics_processing_set` and looked through

[2022-09-28 18:28] dehays commented on #589
@mslarae13 I'm not sure if you meant to tag me in your comment (maybe you meant Donny).

But I do not believe you want Gp0119870  ( https://gold.jgi.doe.gov/project?id=Gp0119870 ).  Per my comment from January - this is the moose rumen sequencing project.  Initially the biosample had been removed but the sequencing project remained. From Sujay's query 40 minutes ago - it appears the sequencing pro

[2022-09-28 21:57] pvangay commented on #648
FYI via email from @jeffbaumes, we should hold off on ingests until @mcovalt is back from vacation. Hopefully we'll see the changes after that.

[2022-09-29 20:08] jeffbaumes commented on #589
@dwinston removed the related biosample gold:Gb0150262 from mongo just now. Up until now just the metaG processing objects had been removed but the biosample had remained. This still needs to be ingested into the portal database.

[2022-10-04 20:45] ssarrafan opened #790 "Migrate data portal to newest version of schema"

[2022-10-04 20:47] ssarrafan commented on #790
@turbomam can you please point @mcovalt to where the latest version.
Just discussed this with Jeff B. and assigning to the next sprint.

[2022-10-04 21:59] ssarrafan commented on #675
Met with @jeffbaumes and this issue is almost complete but will leave open to demo at the infrastructure sync meeting Thursday before closing out. Moving to the next sprint.

[2022-10-06 20:14] ssarrafan opened #791 "Enable new metaT template on submission portal"
Added during Infrastructure sync meeting per Jeff's request.

[2022-10-06 21:02] naglepuff commented on #675
Part of this change included removing outdated text and adding new text into the box that appears when you hover over the question mark icon in the card with the date histogram.

Old text:
![date_hist_old](https://user-images.githubusercontent.com/7085625/194415764-d72edc22-e958-48d4-a76a-d2125c807b07.png)

New text:
![date_hist_new](https://user-images.githubusercontent.com/7085625/194416585-fbd1

[2022-10-06 21:21] mslarae13 commented on #675
@naglepuff  looks great!

[2022-10-11 18:22] jeffbaumes commented on #790
@turbomam can you point us to the data compliant with the latest schema?

[2022-10-13 18:21] jeffbaumes commented on #791
@turbomam could you create a "legacy" version for this template? @mcovalt is working on #736 next so this won't be a problem in the future, but I think it makes sense to get this in now in the older style as it's more time-sensitive. So I expect this will be the final request for a legacy template.

[2022-10-13 18:53] #675 closed

[2022-10-14 19:28] mcovalt opened #794 "Make submission portal an async component"
The bundle size for our application is very large (9.5mb, 4mb compressed) since we’re now shipping DataHarmonizer (and couple very large schema files with it). We might wish to make this an [async component](https://vuejs.org/guide/components/async.html).

[2022-10-18 18:26] naglepuff commented on #790
Here is the migration script for 7.0:
https://github.com/microbiomedata/nmdc-schema/blob/issue-486-data-to-7-0/util/migrate_7_0.py

[2022-10-18 18:34] turbomam commented on #790
I expect there will be a few more tweaks this week, but I will share a dump minus these two large collections today:

- functional_annotation_set
- genome_feature_set

[2022-10-18 18:57] turbomam commented on #790
I did the following **dump & compress** which generated `mongo_for_nmdc_7.tar.gz`. Where should I put it?

## stats for resulting `mongo_for_nmdc_7.tar.gz`

[code]

## dump & compress
[code]

a dump/nmdc_7_0_0
a dump/admin
a dump/admin/system.version.bson
a dump/admin/system.version.metadata.json
a dump/nmdc_7_0_0/biosample_set.metadata.json
a dump/nmdc_7_0_0/nom_analysis_activity_set.metadata.jso

[2022-10-18 19:20] naglepuff commented on #790
Would the DOE - NMDC google drive work?

[2022-10-18 19:26] turbomam commented on #790
It looks like @ssarrafan is looking into that. I have not found this shared drive useful since the reorganization.

[2022-10-20 18:00] ssarrafan commented on #648
Sure I'll add this to the agenda.

[2022-10-20 18:03] ssarrafan commented on #790
Mark was able to share the file via Google drive. Thanks Wendi.

[2022-10-20 20:25] mslarae13 commented on #648
Matt started an ingest. @mcovalt can you let me know when dev is good / you're ready for me to check SPRUCE

[2022-10-21 18:22] ssarrafan opened #796 "Investigate data portal DB/API unification"

[2022-10-21 19:54] naglepuff commented on #790
This will have to be moved to the next sprint, as I will not be able to complete by EOD today.

[2022-10-21 20:52] mcovalt commented on #648
Ingest is still ongoing. I'm debugging why the ingest has still been stalled. I'll update next week on the current status.

[2022-10-21 20:53] mcovalt commented on #772
We'll need to move this to the next sprint. I'm currently prioritizing ingest failure (see #648).

[2022-10-28 20:37] #772 closed

[2022-11-01 23:15] ssarrafan commented on #790
@naglepuff any update on this one?  Can it be closed?

[2022-11-01 23:19] ssarrafan commented on #796
@jeffbaumes Is there any update on this issue?  Would be great to add any links or other info and close it if you've had time to investigate.

[2022-11-02 14:01] naglepuff commented on #790
I've made some progress on this one, but it can't be closed yet. Once I am reasonably sure that the ingest script and postgres database are properly adjusted for the new schema, we'll need to decide on a method for testing and verification.

[2022-11-02 20:16] jeffbaumes commented on #796
Yes, @mcovalt has done what I believe is the investigation required at this point to have a conversation. We can likely mark this closed after a discussion Thursday, though there will likely be follow up tasks.

[2022-11-02 20:17] jeffbaumes commented on #796
@mcovalt can link to his investigation notes.

[2022-11-03 01:39] mcovalt commented on #796
You bet, [here they are](https://www.notion.so/Moving-away-from-ingest-ec10b276f48f47a78fcff93daaf6bf21). Note: the sections are collapsed by default in Notion. Toggle the triangles to read more in each section.

[2022-11-05 16:13] jeffbaumes opened #800 "Update NMDC frontend to use proxy portal API mirror"
Depends on https://github.com/microbiomedata/issues/issues/19.

[2022-11-05 16:50] jeffbaumes commented on #796
I consider this initial investigation closed at this point. It was resolved from this investigation that for performance reasons we cannot build the search API system solely on schema-compliant mongo documents. There will need to be derived data that is denormalized and/or aggregated for performant search. Currently this derived data is in Postgres but this could potentially be migrated to Mongo,

[2022-11-05 16:50] #796 closed

[2022-11-08 19:39] jeffbaumes opened #801 "Investigate quicker annotation ingest"
Directly aggregating from a mongo query could be faster than first ingesting all raw data into postgres and then aggregating.

[2022-11-08 19:42] jeffbaumes commented on #328
Investigate:
* Making this a shell script that outputs to Rancher
* If it is kept as a celery task, output celery logs to Rancher

[2022-11-10 19:06] aclum opened #802 "Link to “Minimum Information about any (x) Sequence” is broken on https://microbiomedata.org/metadata/overview/"
On https://microbiomedata.org/metadata/overview/   “Minimum Information about any (x) Sequence” points to https://www.gensc.org/mixs/ which is not a valid link anymore
I believe https://www.gensc.org/pages/projects/mixs-gsc-project.html is what we want. Montana to confirm.

[2022-11-10 19:14] mslarae13 commented on #802
I think this is correct about what our intent was.
@turbomam  and I think @sujaypatil96 ? have been helping GSC with updates to documentation and website. They can help inform additional links that might be good?

[2022-11-18 15:54] naglepuff opened #803 "Require python 3.9"
In order to use `nmdc-schema>3.2.0` we need to upgrade the version of Python used by `nmdc-server` to 3.9. We should also update the Python versions in the testing environments.

[2022-11-18 15:58] naglepuff commented on #803
This should be done in its own PR before #797 is reviewed/merged. At first, we should pin `nmdc-schema` to version 3.2.0. Part of #797 should then be to either unpin or pin to version 7.

[2022-11-21 21:58] ssarrafan commented on #790
@naglepuff are you still working on this issue?

[2022-11-22 14:44] naglepuff commented on #790
I've opened PR #797. In order to get this over the finish line that PR needs to be reviewed and merged, and the version 7 compliant data must be loaded into the new dev mongo instance. From there, testing can take place in the dev portal.

[2022-11-22 17:37] ssarrafan commented on #790
Ok would like me to leave this issue open or can I close it since it's now in the PR track.

[2022-11-22 18:07] naglepuff commented on #790
It should probably stay open. Once that PR is merged it should automatically close this issue

[2022-11-22 18:46] ssarrafan commented on #790
ok I'll move this over to the next sprint

[2022-11-29 15:45] #790 closed

[2022-11-30 22:34] naglepuff commented on #328
I haven't dug too deep but this [SO question and answer](https://stackoverflow.com/questions/16658371/how-to-log-exceptions-occurring-in-a-django-celery-task/45333231#45333231) might be worth exploring. Essentially we can create a class that inherits from `Task` and do something custom with the failure cases, such as printing the exception to the log in addition to storing it in the results backen

[2022-11-30 23:02] naglepuff opened #806 "Test migrations in GH actions"
PRs #797 and #804 passed all of our GH action tests, but contained faulty DB migrations. We should investigate modifying our GH action to catch bad migrations.